/* Основное */
.home_breadcrumbs {
  display: flex;
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 37px;
}
.home_breadcrumbs-link {
  font-weight: 400;
}
.home_breadcrumbs-slash {
  margin: 0 6px;
}
.case-title {
  font-size: 70px;
  font-weight: 500;
  margin-bottom: 60px;
}
.case-background {
  width: 100%;
  height: 1080px;
  position: relative;
  overflow: hidden;
}
.case-background img {
  object-fit: cover;
}

/* Сайт */

/* Главная начало */
.home-heading {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 250px;
}
.home-title {
  margin-right: 322px;
}
.home-subtitle {
  max-width: 665px;
  font-size: 20px;
  font-weight: 400;
  line-height: 135%;
  margin-top: 10px;
}
.home-background {
  background-color: #167fae;
}
.home-img {
  width: 100%;
  height: 100%;

  position: absolute;
  left: 0;
  top: 0;
  /* left: 50%; */
  /* top: 50%; */
  /* transform: translate(-50%, -50%) rotate(-15deg); */
  transform: translate3d(0, -30%, 0);
  /* transition: all 0.1s; */
}
/* Главная конец */

/* О нас и задача начало */
.task-body,
.about-body {
  display: flex;
}
.task-title,
.about-title {
  font-size: 20px;
  font-weight: 600;
  white-space: nowrap;
  margin-right: 282px;
}
.task-text,
.about-text {
  display: grid;
  max-width: 865px;
  font-size: 25px;
  grid-gap: 34px;
  line-height: 135%;
}
.about-img-wrapper {
  width: 100%;
  margin-top: 350px;
}
.about-img {
  width: 100%;
  object-fit: cover;
}
.task-img-wrapper {
  width: 1640px;
  height: 920px;
  background-color: #167fae;
  margin: 350px auto 0 auto;
  position: relative;
}
.task-bg {
  width: 811px;
  height: 100%;
  position: absolute;
  z-index: 1;
  right: 0;
  top: 0;
  object-fit: cover;
}
.task-img {
  position: absolute;
  z-index: 2;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: -40px 50px 150px -20px rgba(4, 50, 70, 0.85);
  border-radius: 20px;
}
/* О нас и задача конец */

/* Слайдер начало */
.slider {
  margin-bottom: 350px;
}
.swiperOne,
.swiperTwo {
  width: 100%;
}
.swiperOne {
  margin-bottom: 5px;
}
.swiper-slide {
  width: 635px;
  height: 345px;
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-wrapper {
  -webkit-transition-timing-function: linear !important;
  transition-timing-function: linear !important;
}
/* Слайдер конец */

/* О проекте начало */
.telling-body {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  align-items: start;
}
.telling-cards {
  display: grid;
  grid-gap: 95px;
}
.telling_card {
  display: grid;
  grid-gap: 30px;
  justify-items: center;
}
.telling_card-img-wrapper {
  width: 100%;
  height: 630px;
  position: relative;
  overflow: hidden;
}
.telling_card-img {
  border-radius: 10px;
}
.telling_card-img-wrapper.one,
.telling_card-img-wrapper.four {
  background-color: #b2daf3;
}
.telling_card-img-wrapper.two {
  background-color: #e9e9e9;
}
.telling_card-img-wrapper.three {
  height: 750px;
  background-color: #f6ebc3;
}
.telling_card-img-wrapper .telling_card-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.telling_card-img-wrapper.three .telling_card-img {
  top: auto;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0);
}
.telling_card-img-wrapper.one .telling_card-img {
  box-shadow: -30px 40px 120px -20px rgba(42, 117, 162, 0.5);
}
.telling_card-img-wrapper.two .telling_card-img {
  box-shadow: -30px 40px 120px -20px rgba(118, 118, 118, 0.5);
}
.telling_card-img-wrapper.three .telling_card-img {
  box-shadow: -30px 40px 120px -20px rgba(112, 89, 15, 0.5);
  border-radius: 10px 10px 0 0;
}
.telling_card-img-wrapper.four .telling_card-img {
  box-shadow: -20px 40px 100px -10px rgba(20, 108, 148, 0.3);
}
.telling_card-title {
  max-width: 470px;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  line-height: 135%;
}
/* О проекте конец */

/* Адаптивно начало */
.adaptively-background {
  background-color: #fae390;
}
.adaptively-img {
  width: 100%;
  height: 100%;

  position: absolute;
  left: 0;
  top: 0;
  /* left: 50%; */
  /* top: 50%; */
  /* transform: translate(-50%, -50%) rotate(-15deg); */
  /* transform: translate3d(0, -30%, 0); */
  /* transition: all 0.1s; */
}
/* Адаптивно конец */

/* Сравнение начало */
#page {
  max-width: 1640px;
  width: 100%;
  height: 920px;
  position: relative;
  margin: 0 auto;
  background-color: #ddeff6;
}
.wrapper {
  width: 1200px;
  height: 627px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  overflow: hidden;
  box-shadow: -40px 50px 150px -20px rgba(124, 181, 206, 0.85);
  border-radius: 20px;
}
.before,
.after {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  overflow: hidden;
}
.content-image {
  height: 100%;
}
.after {
  width: 450px;
}
.scroller {
  width: 2px;
  height: 100%;
  background-color: #0066ff;
  box-shadow: 0px 0px 25px rgba(36, 36, 37, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  margin-left: -1px;
  z-index: 2;
}
.scroller::after {
  content: "";
  width: 45px;
  height: 100%;
  background-color: transparent;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
/* Сравнение конец */

/* Следующие начало */
.projects-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
  margin-bottom: 80px;
}
.projects_card {
  position: relative;
}
.projects_card-info {
  padding: 30px;
}
.projects_card-info.one {
  background-color: #bee4cd;
}
.projects_card-info.two {
  background-color: #dacdfd;
}
.projects_card-title {
  font-size: 18px;
  font-weight: 500;
  line-height: 135%;
}
.projects_card-subtitle {
  font-size: 16px;
  font-weight: 400;
  line-height: 135%;
}
.projects_card-link {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.projects-link-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.projects-link {
  font-size: 18px;
  margin: 0 auto;
  padding: 20px 117px 21px 77px;
  border-radius: 100px;
  border: 1px solid #000000;
  background-color: #fff;
  position: relative;
}
.projects-link::after {
  content: "";
  width: 20px;
  height: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='20' height='20' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='m14.515 4.516-.891.89 3.964 3.965H0v1.26h17.588l-3.964 3.964.89.891L20 10.001l-5.485-5.485Z' fill='%23000'/%3e%3c/svg%3e");
  position: absolute;
  right: 77px;
  top: 22px;
}
/* Следующие конец */
