/* Основное */
.home_breadcrumbs {
  display: flex;
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 37px;
}
.home_breadcrumbs-link {
  font-weight: 400;
}
.home_breadcrumbs-slash {
  margin: 0 6px;
}
.case-title {
  font-size: 70px;
  font-weight: 500;
  margin-bottom: 60px;
}
.case-background {
  width: 100%;
  height: 1080px;
  position: relative;
  overflow: hidden;
}

/* Сайт */

/* Главная начало */
.home-heading {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 250px;
}
.home-title {
  font-size: 80px;
  margin-right: 322px;
}
.home-subtitle {
  max-width: 665px;
  font-size: 20px;
  font-weight: 400;
  line-height: 135%;
  margin-top: 10px;
}
/* .home-background {
  background-color: #167fae;
} */
.home-img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
/* Главная конец */

/* О нас и задача начало */
.task-body,
.about-body {
  display: flex;
}
.task-title,
.about-title {
  font-size: 20px;
  font-weight: 600;
  white-space: nowrap;
  margin-right: 282px;
}
.task-text,
.about-text {
  display: grid;
  max-width: 865px;
  font-size: 25px;
  grid-gap: 34px;
  line-height: 135%;
}
.about-img-wrapper {
  width: 100%;
  margin-top: 350px;
}
.about-img {
  width: 100%;
}
.task-img-section {
  margin: 350px auto 0 auto;
}
.task-img-wrapper {
  width: 1640px;
  height: 920px;
  background-color: #167fae;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
.task-bg {
  width: 811px;
  height: 100%;
  position: absolute;
  z-index: 1;
  right: 0;
  top: 0;
}
.task-img {
  position: absolute;
  z-index: 2;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: -40px 50px 150px -20px rgba(4, 50, 70, 0.85);
  border-radius: 20px;
}
/* О нас и задача конец */

/* Слайдер начало */
.slider {
  margin-bottom: 350px;
}
.swiperOne,
.swiperTwo {
  width: 100%;
}
.swiperOne {
  margin-bottom: 5px;
}
.swiper-slide {
  width: 635px;
  height: 345px;
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
}
.swiper-wrapper {
  -webkit-transition-timing-function: linear !important;
  transition-timing-function: linear !important;
}
/* Слайдер конец */

/* О проекте начало */
.telling-body {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  align-items: start;
}
.telling-cards {
  display: grid;
  grid-gap: 95px;
}
.telling-cards-other {
  margin-top: 100px;
}
.telling_card {
  display: grid;
  grid-gap: 30px;
  justify-items: center;
}
.telling_card-parallax-img-wrapper {
  display: flex;
  height: 100%;
  position: relative;
}
.telling_card-parallax-img {
  position: relative;
  margin: auto;
  border-radius: 10px;
}
.telling_card-img-wrapper.one .telling_card-parallax-img {
  margin: 127px auto auto auto;
}
.telling_card-parallax-img-additionally {
  position: absolute;
  z-index: 3;
  border-radius: 10px;
}
.telling_card-img-wrapper.one .telling_card-parallax-img-additionally {
  top: 266px;
  left: 399px;
  box-shadow: -20px 40px 100px -10px rgba(42, 117, 161, 0.7);
}
.telling_card-img-wrapper.four .telling_card-parallax-img-additionally {
  top: 237px;
  /* left: 158px; */
  left: 50%;
  transform: translateX(-50%);
  box-shadow: -20px 40px 100px -10px rgba(20, 108, 148, 0.5);
}
.telling_card-img-wrapper {
  width: 100%;
  height: 630px;
  position: relative;
  overflow: hidden;
}
.telling_card-img {
  border-radius: 10px;
}
.telling_card-img-wrapper.one,
.telling_card-img-wrapper.four {
  background-color: #b2daf3;
}
.telling_card-img-wrapper.two {
  background-color: #e9e9e9;
}
.telling_card-img-wrapper.three {
  height: 750px;
  background-color: #f6ebc3;
}
.telling_card-img-wrapper .telling_card-img {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.telling_card-img-wrapper.three .telling_card-img {
  top: auto;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0);
}
.telling_card-img-wrapper.one .telling_card-img {
  box-shadow: -30px 40px 120px -20px rgba(42, 117, 162, 0.5);
}
.telling_card-img-wrapper.two .telling_card-img {
  box-shadow: -30px 40px 120px -20px rgba(118, 118, 118, 0.5);
}
.telling_card-img-wrapper.three .telling_card-img {
  box-shadow: -30px 40px 120px -20px rgba(112, 89, 15, 0.5);
  border-radius: 10px 10px 0 0;
}
.telling_card-img-wrapper.four .telling_card-img {
  box-shadow: -20px 40px 100px -10px rgba(20, 108, 148, 0.3);
}
.telling_card-title {
  max-width: 470px;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  line-height: 135%;
}
/* О проекте конец */

/* Адаптивно начало */
/* .adaptively-background {
  background-color: #fae390;
} */
.adaptively-img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
/* Адаптивно конец */

/* Сравнение начало */
#page {
  max-width: 1640px;
  width: 100%;
  height: 920px;
  position: relative;
  margin: 0 auto;
  background-color: #ddeff6;
  overflow: hidden;
}
.wrapper {
  width: 1200px;
  height: 627px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  overflow: hidden;
  box-shadow: -40px 50px 150px -20px rgba(124, 181, 206, 0.85);
  border-radius: 20px;
}
.before,
.after {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  overflow: hidden;
}
.content-image {
  height: 100%;
}
.after {
  width: 450px;
}
.scroller {
  width: 2px;
  height: 100%;
  background-color: #0066ff;
  box-shadow: 0px 0px 25px rgba(36, 36, 37, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  margin-left: -1px;
  z-index: 2;
}
.scroller::after {
  content: "";
  width: 45px;
  height: 100%;
  background-color: transparent;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
/* Сравнение конец */

/* Следующие начало */
.projects-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
  margin-bottom: 80px;
}
.projects_card {
  display: grid;
  position: relative;
}
.projects_card .prlx-wrapper img {
  transform: scale(1.2);
}
.projects_card-img {
  width: 100%;
  height: 100%;
}
.projects_card-info {
  padding: 30px;
}
.projects_card-info.one {
  background-color: #bee4cd;
}
.projects_card-info.two {
  background-color: #dacdfd;
}
.projects_card-title {
  font-size: 18px;
  font-weight: 500;
  line-height: 135%;
}
.projects_card-subtitle {
  font-size: 16px;
  font-weight: 400;
  line-height: 135%;
}
.projects_card-link {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.projects-link-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.projects-link {
  font-size: 18px;
  margin: 0 auto;
  padding: 20px 117px 21px 77px;
  border-radius: 100px;
  border: 1px solid #000000;
  background-color: #fff;
  position: relative;
}
.projects-link::after {
  content: "";
  width: 20px;
  height: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='20' height='20' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='m14.515 4.516-.891.89 3.964 3.965H0v1.26h17.588l-3.964 3.964.89.891L20 10.001l-5.485-5.485Z' fill='%23000'/%3e%3c/svg%3e");
  position: absolute;
  right: 77px;
  top: 22px;
}
/* Следующие конец */

@media screen and (max-width: 1440px) {
  .home_breadcrumbs {
    margin-bottom: 20px;
  }
  .case-title {
    font-size: 60px;
    margin-bottom: 80px;
  }
  .case-background {
    height: 675px;
  }

  .home-heading {
    margin-bottom: 233px;
  }
  .home-title {
    width: 438px;
    font-size: 70px;
    margin-right: 24px;
  }

  .task-title,
  .about-title {
    margin-right: 150px;
  }
  .task-text,
  .about-text {
    font-size: 24px;
  }
  .about-img-wrapper {
    margin-top: 310px;
  }
  .task-img-section {
    margin: 310px auto 0 auto;
  }
  .task-img-wrapper {
    width: 1020px;
    height: 574px;
  }
  .task-img {
    width: 770px;
    height: 402px;
    border-radius: 17px;
  }
  .task-bg {
    width: 504px;
  }

  .slider {
    margin-bottom: 310px;
  }
  .swiper-slide {
    width: 400px;
    height: 220px;
  }

  .telling-cards {
    grid-gap: 80px;
  }
  .telling_card-img-wrapper {
    height: 412px;
  }
  .telling_card-img-wrapper.three {
    height: 490px;
  }
  .telling_card-img-wrapper.one .telling_card-parallax-img {
    width: 80%;
    margin: auto;
  }
  .telling_card-img-wrapper.one .telling_card-parallax-img-additionally {
    width: 110px;
    top: 165px;
    left: 329px;
  }
  .telling_card-img-wrapper.two .telling_card-img {
    width: 80%;
  }
  .telling_card-img-wrapper.three .telling_card-img {
    height: 90%;
  }
  .telling_card-img-wrapper.four .telling_card-parallax-img {
    height: 80%;
    margin: auto;
  }
  .telling_card-img-wrapper.four .telling_card-parallax-img-additionally {
    width: 220px;
    top: 156px;
  }
  .telling_card-title {
    font-size: 18px;
  }

  #page {
    max-width: 1020px;
    height: 597px;
  }
  .wrapper {
    width: 880px;
    height: 464px;
    border-radius: 17px;
  }

  .projects_card {
    grid-template-rows: 1fr 120px;
  }
  .projects_card-info {
    display: grid;
    align-items: center;
    align-content: center;
    padding: 15px 25px;
  }
}
@media screen and (max-width: 1200px) {
  .case-title {
    font-size: 50px;
    margin-bottom: 70px;
  }
  .case-background {
    height: 558px;
  }

  .home-heading {
    margin-bottom: 239px;
  }
  .home-title {
    width: 384px;
    font-size: 60px;
  }

  .task-title,
  .about-title {
    margin-right: 118px;
  }
  .task-text,
  .about-text {
    font-size: 22px;
  }
  .about-img-wrapper {
    margin-top: 300px;
  }
  .task-img-section {
    margin: 300px auto 0 auto;
  }
  .task-img-wrapper {
    width: 872px;
    height: 490px;
  }
  .task-img {
    width: 642px;
    height: 335px;
    border-radius: 15px;
  }
  .task-bg {
    width: 431px;
  }

  .slider {
    margin-bottom: 300px;
  }
  .swiper-slide {
    width: 300px;
    height: 200px;
  }

  .telling-body {
    grid-gap: 24px;
  }
  .telling-cards {
    grid-gap: 60px;
  }
  .telling_card {
    grid-gap: 25px;
  }
  .telling_card-img-wrapper {
    height: 364px;
  }
  .telling_card-img-wrapper.three {
    height: 432px;
  }
  .telling_card-img-wrapper.one .telling_card-parallax-img-additionally {
    width: 100px;
    top: 155px;
    left: 320px;
  }
  .telling_card-img-wrapper.four .telling_card-parallax-img-additionally {
    width: 190px;
    top: 130px;
  }
  .telling_card-title {
    font-size: 16px;
  }

  #page {
    max-width: 872px;
    height: 511px;
  }
  .wrapper {
    width: 758px;
    height: 400px;
    border-radius: 15px;
  }

  .projects-cards {
    grid-gap: 24px;
    margin-bottom: 70px;
  }
  .projects_card {
    grid-template-rows: 1fr 110px;
  }
  .projects_card-info {
    display: grid;
    align-items: center;
    align-content: center;
    padding: 15px 20px;
  }
}
@media screen and (max-width: 992px) {
  .case-title {
    font-size: 40px;
  }
  .case-background {
    height: 432px;
  }

  .home-heading {
    margin-bottom: 370px;
  }
  .home-title {
    width: 272px;
    font-size: 50px;
  }

  .task-img-wrapper {
    width: 648px;
    height: 364px;
  }
  .task-img {
    width: 492px;
    height: 257px;
    border-radius: 10px;
  }
  .task-bg {
    width: 320px;
  }

  .swiper-slide {
    width: 260px;
    height: 160px;
  }

  .telling_card-img-wrapper {
    height: 258px;
  }
  .telling_card-img-wrapper.three {
    height: 306px;
  }
  .telling_card-img-wrapper.one .telling_card-parallax-img-additionally {
    width: 80px;
    top: 105px;
    left: 250px;
  }
  .telling_card-img-wrapper.four .telling_card-parallax-img-additionally {
    width: 140px;
    top: 90px;
  }

  #page {
    max-width: 648px;
    height: 380px;
  }
  .wrapper {
    width: 568px;
    height: 299px;
    border-radius: 10px;
  }

  .projects-cards {
    margin-bottom: 60px;
  }
  .projects_card {
    grid-template-rows: 1fr 120px;
  }
  .projects_card-info {
    display: grid;
    align-items: center;
    align-content: center;
    padding: 10px 20px;
  }
}
@media screen and (max-width: 768px) {
  .case-title {
    font-size: 28px;
    margin-bottom: 50px;
  }
  .case-background {
    height: 324px;
  }

  .home-heading {
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 110px;
  }
  .home-title {
    width: 100%;
    font-size: 40px;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .task-body,
  .about-body {
    flex-direction: column;
  }
  .task-title,
  .about-title {
    width: 100%;
    margin-right: 0;
    margin-bottom: 35px;
  }
  .task-text,
  .about-text {
    grid-gap: 24px;
    font-size: 20px;
  }
  .task-img-section {
    margin: 170px auto 0 auto;
  }
  .task-img-wrapper {
    width: 576px;
    height: 324px;
  }
  .task-img {
    width: 442px;
    height: 230px;
    border-radius: 7px;
  }
  .task-bg {
    width: 284px;
  }
  .about-img-wrapper {
    margin-top: 170px;
  }

  .slider {
    margin-bottom: 170px;
  }
  .swiper-slide {
    width: 200px;
    height: 160px;
  }

  .telling-body {
    grid-template-columns: 1fr;
    grid-gap: 40px;
  }
  .telling-cards {
    grid-gap: 40px;
  }
  .telling-cards-other {
    margin-top: 0;
  }
  .telling_card-img-wrapper {
    height: 490px;
  }
  .telling_card-img-wrapper.three {
    height: 580px;
  }
  .telling_card-img-wrapper.one .telling_card-parallax-img-additionally {
    width: 170px;
    top: 165px;
    left: 450px;
  }
  .telling_card-img-wrapper.four .telling_card-parallax-img-additionally {
    width: 260px;
    top: 180px;
  }
  .telling_card-title {
    font-size: 20px;
  }

  #page {
    max-width: 576px;
    height: 370px;
  }
  .wrapper {
    width: 516px;
    height: 271px;
    border-radius: 7px;
  }

  .projects-cards {
    grid-template-columns: 1fr;
    grid-gap: 40px;
    margin-bottom: 40px;
  }
  .projects_card {
    grid-template-rows: 1fr 90px;
  }
  .projects_card-info {
    display: grid;
    align-items: center;
    align-content: center;
    padding: 10px 20px;
  }
}
@media screen and (max-width: 576px) {
  .case-title {
    font-size: 26px;
  }
  .case-background {
    height: 180px;
  }

  .home-heading {
    margin-bottom: 90px;
  }

  .task-text,
  .about-text {
    grid-gap: 20px;
  }
  .about-img-wrapper {
    margin-top: 130px;
  }
  .task-img-section {
    margin: 130px auto 0 auto;
  }
  .task-img-wrapper {
    width: 320px;
    height: 180px;
  }
  .task-img {
    width: 270px;
    height: 141px;
  }
  .task-bg {
    width: 158px;
  }

  .slider {
    margin-bottom: 130px;
  }
  .swiper-slide {
    width: 160px;
    height: 160px;
  }

  .telling .container {
    padding: 0;
  }
  .telling-cards {
    grid-gap: 30px;
  }
  .telling_card {
    grid-gap: 20px;
  }
  .telling_card-img-wrapper {
    height: 304px;
  }
  .telling_card-img-wrapper.three {
    height: 360px;
  }
  .telling_card-title {
    padding: 0 20px;
  }

  #page {
    width: 320px;
    height: 210px;
  }
  .wrapper {
    width: 280px;
    height: 147px;
  }

  .projects .container {
    padding: 0;
  }
  .projects-title {
    padding: 0 20px;
  }
  .projects-link {
    padding: 20px 107px 21px 67px;
  }
}
