iframe {
  border: 0;
  outline: 0;
}
.main-body {
  height: 640px;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
}
.main-map {
  position: relative;
  z-index: 1;
}
.main-block {
  max-width: 450px;
  height: 540px;
  background: #ffffff;
  box-shadow: 0px 0px 25px rgba(139, 149, 154, 0.15);
  border-radius: 15px;
  padding: 45px 50px 50px 50px;
  position: absolute;
  z-index: 2;
  left: 50px;
  top: 50px;
}
.main-title {
  margin-bottom: 40px;
}
.main_data {
  display: grid;
  grid-gap: 30px;
}
.main_data-block {
  display: grid;
  grid-gap: 15px;
}
.main_data-heading {
  padding-left: 30px;
  position: relative;
  cursor: default;
}
.main_data-heading::after {
  width: 20px;
  height: 20px;
  left: 0;
  top: 2px;
}
.main_data-text {
  color: #282e31;
  font-weight: 400;
  padding-left: 30px;
}
.main_data-requisites {
  font-weight: 600;
  background: linear-gradient(90deg, #01a665 0%, #3dc571 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  padding-left: 30px;
  position: relative;
}
.main_data-requisites::after {
  width: 20px;
  height: 20px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M16.875 7.5H11.9824C10.8891 7.5 10 6.61094 10 5.51758V0.625C10 0.4 10.0594 0.185938 10.1668 0H3.85742C3.10898 0 2.5 0.608984 2.5 1.35742V18.6426C2.5 19.391 3.10898 20 3.85742 20H16.1426C16.891 20 17.5 19.391 17.5 18.6426V7.3332C17.3141 7.44062 17.1 7.5 16.875 7.5ZM7.6832 11.4332C7.92734 11.1891 8.32266 11.1891 8.5668 11.4332L9.375 12.241V8.4375C9.375 8.09219 9.65469 7.8125 10 7.8125C10.3453 7.8125 10.625 8.09219 10.625 8.4375V12.241L11.4332 11.4332C11.677 11.1891 12.073 11.1891 12.3168 11.4332C12.5609 11.677 12.5609 12.073 12.3168 12.3168L10.4418 14.1918C10.31 14.327 10.1203 14.388 9.93984 14.3723C9.62688 14.3305 9.72559 14.3592 7.6832 12.3168C7.43906 12.073 7.43906 11.677 7.6832 11.4332ZM13.125 16.875H6.875C6.52969 16.875 6.25 16.5953 6.25 16.25C6.25 15.9047 6.52969 15.625 6.875 15.625H13.125C13.4703 15.625 13.75 15.9047 13.75 16.25C13.75 16.5953 13.4703 16.875 13.125 16.875ZM11.9824 6.25H16.875L11.25 0.625V5.51758C11.25 5.92148 11.5785 6.25 11.9824 6.25Z' fill='url(%23paint0_linear_345_263)'/%3e%3cdefs%3e%3clinearGradient id='paint0_linear_345_263' x1='2.5' y1='10' x2='17.5' y2='10' gradientUnits='userSpaceOnUse'%3e%3cstop stop-color='%2301A665'/%3e%3cstop offset='1' stop-color='%233DC571'/%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e ");
  left: 0;
  top: 1px;
}

@media screen and (max-width: 576px) {
}
