.documents [class$='iconAfter']::after {
  width: 16px;
  height: 16px;
  top: 5px;
  transform: translate(0);
}
.documents .block_info-wrapper {
  margin-bottom: 70px;
}
.documents-block_info {
  max-width: 600px;
}
.documents-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
}
.documents-title .help {
  font-weight: 700;
}
.documents-subtitle {
  margin-bottom: 10px;
}
.documents-text {
  padding-left: 26px;
  margin-bottom: 15px;
}
.documents-name {
  padding-left: 26px;
  margin-bottom: 5px;
}
.documents-link {
  color: #2cad43;
  font-size: 18px;
  font-weight: 600;
  padding-left: 26px;
}
.documents-link .size {
  color: #a7aeb2;
  font-weight: 400;
}

.documents-cards {
  display: grid;
  grid-template-columns: minmax(0, 715px) minmax(0, 505px);
  grid-gap: 20px;
}
.documents_card {
  background: #f8f8f8;
  border-radius: 10px;
  padding: 30px 35px;
}
.documents_card-title {
  font-size: 20px;
  margin-bottom: 15px;
}
.documents_card-text {
  margin-bottom: 15px;
}
.documents_card-name {
  margin-bottom: 5px;
  padding-left: 26px;
}
.documents_card-link {
  color: #2cad43;
  font-size: 18px;
  font-weight: 600;
  padding-left: 26px;
}
.documents_card-link .size {
  color: #a7aeb2;
  font-weight: 400;
}

@media (max-width: 992px) {
  .documents-cards {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 768px) {
  .documents .block_info-wrapper {
    display: grid;
    grid-gap: 15px;
    margin-bottom: 40px;
    padding: 0;
  }
  .documents-block_info {
    max-width: 100%;
    background-color: #f8f8f8;
  }
  .documents .block_info-img {
    height: 250px;
    position: relative;
  }
  .documents-link {
    font-size: 14px;
  }
  .documents_card {
    padding: 15px 20px;
  }
  .documents_card-title {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .documents_card-text {
    margin-bottom: 10px;
  }
  .documents_card-link {
    font-size: 14px;
  }
  .documents_card-name,
  .documents_card-link {
    padding-left: 17px;
  }
}
@media (max-width: 576px) {
  .documents [class$='iconAfter']::after {
    width: 10px;
    height: 10px;
  }
  .documents .block_info-wrapper {
    align-content: center;
    max-width: 100%;
  }
  .documents-title {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .documents-subtitle {
    margin-bottom: 7px;
  }
  .documents-text {
    margin-bottom: 10px;
  }
  .documents-text,
  .documents-name,
  .documents-link {
    padding-left: 17px;
  }
}
@media (max-width: 450px) {
}
