/* Главная ↓↓↓ */
section:first-child {
  padding-top: 125px;
}
.home-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
  padding-top: 120px;
}
.imgBg-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
}
.imgBg {
  width: 100%;
  height: 100%;
}
.home-body {
  position: relative;
  z-index: 1;
  padding: 70px 0;
}
.home-title {
  color: #fff;
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 5px;
}
.home-subtitle {
  color: #fff;
  font-size: 22px;
  margin-bottom: 50px;
}
@media (max-width: 992px) {
  main .home {
    padding-top: 80px;
  }
}
@media (max-width: 768px) {
}
@media (max-width: 576px) {
  .home {
    padding-bottom: 265px;
  }
  .home-wrapper {
    padding: 0;
  }
  .home-body {
    padding: 148px 0 218px 0;
  }
  .home-title {
    font-size: 35px;
  }
  .home-subtitle {
    font-size: 16px;
  }
}
@media (max-width: 450px) {
}
/* Главная ↑↑↑ */
/* Форма ↓↓↓ */
form {
  display: grid;
  grid-template-rows: 1fr auto auto;
  max-width: 430px;
  width: 100%;
  height: 440px;
  background: #ffffff;
  border-radius: 10px;
  padding: 30px 35px 35px 35px;
  overflow: hidden;
}
.form-window {
  position: relative;
}
.form-heading {
  display: grid;
  grid-gap: 3px;
  margin-bottom: 20px;
}
.form-title {
  font-size: 20px;
}
.form-body {
  display: grid;
  grid-gap: 15px;
}
.input-body {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 10px;
  align-items: center;
  justify-content: start;
}
.input-wrapper {
  position: relative;
}
.input_checkbox,
.input_radio {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  font-size: 0;
  opacity: 0;
  cursor: pointer;
}
.input_checkbox-fake,
.input_radio-fake {
  display: block;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: 1px solid #d1d5d8;
  position: relative;
  z-index: 0;
  transition: border 0.3s;
}
.input_checkbox-fake {
  border-radius: 2px;
  padding: 2px;
}
.input_radio-fake {
  border-radius: 50%;
  padding: 4px;
}
.input_checkbox-fake::after,
.input_radio-fake::after {
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  transform: scale(0);
  opacity: 0.5;
  transition: transform 0.3s, opacity 0.3s;
}
.input_checkbox-fake::after {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg clip-path='url(%23clip0_613_117)'%3e%3cpath d='M9.76764 1.63439C9.45824 1.32457 8.95582 1.32477 8.64601 1.63439L3.59787 6.68272L1.35419 4.43906C1.04438 4.12924 0.542174 4.12924 0.23236 4.43906C-0.0774534 4.74887 -0.0774534 5.25107 0.23236 5.56089L3.03684 8.36537C3.19165 8.52017 3.39464 8.59777 3.59765 8.59777C3.80067 8.59777 4.00386 8.52037 4.15867 8.36537L9.76764 2.7562C10.0775 2.4466 10.0775 1.94418 9.76764 1.63439Z' fill='%232CAD43'/%3e%3c/g%3e%3cdefs%3e%3cclipPath id='clip0_613_117'%3e%3crect width='10' height='10' fill='white'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e ");
}
.input_radio-fake::after {
  background-color: #2cad43;
  border-radius: 50%;
}
.input_checkbox:hover ~ .input_checkbox-fake,
.input_checkbox:focus-visible ~ .input_checkbox-fake {
  border-color: #2cad43;
}
.input_checkbox:checked ~ .input_checkbox-fake::after,
.input_radio:checked ~ .input_radio-fake::after {
  transform: scale(1);
  opacity: 1;
}
.input-text {
  cursor: pointer;
}
.area-wrapper {
  position: relative;
}
.area-wrapper.open .area-result {
  border-radius: 10px 10px 0 0;
}
.area-wrapper.open .area-block {
  border-radius: 0 0 10px 10px;
}
.area-input {
  width: 0;
  height: 0;
  opacity: 0;
  font-size: 0;
  position: absolute;
  z-index: -1;
}
.area-result {
  color: #2cad43;
  background: #f8f8f8;
  border-radius: 10px;
  padding: 15px 40px 17px 20px;
  position: relative;
  z-index: 1;
  transition: color 0.2s, border-radius 0.3s;
}
.area-result:hover,
.area-result:focus-visible {
  color: #17942d;
}
.area-result::after {
  width: 11px;
  height: 11px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='11' height='11' viewBox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg clip-path='url(%23clip0_549_146)'%3e%3cpath d='M5.50003 8.63506C5.30289 8.63506 5.10577 8.55978 4.95547 8.40955L0.225717 3.67975C-0.0751575 3.37888 -0.0751575 2.89106 0.225717 2.59031C0.526469 2.28956 1.01419 2.28956 1.31509 2.59031L5.50003 6.7755L9.685 2.59046C9.98587 2.2897 10.4735 2.2897 10.7743 2.59046C11.0753 2.89121 11.0753 3.37902 10.7743 3.6799L6.04459 8.4097C5.89422 8.55995 5.6971 8.63506 5.50003 8.63506Z' fill='%232CAD43'/%3e%3c/g%3e%3cdefs%3e%3cclipPath id='clip0_549_146'%3e%3crect width='11' height='11' fill='white'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e ");
  left: auto;
  right: 20px;
  transition: transform 0.3s;
}
.area-wrapper.open .area-result::after {
  transform: translate(0, -50%) rotate(-180deg);
}
.area-window {
  width: 100%;
  opacity: 0;
  transform: translateY(-10px);
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 2;
}
.area-block {
  max-height: 220px;
  background-color: #f8f8f8;
  border-radius: 10px;
  transition: border-radius 0.3s;
}
.area-block .simplebar-track.simplebar-vertical {
  height: calc(100% - 20px);
  right: 20px;
  width: 2px;
  background-color: #d1d5d8;
  border-radius: 10px;
}
.area-block .simplebar-scrollbar:before {
  background: #2cad43;
  border-radius: 10px;
  opacity: 1;
  left: 0;
  right: 0;
}
.area-block .simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
  top: 0;
  bottom: 0;
}
.area-btn {
  padding: 7.5px 40px 7.5px 20px;
}
.area-btn:last-child {
  padding: 7.5px 40px 20px 20px;
}
.area-btn:hover,
.area-btn:focus-visible {
  color: #17942d;
}
.input_other-wrapper {
  width: 260px;
  position: relative;
}
.input_other {
  width: 100%;
}
.input_other-line {
  display: block;
  width: 100%;
  height: 1px;
  background-color: #d1d5d8;
  position: absolute;
  left: 0;
  top: calc(100% + 10px);
  transition: background-color 0.3s;
}
.input_other:hover ~ .input_other-line,
.input_other:focus ~ .input_other-line {
  background-color: #2cad43;
}
.input_other:disabled:hover ~ .input_other-line,
.input_other:disabled:focus ~ .input_other-line {
  background-color: #d1d5d8;
}
.form-input {
  border: 1px solid #d1d5d8;
  border-radius: 10px;
  padding: 15px 20px 17px 20px;
}
.form-btn {
  width: 100%;
  color: #fff;
  background-color: #2cad43;
  font-size: 17px;
  font-weight: 600;
  border-radius: 10px;
  padding: 16px 20px;
  margin-bottom: 30px;
}
.form-btn:hover,
.form-btn:focus-visible {
  background-color: #17942d;
}
.form-step {
  width: 100%;
  position: absolute;
}
.form-step.success {
  animation: prevStep 0.7s ease 1 forwards;
}
.form-step.anim {
  animation: nextStep 0.7s ease 1 forwards;
}
@keyframes prevStep {
  0% {
    transform: translateX(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateX(-100%) scale(0.5);
    opacity: 0;
  }
}
@keyframes nextStep {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.form-steps {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 10px;
}
[class~='step'] {
  width: 100%;
  height: 2px;
  background-color: #d1d5d8;
  border-radius: 5px;
  position: relative;
}
[class~='step']::after {
  content: '';
  width: 0;
  height: 100%;
  background-color: #2cad43;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transition: width 0.75s, opacity 0.35s;
}
[class~='step'].active::after {
  width: 100%;
  opacity: 1;
}
@media (max-width: 576px) {
  form {
    max-width: 360px;
    height: 340px;
    padding: 20px;
    box-shadow: 0px 0px 30px rgba(202, 202, 202, 0.3);
    position: absolute;
    top: calc(100% - 75px);
    left: 50%;
    transform: translateX(-50%);
  }
  .form-heading {
    margin-bottom: 10px;
  }
  .form-title {
    font-size: 15px;
  }
  .form-body {
    grid-gap: 10px;
  }
  .input_other-wrapper {
    width: 100%;
    position: relative;
  }
  .input_checkbox-fake,
  .input_radio-fake {
    width: 15px;
    height: 15px;
  }
  .form-input {
    padding: 15px;
  }
  .area-block {
    max-height: 185px;
  }
  .form-btn {
    font-size: 15px;
    margin-bottom: 15px;
    padding: 14px 20px 16px 20px;
  }
}
/* Форма ↑↑↑ */

/* Преимущества ↓↓↓ */
.advantages-cards {
  display: grid;
  grid-auto-flow: dense;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  align-content: start;
  grid-gap: 20px;
}
.advantages_card {
  display: grid;
  grid-gap: 10px 25px;
  grid-template-columns: auto 1fr;
  grid-auto-rows: auto 1fr;
  grid-template-areas:
    'icon title'
    'icon subtitle';
  justify-content: start;
  align-content: start;
  background: #f8f8f8;
  border-radius: 10px;
  padding: 35px;
}
.advantages_card-icon {
  grid-area: icon;
  display: block;
  width: 70px;
  height: 70px;
  border-radius: 10px;
  box-shadow: 0px 0px 30px -5px rgba(204, 204, 204, 0.25);
  margin-top: 10px;
}
.advantages_card-title {
  font-size: 18px;
  font-weight: 500;
  grid-area: title;
}
.advantages_card-subtitle {
  grid-area: subtitle;
}
@media (max-width: 992px) {
  .advantages_card-icon {
    margin-top: 0;
  }
}
@media (max-width: 768px) {
  .advantages-cards {
    grid-gap: 15px;
  }
  .advantages_card {
    padding: 20px;
  }
}
@media (max-width: 576px) {
  .advantages-cards {
    grid-template-columns: 1fr;
  }
  .advantages_card {
    grid-template-areas:
      'icon title'
      'subtitle subtitle';
    grid-gap: 15px 10px;
    align-items: center;
  }
  .advantages_card-icon {
    width: 50px;
    height: 50px;
  }
  .advantages_card-title {
    font-size: 15px;
  }
}
/* Преимущества ↑↑↑ */

/* Стоимость ↓↓↓ */
.title-price {
  text-align: center;
}
.price-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    'one two three seven'
    'five five five four'
    'six six six four';
  grid-gap: 20px;
}
.price-cards.disinsection {
  grid-template-areas:
    'one two three four'
    'five five five four'
    'six six six four';
}
.price_card {
  background-color: #f8f8f8;
  border-radius: 10px;
  padding: 30px 35px;
  overflow: hidden;
}
.price-heading {
  font-size: 20px;
  padding-left: 28px;
}
.price-heading::after {
  width: 18px;
  height: 18px;
  top: 5px;
  transform: translate(0);
}
.studio-bedroom {
  grid-area: one;
}
.studio-bedroom .price-heading::after {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='9' cy='9' r='9' fill='%232CAD43'/%3e%3cpath d='M10.7295 14H8.61719V8.2168C8.61719 8.09831 8.61719 7.95703 8.61719 7.79297C8.62174 7.62435 8.6263 7.45117 8.63086 7.27344C8.63997 7.09115 8.64681 6.90885 8.65137 6.72656C8.66048 6.54427 8.66732 6.37793 8.67188 6.22754C8.64909 6.25488 8.61035 6.2959 8.55566 6.35059C8.50098 6.40527 8.43945 6.4668 8.37109 6.53516C8.30273 6.59896 8.2321 6.66504 8.15918 6.7334C8.08626 6.80176 8.01562 6.86328 7.94727 6.91797L6.79883 7.84082L5.77344 6.56934L8.99316 4.00586H10.7295V14Z' fill='white'/%3e%3c/svg%3e ");
}
.one-bedroom {
  grid-area: two;
}
.one-bedroom .price-heading::after {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='9' cy='9' r='9' fill='%232CAD43'/%3e%3cpath d='M12.4111 14H5.70508V12.5303L8.05664 9.99414C8.35286 9.67513 8.62174 9.38118 8.86328 9.1123C9.10482 8.84342 9.31217 8.58138 9.48535 8.32617C9.65853 8.07096 9.79297 7.8112 9.88867 7.54688C9.98438 7.28255 10.0322 6.99772 10.0322 6.69238C10.0322 6.35514 9.92969 6.0931 9.72461 5.90625C9.52409 5.7194 9.25293 5.62598 8.91113 5.62598C8.55111 5.62598 8.20475 5.71484 7.87207 5.89258C7.53939 6.07031 7.19076 6.32324 6.82617 6.65137L5.67773 5.29102C5.88281 5.10417 6.09701 4.92643 6.32031 4.75781C6.54362 4.58464 6.78971 4.43197 7.05859 4.2998C7.32747 4.16764 7.6237 4.06283 7.94727 3.98535C8.27083 3.90332 8.63314 3.8623 9.03418 3.8623C9.5127 3.8623 9.94108 3.92839 10.3193 4.06055C10.7021 4.19271 11.028 4.38184 11.2969 4.62793C11.5658 4.86947 11.7708 5.16341 11.9121 5.50977C12.0579 5.85612 12.1309 6.24577 12.1309 6.67871C12.1309 7.07064 12.0625 7.44661 11.9258 7.80664C11.7891 8.16211 11.6022 8.51302 11.3652 8.85938C11.1283 9.20117 10.8525 9.54297 10.5381 9.88477C10.2282 10.222 9.89551 10.5661 9.54004 10.917L8.33691 12.127V12.2227H12.4111V14Z' fill='white'/%3e%3c/svg%3e ");
}
.two-bedroom {
  grid-area: three;
}
.two-bedroom .price-heading::after {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='9' cy='9' r='9' fill='%232CAD43'/%3e%3cpath d='M12.0215 6.24121C12.0215 6.58757 11.9645 6.89974 11.8506 7.17773C11.7412 7.45117 11.5885 7.69271 11.3926 7.90234C11.2012 8.10742 10.9733 8.2806 10.709 8.42188C10.4492 8.55859 10.1667 8.66341 9.86133 8.73633V8.77734C10.668 8.8776 11.2786 9.1237 11.6934 9.51562C12.1081 9.90299 12.3154 10.4271 12.3154 11.0879C12.3154 11.5254 12.2357 11.931 12.0762 12.3047C11.9212 12.6738 11.6797 12.9951 11.3516 13.2686C11.028 13.542 10.6178 13.7562 10.1211 13.9111C9.62891 14.0615 9.04785 14.1367 8.37793 14.1367C7.84017 14.1367 7.33431 14.0911 6.86035 14C6.38639 13.9134 5.94434 13.779 5.53418 13.5967V11.7988C5.73926 11.9082 5.95573 12.0039 6.18359 12.0859C6.41146 12.168 6.63932 12.2386 6.86719 12.2979C7.09505 12.3525 7.31836 12.3936 7.53711 12.4209C7.76042 12.4482 7.97005 12.4619 8.16602 12.4619C8.55794 12.4619 8.88379 12.4255 9.14355 12.3525C9.40332 12.2796 9.61068 12.1771 9.76562 12.0449C9.92057 11.9128 10.0299 11.7555 10.0938 11.5732C10.1621 11.3864 10.1963 11.1836 10.1963 10.9648C10.1963 10.7598 10.153 10.5752 10.0664 10.4111C9.98438 10.2425 9.84766 10.1012 9.65625 9.9873C9.4694 9.86882 9.22331 9.77767 8.91797 9.71387C8.61263 9.65007 8.23665 9.61816 7.79004 9.61816H7.0791V8.13477H7.77637C8.19564 8.13477 8.54427 8.09831 8.82227 8.02539C9.10026 7.94792 9.32129 7.84538 9.48535 7.71777C9.65397 7.58561 9.77246 7.43294 9.84082 7.25977C9.90918 7.08659 9.94336 6.90202 9.94336 6.70605C9.94336 6.35059 9.83171 6.07259 9.6084 5.87207C9.38965 5.67155 9.04102 5.57129 8.5625 5.57129C8.34375 5.57129 8.13867 5.59408 7.94727 5.63965C7.76042 5.68066 7.58496 5.73535 7.4209 5.80371C7.26139 5.86751 7.11328 5.94043 6.97656 6.02246C6.8444 6.09993 6.72363 6.17741 6.61426 6.25488L5.54785 4.84668C5.73926 4.7054 5.94661 4.57552 6.16992 4.45703C6.39779 4.33854 6.64388 4.236 6.9082 4.14941C7.17253 4.05827 7.45736 3.98763 7.7627 3.9375C8.06803 3.88737 8.39388 3.8623 8.74023 3.8623C9.23242 3.8623 9.67904 3.91699 10.0801 4.02637C10.4857 4.13118 10.832 4.28613 11.1191 4.49121C11.4062 4.69173 11.6273 4.9401 11.7822 5.23633C11.9417 5.52799 12.0215 5.86296 12.0215 6.24121Z' fill='white'/%3e%3c/svg%3e ");
}
.bedroom-text {
  padding-left: 28px;
  margin-top: 11px;
}
.price-img {
  display: grid;
  align-items: end;
  grid-area: four;
  min-height: 360px;
  padding: 30px;
  position: relative;
}
.price-img::after {
  content: '';
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(34, 39, 32, 0) 48.69%,
    rgba(36, 45, 39, 0.65) 81.77%
  );
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.price-img img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
}
.price-text {
  color: #fff;
  position: relative;
  z-index: 3;
}
.price-text .medium {
  color: #fff;
}
.calculation {
  grid-area: five;
}
.calculation-heading {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  margin-bottom: 35px;
}
.calculation-iconAfter::after {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M4.51056 5.38594C2.04962 7.59727 0.0386811 9.41484 0.0386811 9.42891C0.0351655 9.44648 0.636337 9.45703 1.3711 9.45703H2.70704V13.0605V16.6641L4.95001 16.657L7.18946 16.6465L7.20001 13.9465L7.20704 11.25H9.00001H10.793L10.8 13.9465L10.8106 16.6465L13.0535 16.657L15.293 16.6641V13.0605V9.45703H16.6289C17.3637 9.45703 17.9649 9.44648 17.9613 9.42891C17.9578 9.40078 9.06329 1.39922 9.01407 1.38164C8.99298 1.37461 6.96798 3.17813 4.51056 5.38594Z' fill='%232CAD43'/%3e%3c/svg%3e ");
}
.container-range {
  background-color: #ffffff;
  width: 90vmin;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 30px 20px;
  border-radius: 5px;
}
input[type='range'] {
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #d1d5d8;
  border-radius: 8px;
  outline: none;
}
input[type='range']::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  height: 2px;
}
input[type='range']::-moz-track {
  -moz-appearance: none;
  height: 2px;
}
input[type='range']::-ms-track {
  appearance: none;
  height: 2px;
}
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  background-color: #2cad43;
  border-radius: 50%;
  cursor: pointer;
  margin-top: -10px;
  border: none;
}
input[type='range']::-moz-range-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  background-color: #2cad43;
  border-radius: 50%;
  cursor: pointer;
  margin-top: -6px;
  border: none;
}
input[type='range']::-ms-thumb {
  appearance: none;
  height: 20px;
  width: 20px;
  background-color: #2cad43;
  border-radius: 50%;
  cursor: pointer;
  margin-top: -6px;
  border: none;
}
input[type='range']:active::-webkit-slider-thumb {
  border: 3px solid #2cad43;
}
#slider-value {
  position: relative;
  color: #2cad43;
  text-align: center;
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 10px;
}
.warning {
  grid-area: six;
}
.warning-iconAfter::after {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='9' cy='9' r='9' fill='%232CAD43'/%3e%3cpath d='M10.0732 10.6846H8.40527L8.05664 4.00586H10.4219L10.0732 10.6846ZM8.0293 13.0225C8.0293 12.8083 8.05892 12.6283 8.11816 12.4824C8.18197 12.332 8.26855 12.2113 8.37793 12.1201C8.4873 12.029 8.61491 11.9629 8.76074 11.9219C8.90658 11.8809 9.0638 11.8604 9.23242 11.8604C9.39193 11.8604 9.54232 11.8809 9.68359 11.9219C9.82943 11.9629 9.95703 12.029 10.0664 12.1201C10.1758 12.2113 10.2624 12.332 10.3262 12.4824C10.39 12.6283 10.4219 12.8083 10.4219 13.0225C10.4219 13.2275 10.39 13.403 10.3262 13.5488C10.2624 13.6947 10.1758 13.8154 10.0664 13.9111C9.95703 14.0068 9.82943 14.0752 9.68359 14.1162C9.54232 14.1618 9.39193 14.1846 9.23242 14.1846C9.0638 14.1846 8.90658 14.1618 8.76074 14.1162C8.61491 14.0752 8.4873 14.0068 8.37793 13.9111C8.26855 13.8154 8.18197 13.6947 8.11816 13.5488C8.05892 13.403 8.0293 13.2275 8.0293 13.0225Z' fill='white'/%3e%3c/svg%3e ");
}
.warning-wrapper {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 25px;
  margin-top: 15px;
}
.diagnostics {
  grid-area: seven;
  padding: 30px 34px;
}
.diagnostics .price-heading {
  padding-left: 0;
  margin-bottom: 16px;
}
@media (max-width: 992px) {
  .price-cards {
    grid-template-columns: 1fr 295px;
  }
  .price-cards {
    grid-template-areas:
      'one four'
      'two four'
      'three four'
      'seven seven'
      'five five'
      'six six';
  }
  .price-cards.disinsection {
    grid-template-areas:
      'one four'
      'two four'
      'three four'
      'five five'
      'six six';
  }
}
@media (max-width: 768px) {
  .price-cards {
    grid-gap: 15px;
  }
  .price_card {
    padding: 15px 20px;
  }
  .price-heading {
    font-size: 16px;
  }
}
@media (max-width: 576px) {
  .price-cards {
    justify-content: center;
    grid-template-columns: minmax(0, 280px);
  }
  .price-cards {
    grid-template-areas:
      'one'
      'two'
      'three'
      'seven'
      'four'
      'five'
      'six';
  }
  .price-cards.disinsection {
    grid-template-areas:
      'one'
      'two'
      'three'
      'four'
      'five'
      'six';
  }
  .price-heading {
    padding-left: 25px;
  }
  .price-heading::after {
    width: 15px;
    height: 15px;
    top: 3px;
  }
  .calculation-heading {
    grid-auto-flow: row;
    grid-gap: 5px;
    margin-bottom: 25px;
  }
  .calculation-cost {
    padding-left: 25px;
  }
  .bedroom-text {
    margin-top: 5px;
  }
  .warning-wrapper {
    grid-auto-flow: row;
    grid-gap: 10px;
    padding-left: 25px;
  }
}
/* Стоимость ↑↑↑ */

/* Анонимность ↓↓↓ */
.anonymity-block_info {
  max-width: 415px;
}
.anonymity-title {
  font-size: 27px;
  font-weight: 700;
  margin-bottom: 25px;
}
.anonymity-list {
  display: grid;
  grid-gap: 20px;
}
.anonymity-text {
  padding-left: 23px;
}
.anonymity-text::after {
  width: 13px;
  height: 13px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='13' height='13' viewBox='0 0 13 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg clip-path='url(%23clip0_454_19)'%3e%3cpath d='M12.6982 2.12399C12.296 1.72124 11.6428 1.72149 11.2401 2.12399L4.67747 8.68683L1.76069 5.77007C1.35793 5.36731 0.70507 5.36731 0.302313 5.77007C-0.100445 6.17283 -0.100445 6.82569 0.302313 7.22845L3.94813 10.8743C4.14938 11.0755 4.41328 11.1764 4.6772 11.1764C4.94111 11.1764 5.20526 11.0758 5.40651 10.8743L12.6982 3.58235C13.1009 3.17987 13.1009 2.52673 12.6982 2.12399Z' fill='%232CAD43'/%3e%3c/g%3e%3cdefs%3e%3cclipPath id='clip0_454_19'%3e%3crect width='13' height='13' fill='white' transform='translate(0.000244141 -0.000732422)'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e ");
  top: 5px;
  transform: translate(0);
}
@media (max-width: 768px) {
  .anonymity-title {
    font-size: 17px;
    margin-bottom: 10px;
  }
  .anonymity-list {
    grid-gap: 7px;
  }
  .anonymity-text {
    padding-left: 17px;
  }
  .anonymity-text::after {
    width: 10px;
    height: 10px;
  }
}
/* Анонимность ↑↑↑ */

/* Вопросы ↓↓↓ */
.title-questions {
  text-align: center;
}
.questions-wrapper {
  display: grid;
  grid-auto-flow: dense;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-gap: 20px;
  align-items: start;
}
.questions-cards {
  display: grid;
  grid-gap: 20px;
}
.questions_card {
  background: #f8f8f8;
  border-radius: 10px;
}
.questions_card-btn {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 20px;
  justify-content: space-between;
  border-radius: 10px;
  padding: 20px 35px;
}
.questions_card-heading {
  font-size: 20px;
  transition: color 0.3s;
}
.questions_card-btn:hover .questions_card-heading,
.questions_card-btn:focus-visible .questions_card-heading {
  color: #17942d;
}
.questions_card-iconAfter {
  width: 30px;
  height: 30px;
  border-radius: 7px;
  background-color: #fff;
}
.questions_card-iconAfter::after {
  width: 14px;
  height: 14px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg clip-path='url(%23clip0_396_69)'%3e%3cpath d='M6 1.00049C6 0.448204 6.44772 0.000488281 7 0.000488281C7.55228 0.000488281 8 0.448204 8 1.00049V13.0005C8 13.5528 7.55228 14.0005 7 14.0005C6.44772 14.0005 6 13.5528 6 13.0005V1.00049Z' fill='%232CAD43'/%3e%3cpath d='M1 8.00049C0.447716 8.00049 2.41411e-08 7.55277 0 7.00049C-2.41411e-08 6.4482 0.447715 6.00049 1 6.00049L13 6.00049C13.5523 6.00049 14 6.4482 14 7.00049C14 7.55277 13.5523 8.00049 13 8.00049L1 8.00049Z' fill='%232CAD43'/%3e%3c/g%3e%3cdefs%3e%3cclipPath id='clip0_396_69'%3e%3crect width='14' height='14' fill='white' transform='translate(0 0.000488281)'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e ");
  left: 50%;
  transform: translate(-50%, -50%);
  transition: background-image 0.3s, transform 0.4s;
}
.questions_card.open .questions_card-iconAfter::after {
  transform: translate(-50%, -50%) rotate(45deg);
}
.questions_card-btn:hover .questions_card-iconAfter::after,
.questions_card-btn:focus-visible .questions_card-iconAfter::after {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg clip-path='url(%23clip0_396_69)'%3e%3cpath d='M6 1.00049C6 0.448204 6.44772 0.000488281 7 0.000488281C7.55228 0.000488281 8 0.448204 8 1.00049V13.0005C8 13.5528 7.55228 14.0005 7 14.0005C6.44772 14.0005 6 13.5528 6 13.0005V1.00049Z' fill='%2317942d'/%3e%3cpath d='M1 8.00049C0.447716 8.00049 2.41411e-08 7.55277 0 7.00049C-2.41411e-08 6.4482 0.447715 6.00049 1 6.00049L13 6.00049C13.5523 6.00049 14 6.4482 14 7.00049C14 7.55277 13.5523 8.00049 13 8.00049L1 8.00049Z' fill='%232CAD43'/%3e%3c/g%3e%3cdefs%3e%3cclipPath id='clip0_396_69'%3e%3crect width='14' height='14' fill='white' transform='translate(0 0.000488281)'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e ");
}
.questions_card-window {
  height: 0;
  overflow: hidden;
}
.questions_card-body {
  padding: 0 35px 20px 35px;
}
@media (max-width: 768px) {
  .questions-wrapper,
  .questions-cards {
    grid-gap: 15px;
  }
}
@media (max-width: 576px) {
  .questions-wrapper {
    grid-template-columns: 1fr;
  }
  .questions_card-btn {
    grid-gap: 10px;
    align-items: center;
    padding: 15px 20px;
  }
  .questions_card-heading {
    font-size: 15px;
  }
  .questions_card-body {
    padding: 0 20px 15px 20px;
  }
  .questions_card-iconAfter {
    width: 24px;
    height: 24px;
  }
  .questions_card-iconAfter::after {
    width: 12px;
    height: 12px;
  }
}
/* Вопросы ↑↑↑ */
