@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");
body {
  color: #fff;
  background-color: #171717;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  font-weight: 300;
  margin: 0;
  padding: 0;
}
.overflow-hidden {
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
}
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
button,
input {
  font-size: inherit;
  font-family: inherit;
}
img {
  display: block;
  object-fit: cover;
}
/* Скролл ↓↓↓ */
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  background-color: #ebeef3;
}
::-webkit-scrollbar-thumb {
  background-color: #bebfc2;
  border: 0;
  border-radius: 0;
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}
::-webkit-scrollbar-thumb:hover {
  background-color: #808181;
}
/* Скролл ↑↑↑ */
.container {
  max-width: 1570px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}
.iconAfter {
  position: relative;
}
.iconAfter::after {
  content: "";
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
@media (max-width: 920px) {
}

/* Шапка ↓↓↓ */
header {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-content: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
  position: absolute;
  z-index: 15;
  top: 50px;
  left: 0;
}
.phone,
.email {
  font-size: 18px;
  padding-left: 23px;
}
.phone::after {
  width: 13px;
  height: 13px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='13' height='13' viewBox='0 0 13 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg clip-path='url(%23clip0_2638_6724)'%3e%3cpath d='M12.2017 9.18125C12.1684 9.15484 9.75 7.41162 9.08619 7.53675C8.76931 7.59281 8.58813 7.80894 8.22453 8.24159C8.16603 8.31147 8.02547 8.47884 7.91619 8.59787C7.68641 8.52293 7.46227 8.4317 7.24547 8.32488C6.12646 7.7801 5.22234 6.87598 4.67756 5.75697C4.57066 5.5402 4.47943 5.31605 4.40456 5.08625C4.524 4.97656 4.69137 4.836 4.76288 4.77587C5.1935 4.41431 5.41003 4.23312 5.46609 3.91544C5.58106 3.25731 3.83906 0.82225 3.82078 0.800313C3.74174 0.687404 3.6386 0.593475 3.5188 0.525323C3.39901 0.457171 3.26557 0.416499 3.12812 0.40625C2.42206 0.40625 0.40625 3.02128 0.40625 3.46166C0.40625 3.48725 0.443219 6.08887 3.65138 9.35228C6.91153 12.5568 9.51275 12.5938 9.53834 12.5938C9.97913 12.5938 12.5938 10.5779 12.5938 9.87187C12.5836 9.73491 12.5432 9.60192 12.4754 9.48248C12.4076 9.36305 12.3141 9.26016 12.2017 9.18125Z' fill='white'/%3e%3c/g%3e%3cdefs%3e%3cclipPath id='clip0_2638_6724'%3e%3crect width='13' height='13' fill='white'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e ");
}
.email::after {
  width: 13px;
  height: 13px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='13' height='13' viewBox='0 0 13 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg clip-path='url(%23clip0_2638_6719)'%3e%3cpath d='M12.35 1.62904C12.2946 1.62365 12.2388 1.62365 12.1834 1.62904H0.808438C0.735534 1.6301 0.663113 1.64042 0.593125 1.65972L6.46344 7.17846L12.35 1.62904Z' fill='white'/%3e%3cpath d='M12.9513 2.16212L7.03625 7.72305C6.88402 7.86591 6.67809 7.94609 6.46344 7.94609C6.24879 7.94609 6.04286 7.86591 5.89062 7.72305L0.0284375 2.20431C0.010416 2.26684 0.000860716 2.33127 0 2.39606V10.0663C0 10.2697 0.0856025 10.4648 0.237976 10.6087C0.390349 10.7525 0.597012 10.8333 0.8125 10.8333H12.1875C12.403 10.8333 12.6097 10.7525 12.762 10.6087C12.9144 10.4648 13 10.2697 13 10.0663V2.39606C12.9968 2.31616 12.9803 2.23723 12.9513 2.16212ZM1.36906 10.0663H0.804375V9.51789L3.75781 6.75276L4.33063 7.29352L1.36906 10.0663ZM12.1794 10.0663H11.6106L8.64906 7.29352L9.22187 6.75276L12.1753 9.51789L12.1794 10.0663Z' fill='white'/%3e%3c/g%3e%3cdefs%3e%3cclipPath id='clip0_2638_6719'%3e%3crect width='13' height='13' fill='white'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e ");
}
@media (max-width: 920px) {
  header {
    position: relative;
    top: auto;
    left: auto;
    background-color: #171717;
    padding: 25px;
  }
}
@media (max-width: 800px) {
  header {
    grid-template-columns: auto;
  }
  header .phone,
  header .email {
    display: none;
  }
  .logo {
    width: 150px;
    height: 18px;
  }
}
/* Шапка ↑↑↑ */

/* Подвал ↓↓↓ */
footer {
  background-color: #171717;
  padding-top: 90px;
}
.footer-body {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 20px;
  justify-content: space-between;
  align-items: start;
  align-content: start;
}
.footer-info {
  display: grid;
}
.footer-link {
  margin-bottom: 20px;
}
.footer-logo {
  width: 166px;
  height: 20px;
}
.footer-phone {
  font-size: 17px;
  margin-bottom: 5px;
}
.footer-schedule {
  font-size: 14px;
}
.nav-links {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 50px;
}
.nav-link {
  white-space: nowrap;
}
.footer-contacts {
  display: grid;
  grid-gap: 20px;
}
.telegram {
  font-size: 17px;
  padding-left: 23px;
}
.telegram::after {
  width: 13px;
  height: 13px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='13' height='13' viewBox='0 0 13 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.4257 1.7985L10.6273 10.9919C10.4916 11.6406 10.1379 11.8021 9.63518 11.4967L6.8949 9.30779L5.57286 10.6865C5.42644 10.8452 5.30428 10.9776 5.02208 10.9776L5.21916 7.95266L10.2975 2.9783C10.5184 2.76513 10.2494 2.64655 9.95441 2.86018L3.67621 7.14567L0.973392 6.22841C0.385583 6.02954 0.374942 5.59121 1.09598 5.2853L11.6676 0.870158C12.1571 0.671294 12.5853 0.988276 12.4257 1.79896V1.7985Z' fill='white'/%3e%3c/svg%3e ");
}
footer .email {
  font-size: 17px;
}
.footer-down {
  border-top: 1px solid #454545;
  padding: 20px 0;
  margin-top: 50px;
}
.footer-copyright {
  color: #454545;
  text-align: center;
}
@media (max-width: 1340px) {
  .footer-body {
    grid-template-columns: auto;
    grid-template-areas:
      "one"
      "two"
      "three";
    grid-gap: 15px;
    justify-content: unset;
  }
  .footer-info {
    grid-area: one;
  }
  .footer-contacts {
    grid-area: two;
  }
  .nav-links {
    grid-area: three;
    grid-auto-flow: dense;
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    grid-gap: 20px;
    margin-top: 15px;
  }
  .footer-link {
    margin-bottom: 30px;
  }
  .footer-contacts {
    grid-gap: 15px;
  }
  .footer-phone,
  .footer-schedule {
    padding-left: 23px;
  }
  .footer-phone::after {
    width: 12px;
    height: 12px;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='13' height='13' viewBox='0 0 13 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg clip-path='url(%23clip0_2638_6724)'%3e%3cpath d='M12.2017 9.18125C12.1684 9.15484 9.75 7.41162 9.08619 7.53675C8.76931 7.59281 8.58813 7.80894 8.22453 8.24159C8.16603 8.31147 8.02547 8.47884 7.91619 8.59787C7.68641 8.52293 7.46227 8.4317 7.24547 8.32488C6.12646 7.7801 5.22234 6.87598 4.67756 5.75697C4.57066 5.5402 4.47943 5.31605 4.40456 5.08625C4.524 4.97656 4.69137 4.836 4.76288 4.77587C5.1935 4.41431 5.41003 4.23312 5.46609 3.91544C5.58106 3.25731 3.83906 0.82225 3.82078 0.800313C3.74174 0.687404 3.6386 0.593475 3.5188 0.525323C3.39901 0.457171 3.26557 0.416499 3.12812 0.40625C2.42206 0.40625 0.40625 3.02128 0.40625 3.46166C0.40625 3.48725 0.443219 6.08887 3.65138 9.35228C6.91153 12.5568 9.51275 12.5938 9.53834 12.5938C9.97913 12.5938 12.5938 10.5779 12.5938 9.87187C12.5836 9.73491 12.5432 9.60192 12.4754 9.48248C12.4076 9.36305 12.3141 9.26016 12.2017 9.18125Z' fill='white'/%3e%3c/g%3e%3cdefs%3e%3cclipPath id='clip0_2638_6724'%3e%3crect width='13' height='13' fill='white'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e ");
  }
  .telegram::after {
    width: 12px;
    height: 12px;
  }
  .email::after {
    width: 12px;
    height: 12px;
  }
}
@media (max-width: 768px) {
  .footer-logo {
    width: 150px;
    height: 18px;
  }
  .nav-link {
    font-size: 15px;
  }
  .footer-phone,
  .telegram,
  footer .email {
    font-size: 16px;
  }
}
/* Подвал ↑↑↑ */
