@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Light.eot");
  src: local("Gilroy Light"), local("Gilroy-Light"),
    url("../fonts/Gilroy-Light.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Gilroy-Light.woff") format("woff"),
    url("../fonts/Gilroy-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Regular.eot");
  src: local("Gilroy Regular"), local("Gilroy-Regular"),
    url("../fonts/Gilroy-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Gilroy-Regular.woff") format("woff"),
    url("../fonts/Gilroy-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Medium.eot");
  src: local("Gilroy Medium"), local("Gilroy-Medium"),
    url("../fonts/Gilroy-Medium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Gilroy-Medium.woff") format("woff"),
    url("../fonts/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-SemiBold.eot");
  src: local("Gilroy SemiBold"), local("Gilroy-SemiBold"),
    url("../fonts/Gilroy-SemiBold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Gilroy-SemiBold.woff") format("woff"),
    url("../fonts/Gilroy-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Bold.eot");
  src: local("Gilroy Bold"), local("Gilroy-Bold"),
    url("../fonts/Gilroy-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Gilroy-Bold.woff") format("woff"),
    url("../fonts/Gilroy-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

body {
  color: #000;
  background-color: #fff;
  font-family: "Gilroy", sans-serif;
  font-size: 25px;
  font-weight: 500;
  font-style: normal;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
}
#bodyOverflow {
  width: 100%;
  height: 100vh;
  overflow: auto;
}
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1359px;
  width: 100%;
  margin: 0 auto;
}
.scrollbar-track {
  background-color: transparent !important;
}
.scrollbar-track-y {
  right: 3px !important;
}
.scrollbar-thumb {
  background: #333 !important;
  transition: 0.2s;
}
.scrollbar-thumb:hover {
  background: #000 !important;
}
img {
  display: block;
}
li {
  list-style: none;
}
button {
  font-weight: 500;
  border: 0;
  outline: 0;
  cursor: pointer;
}
a {
  font-weight: 500;
  color: #000;
  text-decoration: none;
}
.title {
  font-size: 80px;
  font-weight: 400;
}
main {
  background-color: #fff;
  position: relative;
  z-index: 2;
  overflow: hidden;
}
section {
  margin-bottom: 350px;
}
/* Шапка */
header {
  padding: 75px 60px 0 60px;
  margin-bottom: 200px;
}
.header-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header_menu {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  grid-gap: 22px;
  padding-right: 47px;
}
.header_menu-text {
  font-size: 20px;
  cursor: pointer;
}
.burger {
  width: 40px;
  height: 40px;
  background-color: transparent;
  position: fixed;
  right: 56px;
  top: 70px;
  z-index: 300;
  transition: all 0.5s;
}
.burgerColor {
  color: #000 !important;
  background-color: #fff !important;
}
.mf-cursor.burgerColor::before {
  transform: scale(1.32);
  opacity: 1 !important;
}
.-comparisonColor {
  color: #0196da;
}
.mf-cursor-comparisonColor::before {
  opacity: 0.7 !important;
}
.burger-line {
  display: block;
  width: 25px;
  height: 2px;
  background-color: #000;
  position: absolute;
  /* right: 50%; */
  /* transform: translate(50%, 0); */
  transition: background-color 0.25s linear, width 0.2s linear,
    transform 0.2s linear;
  /* transition: width 0.5s linear; */
}
.burger-line.one {
  top: 15px;
  left: 7.5px;
}
.burger-line.two {
  bottom: 15px;
  right: 7.5px;
}
.burger.open .burger-line.one,
.burger.open .burger-line.two {
  /* width: 5px; */
}
.burger.open .burger-line.one {
  transform: rotate(45deg);
  top: 19px;
}
.burger.open .burger-line.two {
  transform: rotate(-45deg);
  bottom: 19px;
}
.burger-line.three,
.burger-line.four {
  opacity: 0;
}
@keyframes menu {
  0% {
    width: 25px;
  }
  40% {
    width: 0;
  }
  50% {
    transform: rotate(45deg);
  }
  100% {
  }
}
/* Меню */
.menu-blackout,
.menu {
  position: fixed;
  top: 0;
  height: 100vh;
}
.menu-blackout {
  width: 100%;
  display: none;
  right: 0;
  background-color: #f4f1e9;
  opacity: 0;
  z-index: 10;
}
.menu-blackout.open {
  display: block;
}
.menu {
  width: 587px;
  display: none;
  align-content: space-between;
  background-color: #fff;
  padding: 223px 80px 91px 80px;
  overflow-y: auto;
  right: -100%;
  z-index: 15;
}
.menu.open {
  display: grid;
}
.menu-title {
  font-size: 56px;
  font-weight: 500;
  margin-bottom: 24px;
}
.menu-cards {
  display: grid;
  grid-gap: 20px;
}
.menu_card {
  display: grid;
  justify-content: start;
  grid-gap: 2px;
}
.menu_card-title {
  color: #8f8f8f;
  font-size: 14px;
  font-weight: 500;
}
.menu_card-link {
  font-size: 20px;
}

/* Подвал */
footer {
  /* position: fixed; */
  z-index: 1;
  left: 0;
  bottom: 0;
  background-color: #000;
  width: 100%;
  min-height: 100vh;
  padding: 270px 0 100px 0;
  /* margin-top: 350px; */
}
.footer-title {
  color: #fff;
  font-size: 70px;
  font-weight: 400;
  margin-bottom: 116px;
}
.footer-title .help {
  display: block;
  font-weight: 600;
}
.footer-cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 293px;
}
.footer_card {
  display: grid;
  grid-gap: 10px;
}
.footer_card-title {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}
.footer_card-link {
  color: #fff;
  font-size: 40px;
  font-weight: 600;
}

/* Цвета при наведение */
.color_project::before {
  opacity: 0.8 !important;
}
.color_project-one {
  color: #709980;
}
.color_project-two {
  color: #794aff;
}
.color_project-three {
  color: #eadac3;
}
.color_project-four {
  color: #bf2e42;
}
.color_project-five {
  color: #167fae;
}
.color_project-six {
  color: #bee4cd;
}
.color_project-seven {
  color: #dacdfd;
}
