@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap");
body {
  background-color: #fff;
  color: #323232;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
}
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*:focus {
  outline: none;
}
section {
  padding: 90px 0;
}
a {
  display: block;
  color: inherit;
  text-decoration: none;
}
button {
  color: inherit;
  cursor: pointer;
}
button,
input {
  font-family: inherit;
  border: 0;
  outline: 0;
}
h1,
h2,
h3,
h4 {
  font-family: inherit;
  font-weight: 700;
}
a,
button,
input {
  transition: color 0.18s linear, border 0.18s linear, background 0.18s linear;
}
a::after {
  transition: background-image 0.18s linear;
}
img {
  display: block;
  object-fit: cover;
  user-select: none;
  pointer-events: none;
}
ul,
li {
  list-style: none;
}
address {
  font-style: normal;
}
/* Скролл начало */
::-webkit-scrollbar {
  width: 10px;
  height: 3px;
  background-color: #ebeef3;
}
::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
  border: 0;
  border-radius: 0;
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}
::-webkit-scrollbar-thumb:hover {
  background-color: #a8a8a8;
}
/* Скролл конец */

.disable-scroll {
  -webkit-overflow-scrolling: touch;
  touch-action: none;
  -ms-touch-action: none;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
}
.body-overflow {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}
.container,
.container-swiper {
  max-width: 1150px;
  width: 100%;
  margin: 0 auto;
}
.container {
  padding: 0 20px;
}
.container-swiper {
  position: relative;
  z-index: 0;
}
.reqular {
  font-weight: 400;
}
.bold {
  font-weight: 700;
}
.heading {
  display: grid;
  align-items: center;
  align-content: center;
  justify-content: center;
  grid-gap: 5px;
  margin-bottom: 40px;
  text-align: center;
}
.title {
  font-size: 40px;
}
.icon-after {
  display: inline-block;
  position: relative;
}
.icon-after::after {
  content: "";
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.leftline {
  padding-left: 24px;
  position: relative;
}
.leftline::after {
  content: "";
  width: 4px;
  height: calc(100% - 10px);
  background: linear-gradient(180deg, #f78f7e 0%, #f6583f 100%);
  border-radius: 5px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.input {
  width: 100%;
  background: #f3f4f9;
  color: #323232;
  font-size: 14px;
  font-weight: 700;
  border-radius: 5px;
  border: 1px solid #f3f4f9;
  padding: 19px 20px 20px 20px;
}
.input::placeholder {
  color: #abb3c1;
}
.input.warning {
  border: 1px solid #f6583f;
}
.input.warning::placeholder {
  color: #f6583f;
}
.btn {
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  background: linear-gradient(180deg, #608bf7 0%, #2c5ad0 100%);
  box-shadow: 0px 4px 0px #0432a8;
  border-radius: 5px;
  padding: 23px;
}
.btn:hover,
.btn:focus-visible {
  background: linear-gradient(180deg, #4c77e3 0%, #1846bc 100%);
  box-shadow: 0px 4px 0px #001e94;
}
.swiper {
  width: 100%;
  height: 100%;
}
.mobile {
  display: none !important;
}
@media (max-width: 768px) {
  body {
    font-size: 15px;
  }
  .title {
    font-size: 35px;
  }
}
@media (max-width: 576px) {
  body {
    font-size: 14px;
  }
  section {
    padding: 80px 0;
  }
  .heading {
    margin-bottom: 30px;
  }
  .title {
    font-size: 30px;
  }
  .leftline {
    padding-left: 19px;
  }
  .input {
    padding: 17px 15px;
  }
  .btn {
    padding: 18px;
  }
}
@media (max-width: 425px) {
  .title {
    font-size: 25px;
  }
}

/* Шапка и Футер ↓↓↓ */
.header-wrapper {
  width: 100%;
  padding: 20px 0;
}
.header-links-wrapper {
  width: 100%;
  border-top: 1px solid #dde5f3;
}
footer .header-links-wrapper {
  border-bottom: 1px solid #dde5f3;
}
.header-body {
  display: grid;
  grid-auto-flow: column;
  /* grid-template-columns: 315px auto 395px; */
  grid-gap: 20px;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}
.logo {
  display: grid;
  grid-template-areas:
    "img name"
    "img date"
    "img link";
  grid-template-columns: 65px auto;
  grid-template-rows: 39px 18px 18px;
  grid-column-gap: 20px;
  align-items: start;
  align-content: start;
  justify-content: start;
}
.logo-img {
  grid-area: img;
}
.logo-name {
  grid-area: name;
  max-width: 227px;
  font-size: 14px;
  line-height: 1em;
}
.logo-date {
  grid-area: date;
  font-size: 12px;
  line-height: 1em;
}
.logo-link {
  grid-area: link;
  color: #abb3c1;
  font-size: 12px;
  font-weight: 700;
  line-height: 1em;
  text-decoration: underline;
}
.logo-link:hover,
.logo-link:focus-visible {
  color: #8d95a3;
}
.contacts {
  display: grid;
  grid-gap: 4px;
}
.contacts-title {
  font-size: 12px;
}
.contacts-icon {
  font-size: 14px;
  padding-left: 26px;
}
.contacts-icon::after {
  width: 16px;
  height: 16px;
}
.contacts-address::after {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M11.52 2.45996C15.5867 6.55329 10.1867 12.7733 8.47333 14.5266C8.41136 14.5891 8.33763 14.6387 8.25639 14.6726C8.17515 14.7064 8.08801 14.7238 8 14.7238C7.91199 14.7238 7.82486 14.7064 7.74362 14.6726C7.66238 14.6387 7.58864 14.5891 7.52667 14.5266C6.27333 13.2333 3 9.50663 3 5.99996C2.99939 5.25416 3.16562 4.51767 3.48653 3.84444C3.80743 3.17121 4.27488 2.57829 4.85463 2.10913C5.43437 1.63996 6.11173 1.30643 6.83708 1.13297C7.56242 0.959507 8.31739 0.950507 9.04667 1.10663C9.98631 1.30457 10.8467 1.77533 11.52 2.45996Z' fill='url(%23paint0_linear_8_993)'/%3e%3cpath d='M8.00008 8.33329C9.28875 8.33329 10.3334 7.28862 10.3334 5.99996C10.3334 4.71129 9.28875 3.66663 8.00008 3.66663C6.71142 3.66663 5.66675 4.71129 5.66675 5.99996C5.66675 7.28862 6.71142 8.33329 8.00008 8.33329Z' fill='white'/%3e%3cdefs%3e%3clinearGradient id='paint0_linear_8_993' x1='8.00174' y1='0.99585' x2='8.00174' y2='14.7238' gradientUnits='userSpaceOnUse'%3e%3cstop stop-color='%23F78F7E'/%3e%3cstop offset='1' stop-color='%23F6583F'/%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e ");
}
.contacts-email::after {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M13.7467 3H2.25333C1.56114 3 1 3.56114 1 4.25333V11.7467C1 12.4389 1.56114 13 2.25333 13H13.7467C14.4389 13 15 12.4389 15 11.7467V4.25333C15 3.56114 14.4389 3 13.7467 3Z' fill='url(%23paint0_linear_8_997)'/%3e%3cpath d='M2.33325 4.33337L7.05325 9.05337C7.1772 9.17834 7.32467 9.27754 7.48715 9.34523C7.64963 9.41292 7.8239 9.44777 7.99992 9.44777C8.17593 9.44777 8.35021 9.41292 8.51269 9.34523C8.67517 9.27754 8.82263 9.17834 8.94659 9.05337L13.6666 4.33337' fill='white'/%3e%3cpath d='M2.33325 11.6667L4.99992 9' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3e%3cpath d='M11 9L13.6667 11.6667' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3e%3cdefs%3e%3clinearGradient id='paint0_linear_8_997' x1='8' y1='3' x2='8' y2='13' gradientUnits='userSpaceOnUse'%3e%3cstop stop-color='%23F78F7E'/%3e%3cstop offset='1' stop-color='%23F6583F'/%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e ");
}
.hotline-wrapper {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 40px;
  align-items: end;
  justify-content: start;
  justify-items: start;
}
.hotline-heading {
  font-size: 12px;
}
.hotline-phone {
  font-weight: 700;
  position: relative;
  white-space: nowrap;
}
.hotline-phone::after {
  content: "";
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.hotline-phone.first {
  font-size: 18px;
  padding-left: 26px;
}
.hotline-phone.first::after {
  width: 16px;
  height: 16px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M13.6667 11.1799L11.4733 9.74656C11.2537 9.60496 10.9876 9.55432 10.7314 9.60533C10.4751 9.65633 10.2487 9.805 10.1 10.0199C9.58667 10.6332 8.98 11.6466 6.67334 9.35322C4.36667 7.05989 5.34 6.41989 6.00667 5.91322C6.21888 5.76243 6.36541 5.5362 6.41622 5.28087C6.46704 5.02554 6.41831 4.76045 6.28 4.53989L4.81334 2.32656C4.62667 2.05323 4.37334 1.60656 3.78 1.65989C3.15646 1.82828 2.6074 2.20091 2.22065 2.71819C1.83389 3.23548 1.63179 3.86752 1.64667 4.51323C1.64667 6.41322 3.14667 8.73989 5.19334 10.7866C7.24 12.8332 9.56667 14.3199 11.4467 14.3199C12.0827 14.3071 12.6991 14.0968 13.2103 13.7182C13.7215 13.3395 14.1024 12.8113 14.3 12.2066C14.3667 11.8132 13.94 11.3732 13.6667 11.1799Z' fill='url(%23paint0_linear_2_13)'/%3e%3cdefs%3e%3clinearGradient id='paint0_linear_2_13' x1='7.97644' y1='1.65552' x2='7.97644' y2='14.3199' gradientUnits='userSpaceOnUse'%3e%3cstop stop-color='%23F78F7E'/%3e%3cstop offset='1' stop-color='%23F6583F'/%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e ");
}
.hotline-phone.first:hover,
.hotline-phone.first:focus-visible {
  color: #f6583f;
}
.hotline-phone.second {
  color: #abb3c1;
  font-size: 16px;
  padding-left: 24px;
}
.hotline-phone.second::after {
  width: 14px;
  height: 14px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M11.9583 9.78256L10.0392 8.52839C9.84699 8.4045 9.61417 8.36018 9.38993 8.40481C9.16568 8.44945 8.96758 8.57953 8.83749 8.76756C8.38832 9.30422 7.85749 10.1909 5.83916 8.18423C3.82082 6.17756 4.67249 5.61756 5.25582 5.17422C5.44151 5.04228 5.56972 4.84433 5.61418 4.62091C5.65865 4.3975 5.61601 4.16555 5.49499 3.97256L4.21166 2.03589C4.04832 1.79673 3.82666 1.40589 3.30749 1.45256C2.76189 1.59989 2.28146 1.92595 1.94306 2.37857C1.60465 2.83119 1.42781 3.38423 1.44083 3.94922C1.44083 5.61172 2.75333 7.64756 4.54416 9.43839C6.33499 11.2292 8.37082 12.5301 10.0158 12.5301C10.5724 12.5189 11.1117 12.3349 11.559 12.0036C12.0063 11.6722 12.3396 11.21 12.5125 10.6809C12.5708 10.3367 12.1975 9.95173 11.9583 9.78256Z' fill='%23ABB3C1'/%3e%3c/svg%3e ");
}
.hotline-phone.second:hover,
.hotline-phone.second:focus-visible {
  color: #8d95a3;
}
.hotline-phone.second:hover::after,
.hotline-phone.second:focus-visible::after {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M11.9583 9.78256L10.0392 8.52839C9.84699 8.4045 9.61417 8.36018 9.38993 8.40481C9.16568 8.44945 8.96758 8.57953 8.83749 8.76756C8.38832 9.30422 7.85749 10.1909 5.83916 8.18423C3.82082 6.17756 4.67249 5.61756 5.25582 5.17422C5.44151 5.04228 5.56972 4.84433 5.61418 4.62091C5.65865 4.3975 5.61601 4.16555 5.49499 3.97256L4.21166 2.03589C4.04832 1.79673 3.82666 1.40589 3.30749 1.45256C2.76189 1.59989 2.28146 1.92595 1.94306 2.37857C1.60465 2.83119 1.42781 3.38423 1.44083 3.94922C1.44083 5.61172 2.75333 7.64756 4.54416 9.43839C6.33499 11.2292 8.37082 12.5301 10.0158 12.5301C10.5724 12.5189 11.1117 12.3349 11.559 12.0036C12.0063 11.6722 12.3396 11.21 12.5125 10.6809C12.5708 10.3367 12.1975 9.95173 11.9583 9.78256Z' fill='%238d95a3'/%3e%3c/svg%3e ");
}
.hotline-text {
  color: #abb3c1;
  font-size: 12px;
  font-weight: 700;
}
.header-links {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  align-items: center;
}
.header-link {
  font-size: 14px;
  padding: 10px 20px;
  margin-right: 4px;
  position: relative;
}
.header-link::after {
  content: "";
  width: 4px;
  height: 4px;
  background: linear-gradient(180deg, #f78f7e 0%, #f6583f 100%);
  border-radius: 5px;
  position: absolute;
  right: -4px;
  top: 50%;
  transform: translateY(-50%);
  user-select: none;
  pointer-events: none;
}
.header-link:last-child {
  margin-right: 0;
}
.header-link:last-child::after {
  display: none;
}
.header-link:hover,
.header-link:focus-visible {
  color: #f6583f;
}
.footer_basement {
  background-color: #f5f5f5;
  padding: 20px 0;
}
.footer_basement-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer_basement-title {
  font-size: 14px;
  font-weight: 700;
  max-width: 285px;
}
.footer_basement-list {
  display: grid;
  grid-gap: 2px;
  justify-content: end;
  justify-items: end;
  font-size: 12px;
  text-align: right;
}
@media (max-width: 1110px) {
  header {
    display: none;
  }
  .header_mobile {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 30;
  }
  .header_mobile.mobile {
    display: grid !important;
    grid-template-rows: auto 1fr;
  }
  .header_mobile.open {
  }
  .header_mobile-cap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-bottom: 1px solid #dde5f3;
    padding: 15px 20px;
    position: relative;
    z-index: 1;
  }
  .header_mobile-logo.logo {
    grid-template-areas:
      "img name"
      "img date";
    grid-template-columns: 47px 135px;
    grid-template-rows: 42px 17px;
  }
  .header_mobile-logo .logo-img {
    width: 100%;
    height: 100%;
  }
  .header_mobile-logo .logo-name {
    font-size: 12px;
  }
  .burger {
    width: 40px;
    height: 40px;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='40' height='26' viewBox='0 0 40 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M0 1C0 0.447715 0.447715 0 1 0H39C39.5523 0 40 0.447715 40 1C40 1.55228 39.5523 2 39 2H0.999999C0.447714 2 0 1.55228 0 1Z' fill='url(%23paint0_linear_3_1302)'/%3e%3cpath d='M10 13C10 12.4477 10.4477 12 11 12H39C39.5523 12 40 12.4477 40 13C40 13.5523 39.5523 14 39 14H11C10.4477 14 10 13.5523 10 13Z' fill='url(%23paint1_linear_3_1302)'/%3e%3cpath d='M0 25C0 24.4477 0.447715 24 1 24H39C39.5523 24 40 24.4477 40 25C40 25.5523 39.5523 26 39 26H0.999999C0.447714 26 0 25.5523 0 25Z' fill='url(%23paint2_linear_3_1302)'/%3e%3cdefs%3e%3clinearGradient id='paint0_linear_3_1302' x1='20' y1='0' x2='20' y2='26' gradientUnits='userSpaceOnUse'%3e%3cstop stop-color='%23608BF7'/%3e%3cstop offset='1' stop-color='%232C5AD0'/%3e%3c/linearGradient%3e%3clinearGradient id='paint1_linear_3_1302' x1='20' y1='0' x2='20' y2='26' gradientUnits='userSpaceOnUse'%3e%3cstop stop-color='%23608BF7'/%3e%3cstop offset='1' stop-color='%232C5AD0'/%3e%3c/linearGradient%3e%3clinearGradient id='paint2_linear_3_1302' x1='20' y1='0' x2='20' y2='26' gradientUnits='userSpaceOnUse'%3e%3cstop stop-color='%23608BF7'/%3e%3cstop offset='1' stop-color='%232C5AD0'/%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e ");
    cursor: pointer;
    transition: background-image 0.18s linear;
  }
  .burger.open {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M2 2L28 28M28 2L2 28' stroke='url(%23paint0_linear_3_911)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3cdefs%3e%3clinearGradient id='paint0_linear_3_911' x1='15' y1='2' x2='15' y2='28' gradientUnits='userSpaceOnUse'%3e%3cstop stop-color='%23608BF7'/%3e%3cstop offset='1' stop-color='%232C5AD0'/%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e ");
  }
  .header_mobile-window {
    width: 100%;
    height: 0;
    background: rgba(18, 18, 18, 0.8);
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 100%;
    right: 0;
    z-index: -1;
  }
  .header_mobile-body {
    background-color: #fff;
    border-radius: 0 0 10px 10px;
  }
  .header_mobile-links {
    padding: 12.5px 0;
    border-bottom: 1px solid #dde5f3;
  }
  .header_mobile-link {
    font-size: 15px;
    padding: 12.5px 20px;
  }
  .header_mobile-contacts {
    padding: 25px 20px 30px 20px;
  }
  .header_mobile-contacts .hotline-text {
    margin-bottom: 10px;
  }
  .header-body {
    grid-template-columns: auto;
    grid-auto-flow: row;
  }
  .header-links-wrapper.desktop {
    display: none;
  }
  .header-links-wrapper.mobile {
    display: block !important;
  }
  .header-wrapper {
    border-top: 1px solid #dde5f3;
  }
  footer .header-links-wrapper {
    border-bottom: 0;
  }
}
@media (max-width: 500px) {
  .header-links {
    grid-template-columns: repeat(auto-fit, minmax(135px, 1fr));
    grid-auto-flow: dense;
    padding: 25px 0;
  }
  .header-link {
    margin: 0;
    padding: 5px 0;
  }
  .header-link::after {
    display: none;
  }
  .contacts-title {
    margin-bottom: 6px;
  }
  .hotline-wrapper {
    grid-auto-flow: row;
    grid-gap: 7px;
    margin-bottom: 10px;
  }
  .hotline-heading {
    margin-bottom: 10px;
  }
  .hotline-phone.first {
    padding-left: 24px;
  }
  .footer_basement-body {
    flex-direction: column;
    align-items: flex-start;
  }
  .footer_basement-title {
    margin-bottom: 10px;
  }
  .footer_basement-list {
    justify-content: start;
    justify-items: start;
    text-align: left;
  }
}
@media (max-width: 425px) {
  .logo {
    grid-column-gap: 15px;
  }
  .logo-name {
    font-size: 12px;
  }
}
/* Шапка и Футер ↑↑↑ */

/* Попап ↓↓↓ */
.popup {
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(18, 18, 18, 0.8);
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 40;
  overflow: auto;
  padding: 20px;
}
.popup.open {
  display: flex;
}
.popup-close {
  width: 40px;
  height: 40px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M9.1665 9.1665L30.8332 30.8332' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3cpath d='M30.8332 9.1665L9.1665 30.8332' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}
.popup-body {
  margin: auto;
}
.form_block-wrapper {
  max-width: 350px;
  width: 100%;
  position: relative;
  z-index: 3;
}
.form_block {
  background-color: #fff;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  padding: 40px;
  position: relative;
  z-index: 2;
}
.form_block-backing {
  width: calc(100% - 20px);
  height: 100%;
  background: #f3f4f9;
  position: absolute;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
  top: 10px;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}
.form_block-title {
  font-size: 18px;
  margin-bottom: 30px;
  text-align: center;
}
.form_block-form {
  display: grid;
  grid-gap: 10px;
  grid-auto-rows: auto;
}
.popup-certification-img {
  width: 350px;
  height: 495px;
}
.success_block {
  display: grid;
  max-width: 350px;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  padding: 90px 40px;
  text-align: center;
}
.success_block-img {
  width: 50px;
  height: 50px;
  margin: 0 auto 20px auto;
}
.success_block-title {
  font-size: 24px;
  margin-bottom: 10px;
  line-height: 1.1em;
}
.success_block-subtitle {
  color: #abb3c1;
  font-size: 14px;
  font-weight: 700;
}
@media (max-width: 425px) {
  .popup {
    padding: 60px 20px 20px 20px;
  }
  .popup-close {
    width: 35px;
    height: 35px;
  }
  .popup-body {
    width: 100%;
  }
  .popup-certification-img {
    width: 100%;
    height: auto;
  }
  .form_block {
    padding: 30px 20px;
  }
  .form_block-title {
    margin-bottom: 20px;
  }
  .success_block {
    padding: 30px 15px 50px 15px;
    margin: 0 auto;
  }
  .success_block-title {
    font-size: 20px;
  }
}
/* Попап ↑↑↑ */
