/*
font-family: 'Manrope', sans-serif;
font-family: 'Roboto', sans-serif;
*/
body{
  color: #606267;
  background: #FFF;
  font-size: 18px;
  font-weight: 300;
  font-family: 'Manrope', sans-serif;
  margin: 0;
  padding: 0;
}
*,
*::after,
*::before{
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}
img{
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
a{color: #262729;text-decoration: none;}
h2{font-size: 45px;font-weight: 800;}
button{cursor: pointer;}
input,a,button,h2{font-family: 'Manrope', sans-serif;}
input,a,button{
  font-size: 18px;
  -webkit-transition: all 0.13s linear;
  -o-transition: all 0.13s linear;
  transition: all 0.13s linear;
}
li{
  list-style-type: none;
}
.mb-10{margin-bottom: 10px;}
.mb-15{margin-bottom: 15px;}
.mb-20{margin-bottom: 20px;}
.pl-15{padding-left: 15px;}
.br{display: block;}
.medium{color: #262729;font-weight: 500;}
.marker{
  padding-left: 15px;
  position: relative;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='5' height='5' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='2.5' cy='2.5' r='2.5' fill='url(%23a)'/%3e%3cdefs%3e%3clinearGradient id='a' x1='0' y1='2.5' x2='5' y2='2.5' gradientUnits='userSpaceOnUse'%3e%3cstop stop-color='%23FF6309'/%3e%3cstop offset='1' stop-color='%23FF814A'/%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: left 10px;
}
/* Скролл начало */
::-webkit-scrollbar-button {
  width:15px;
  height:0px}
::-webkit-scrollbar-track {
  background-color: #e9e9e9}
::-webkit-scrollbar-thumb {
  background-color: #C1C1C1;
  background-position:center;
  background-repeat:no-repeat;}
::-webkit-scrollbar-thumb:hover{
  background-color: #A8A8A8;}
::-webkit-resizer{
  width:10px;
  height:0px;}
::-webkit-scrollbar{
  width: 10px;
}
/* Скролл конец */
.container{
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}
.cap-mobile{display: none;}
header{
  width: 100%;
}
.nav-info-wrapper{
  width: 100%;
  background: #FFF;
  padding: 37px 0 32px 0;
  box-shadow: 0px 0px 30px rgba(153, 155, 163, 0.15);
}
.nav-info{
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  grid-gap: 41px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.logo-wrapper{
  display: inherit;
}
.logo{
  width: 183px;
  height: 70px;
}
.btn-main{
  background: transparent;
  border: 0;
  border-radius: 50px;
  overflow: hidden;
  position: relative;
}
.btn-gradient,
.btn-background,
.btn-border,
.btn-text{
  display: inline-block;
  -webkit-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s;
}
.btn-gradient{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  padding: 1px;
  border-radius: 50px;
}
.btn-background{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  border-radius: 50px;
}
.btn-nav-background{
  background: -o-linear-gradient(left, #FF7F09 0%, #FF9D09 100%);
  background: -webkit-gradient(linear, left top, right top, from(#FF7F09), to(#FF9D09));
  background: linear-gradient(90deg, #FF7F09 0%, #FF9D09 100%);
}
.btn-border{
  width: 100%;
  height: 100%;
  background: #FFF;
  position: relative;
  z-index: 2;
  border-radius: 50px;
  opacity: 1;
  transition: all 0.1s;
}
.btn-text{
  font-weight: 600;
  padding: 17px 33px 16px 34px;
  position: relative;
  z-index: 3;
  border-radius: 50px;
}
.btn-nav-text{
  font-size: 16px;
  background: -webkit-gradient(linear, left top, right top, from(#FF6309), color-stop(100%, #FF814A), to(#FF814A));
  background: -o-linear-gradient(left, #FF6309 0%, #FF814A 100%, #FF814A);
  background: linear-gradient(90deg, #FF6309 0%, #FF814A 100%, #FF814A);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: table;
  color: #0B2349;
}
.btn-main:hover .btn-border{
  opacity: 0;
}
.btn-main:hover .btn-nav-text{
  background: -webkit-gradient(linear, left top, right top, from(#FFFFFF), color-stop(100%, #FFFFFF), to(#FFFFFF));
  background: -o-linear-gradient(left, #FFFFFF 0%, #FFFFFF 100%, #FFFFFF);
  background: linear-gradient(90deg, #FFFFFF 0%, #FFFFFF 100%, #FFFFFF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #FFFFFF;
  display: table;
}
.nav-info-block{
  height: 100%;
  display: grid;
  grid-auto-flow: row;
  align-content: space-between;
}
.nav-info-icon{
  color: #262729;
  font-weight: 500;
  position: relative;
}
.nav-info-icon::after{
  content: '';
  position: absolute;
  top: 2px;
  left: -30px;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-transition: all 0.13s;
  -o-transition: all 0.13s;
  transition: all 0.13s;
}
.nav-info-icon.address::after{
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='20' height='20' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M10 0a7.77 7.77 0 0 0-7.77 7.77C2.23 12.06 7.53 20 10 20c2.47 0 7.77-7.94 7.77-12.23A7.77 7.77 0 0 0 10 0Zm0 11.33a4.09 4.09 0 1 1 0-8.18 4.09 4.09 0 0 1 0 8.18Z' fill='url(%23a)'/%3e%3cdefs%3e%3clinearGradient id='a' x1='2.23' y1='10' x2='17.77' y2='10' gradientUnits='userSpaceOnUse'%3e%3cstop stop-color='%23FF6309'/%3e%3cstop offset='1' stop-color='%23FF814A'/%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
}
.nav-info-icon.phone::after{
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='20' height='20' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg clip-path='url(%23a)'%3e%3cpath d='m19.46 14.68-2.8-2.8c-1-.99-2.69-.6-3.09.7-.3.9-1.3 1.4-2.19 1.2-2-.5-4.68-3.09-5.18-5.18-.3-.9.3-1.9 1.2-2.2 1.29-.4 1.69-2.09.7-3.09L5.3.52c-.8-.7-2-.7-2.69 0l-1.9 1.9c-1.89 2 .2 7.27 4.89 11.96 4.69 4.68 9.97 6.88 11.96 4.88l1.9-1.9c.7-.79.7-1.98 0-2.68Z' fill='url(%23b)'/%3e%3c/g%3e%3cdefs%3e%3clinearGradient id='b' x1='.02' y1='10' x2='19.98' y2='10' gradientUnits='userSpaceOnUse'%3e%3cstop stop-color='%23FF6309'/%3e%3cstop offset='1' stop-color='%23FF814A'/%3e%3c/linearGradient%3e%3cclipPath id='a'%3e%3cpath fill='%23fff' d='M0 0h20v20H0z'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e");
}
.nav-info-icon.email::after{
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='20' height='20' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg clip-path='url(%23a)'%3e%3cpath d='M19.82 3.97 13.76 10l6.06 6.03c.11-.23.18-.49.18-.76V4.73c0-.27-.07-.53-.18-.76Z' fill='url(%23b)'/%3e%3cpath d='M18.24 2.97H1.76c-.27 0-.53.07-.76.17l7.76 7.72c.68.68 1.8.68 2.48 0L19 3.14a1.74 1.74 0 0 0-.76-.17Z' fill='url(%23c)'/%3e%3cpath d='M.18 3.97c-.11.23-.18.49-.18.76v10.54c0 .27.07.53.18.76L6.24 10 .18 3.97Z' fill='url(%23d)'/%3e%3cpath d='m12.93 10.83-.86.86a2.93 2.93 0 0 1-4.14 0l-.86-.86L1 16.86c.23.1.49.17.76.17h16.48c.27 0 .53-.07.76-.17l-6.07-6.03Z' fill='url(%23e)'/%3e%3c/g%3e%3cdefs%3e%3clinearGradient id='b' x1='13.76' y1='10' x2='20' y2='10' gradientUnits='userSpaceOnUse'%3e%3cstop stop-color='%23FF6309'/%3e%3cstop offset='1' stop-color='%23FF814A'/%3e%3c/linearGradient%3e%3clinearGradient id='c' x1='1' y1='7.17' x2='19' y2='7.17' gradientUnits='userSpaceOnUse'%3e%3cstop stop-color='%23FF6309'/%3e%3cstop offset='1' stop-color='%23FF814A'/%3e%3c/linearGradient%3e%3clinearGradient id='d' x1='0' y1='10' x2='6.24' y2='10' gradientUnits='userSpaceOnUse'%3e%3cstop stop-color='%23FF6309'/%3e%3cstop offset='1' stop-color='%23FF814A'/%3e%3c/linearGradient%3e%3clinearGradient id='e' x1='1' y1='13.93' x2='19' y2='13.93' gradientUnits='userSpaceOnUse'%3e%3cstop stop-color='%23FF6309'/%3e%3cstop offset='1' stop-color='%23FF814A'/%3e%3c/linearGradient%3e%3cclipPath id='a'%3e%3cpath fill='%23fff' d='M0 0h20v20H0z'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e");
}
.nav-info-link.phone:hover::after{
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='20' height='20' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg clip-path='url(%23a)'%3e%3cpath d='m19.46 14.68-2.8-2.8c-1-.99-2.69-.6-3.09.7-.3.9-1.3 1.4-2.19 1.2-2-.5-4.68-3.09-5.18-5.18-.3-.9.3-1.9 1.2-2.2 1.29-.4 1.69-2.09.7-3.09L5.3.52c-.8-.7-2-.7-2.69 0l-1.9 1.9c-1.89 2 .2 7.27 4.89 11.96 4.69 4.68 9.97 6.88 11.96 4.88l1.9-1.9c.7-.79.7-1.98 0-2.68Z' fill='url(%23b)'/%3e%3c/g%3e%3cdefs%3e%3clinearGradient id='b' x1='.02' y1='10' x2='19.98' y2='10' gradientUnits='userSpaceOnUse'%3e%3cstop stop-color='%23FF7F09'/%3e%3cstop offset='1' stop-color='%23FF9D09'/%3e%3c/linearGradient%3e%3cclipPath id='a'%3e%3cpath fill='%23fff' d='M0 0h20v20H0z'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e");
}
.nav-info-link.email:hover::after{
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='20' height='20' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg clip-path='url(%23a)'%3e%3cpath d='M19.82 3.97 13.76 10l6.06 6.03c.11-.23.18-.49.18-.76V4.73c0-.27-.07-.53-.18-.76Z' fill='url(%23b)'/%3e%3cpath d='M18.24 2.97H1.76c-.27 0-.53.07-.76.17l7.76 7.72c.68.68 1.8.68 2.48 0L19 3.14a1.74 1.74 0 0 0-.76-.17Z' fill='url(%23c)'/%3e%3cpath d='M.18 3.97c-.11.23-.18.49-.18.76v10.54c0 .27.07.53.18.76L6.24 10 .18 3.97Z' fill='url(%23d)'/%3e%3cpath d='m12.93 10.83-.86.86a2.93 2.93 0 0 1-4.14 0l-.86-.86L1 16.86c.23.1.49.17.76.17h16.48c.27 0 .53-.07.76-.17l-6.07-6.03Z' fill='url(%23e)'/%3e%3c/g%3e%3cdefs%3e%3clinearGradient id='b' x1='13.76' y1='10' x2='20' y2='10' gradientUnits='userSpaceOnUse'%3e%3cstop stop-color='%23FF7F09'/%3e%3cstop offset='1' stop-color='%23FF9D09'/%3e%3c/linearGradient%3e%3clinearGradient id='c' x1='1' y1='7.17' x2='19' y2='7.17' gradientUnits='userSpaceOnUse'%3e%3cstop stop-color='%23FF7F09'/%3e%3cstop offset='1' stop-color='%23FF9D09'/%3e%3c/linearGradient%3e%3clinearGradient id='d' x1='0' y1='10' x2='6.24' y2='10' gradientUnits='userSpaceOnUse'%3e%3cstop stop-color='%23FF7F09'/%3e%3cstop offset='1' stop-color='%23FF9D09'/%3e%3c/linearGradient%3e%3clinearGradient id='e' x1='1' y1='13.93' x2='19' y2='13.93' gradientUnits='userSpaceOnUse'%3e%3cstop stop-color='%23FF7F09'/%3e%3cstop offset='1' stop-color='%23FF9D09'/%3e%3c/linearGradient%3e%3cclipPath id='a'%3e%3cpath fill='%23fff' d='M0 0h20v20H0z'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e");
}
.nav-info-mode{
  font-size: 15px;
  line-height: 1.2em;
}
.nav-lists{
  background: #F5F6FB;
  border-radius: 0px 0px 20px 20px;
  padding: 0 25px;
}
.nav-links{
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 732px;
  width: 100%;
  margin: 0 auto;
}
.nav-link{
  color: #262729;
  font-weight: 400;
  display: inline-block;
  padding: 25px 0;
  height: 100%;
}
.nav-link:hover{
  color: #606267;
}
.nav-add-menu{
  position: relative;
}
.nav-add-btn{
  position: relative;
}
.nav-link.arrow{
  background: transparent;
  border: 0;
  outline: 0;
  padding-right: 25px;
  cursor: pointer;
  position: relative;
  z-index: 1;
}
.nav-arrow{
  width: 15px;
  height: 15px;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translate(0,-50%) rotate(0);
      -ms-transform: translate(0,-50%) rotate(0);
          transform: translate(0,-50%) rotate(0);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='15' height='15' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='m8.04 11.41 6.74-6.75c.3-.3.3-.77 0-1.07a.76.76 0 0 0-1.07 0L7.5 9.8 1.3 3.6A.76.76 0 1 0 .21 4.65l6.74 6.75c.3.3.78.3 1.08 0Z' fill='url(%23a)'/%3e%3cdefs%3e%3clinearGradient id='a' x1='7.5' y1='11.63' x2='7.5' y2='3.37' gradientUnits='userSpaceOnUse'%3e%3cstop stop-color='%23FF6309'/%3e%3cstop offset='1' stop-color='%23FF814A'/%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
  background-position: center right;
  background-repeat: no-repeat;
  transition: all 0.2s;
}
.nav-link.arrow:hover + .nav-arrow{
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='15' height='15' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='m8.04 11.41 6.74-6.75c.3-.3.3-.77 0-1.07a.76.76 0 0 0-1.07 0L7.5 9.8 1.3 3.6A.76.76 0 1 0 .21 4.65l6.74 6.75c.3.3.78.3 1.08 0Z' fill='url(%23a)'/%3e%3cdefs%3e%3clinearGradient id='a' x1='7.5' y1='11.63' x2='7.5' y2='3.37' gradientUnits='userSpaceOnUse'%3e%3cstop stop-color='%23FF7F09'/%3e%3cstop offset='1' stop-color='%23FF9D09'/%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
}
.nav-arrow.open{
  -webkit-transform: translate(0,-50%) rotate(180deg);
      -ms-transform: translate(0,-50%) rotate(180deg);
          transform: translate(0,-50%) rotate(180deg);
}
.nav-add-block{
  grid-auto-flow: column;
  grid-gap: 0 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-rows: 1fr 0 1fr 0 1fr 0 1fr 0 1fr 0 1fr;
  grid-template-rows: repeat(6, 1fr);
  position: absolute;
  z-index: 6;
  bottom: -300px;
  left: 50%;
  -webkit-transform: translate(-50%,0);
      -ms-transform: translate(-50%,0);
          transform: translate(-50%,0);
  min-width: 390px;
  height: 280px;
  background: #FFF;
  -webkit-box-shadow: 0px 0px 30px rgba(153, 155, 163, 0.15);
          box-shadow: 0px 0px 30px rgba(153, 155, 163, 0.15);
  border-radius: 20px;
  padding: 30px;
  display: none;
}
.nav-add-block.open{
  display: -ms-grid;
  display: grid;
}
.nav-add-link{
  display: inline-block;
  white-space: nowrap;
  font-weight: 400;
  width: 100%;
}
.nav-add-link:hover{
  color: #606267;
}
.section-title{
  color: #262729;
  font-size: 45px;
  font-weight: 800;
  margin-bottom: 55px;
}
.block-blue{background: #F5F6FB;}
.main-blocks{
  display: grid;
  grid-template-areas: 'ione ione'
  'itwo ithree';
  grid-template-rows: minmax(420px,1fr) 210px;
  grid-gap: 30px;
  padding-top: 30px;
}
.ione{grid-area: ione;}
.itwo{grid-area: itwo;}
.ithree{grid-area: ithree;}
.main-block{
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.main-info{
  padding: 40px 50px;
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -ms-grid-columns: 55px 20px minmax(200px,380px);
  grid-template-columns: 55px minmax(200px,380px);
  grid-gap: 20px;
}
.main-info-icon{
  display: inline-block;
  width: 55px;
  height: 55px;
}
.main-info-selection{
  color: #262729;
  font-weight: 500;
}


.advantages{
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 30px auto;
      grid-template-areas: 'aone atwo'
  'aone athree';
  grid-gap: 30px;
  -ms-grid-columns: minmax(200px, 458px) 30px minmax(200px, 652px);
  grid-template-columns: minmax(200px, 458px) minmax(200px, 652px);
  grid-auto-rows: 240px;
  margin-bottom: 200px;
}
.aone{-ms-grid-row: 1;-ms-grid-row-span: 3;-ms-grid-column: 1;grid-area: aone;}
.atwo{-ms-grid-row: 1;-ms-grid-column: 3;grid-area: atwo;}
.athree{-ms-grid-row: 3;-ms-grid-column: 3;grid-area: athree;}
.atwo,
.athree{
  display: grid;
  align-content: start;
}
.atwo{justify-content: end;}
.athree{justify-content: start;}
.advantages-block{
  width: 100%;
  padding: 45px 50px;
  border-radius: 20px;
  position: relative;
}
.advantages-img{
  position: absolute;
  z-index: 1;
  bottom: 0;
}
.aone-img{
  width: 458px;
  height: 305px;
  left: 0;
}
.atwo-img{
  width: 240px;
  height: 220px;
  left: 37px;
}
.athree-img{
  width: 305px;
  height: 191px;
  right: 0;
}
.advantages-heading{
  color: #262729;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
}
.advantages-lists{
  display: grid;
  grid-gap: 10px;
}

footer{
  width: 100%;
  background: #F5F6FB;
  padding: 50px 0 47px 0;
  margin-top: 150px;
}
.footer-wrapper{
  display: -ms-grid;
  display: grid;
  min-height: 72px;
  grid-auto-flow: column;
  grid-column-gap: 52px;
}
.footer-menu{
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}
.footer-links{
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  grid-column-gap: 52px;
}
.footer-link{
  color: #262729;
  font-weight: 400;
  display: inline-block;
}
.footer-link:hover{
  color: #606267;
}
.footer-copyright{
  color: #969AA3;
  font-size: 16px;
  font-weight: 400;
}

@media screen and (max-width:1140px) {
  body{
    padding-top: 86px;
    font-size: 14px;
  }
  input, a, button{
    font-size: 14px;
  }
  ::-webkit-resizer{
    width:4px;
    height:0px;}
  ::-webkit-scrollbar{
    width: 4px;
  }
  .br{
    display: inline-block;
  }
  .section-title{
    font-size: 25px;
    margin-bottom: 40px;
  }
  .marker{
    background-size: 4px;
    background-position: left 7px;
    padding-left: 9px;
  }
  .container{
    padding: 0 20px;
    max-width: 440px;
  }
  .logo-wrapper-pc{
    display: none;
  }
  .logo{
    width: 93px;
    height: 34px;
  }
  .cap-mobile{
    display: -ms-grid;
    display: grid;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    grid-auto-flow: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: absolute;
    z-index: 30;
    width: 100%;
    top: 0;
    left: 0;
    padding: 11px 20px;
    background: #FFFFFF;
    -webkit-box-shadow: 0px 0px 20px rgba(153, 155, 163, 0.15);
            box-shadow: 0px 0px 20px rgba(153, 155, 163, 0.15);
  }
  .burger{
    outline: none;
    border: 0;
    width: 35px;
    height: 30px;
    display: -ms-grid;
    display: grid;
    background-color: transparent;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='35' height='30' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M34 26a1 1 0 1 0 0-2v2ZM1 24a1 1 0 1 0 0 2v-2Zm33-8a1 1 0 1 0 0-2v2Zm-23-2a1 1 0 1 0 0 2v-2Zm23-8a1 1 0 1 0 0-2v2ZM1 4a1 1 0 0 0 0 2V4Zm33 20H1v2h33v-2Zm0-10H11v2h23v-2Zm0-10H1v2h33V4Z' fill='url(%23a)'/%3e%3cdefs%3e%3clinearGradient id='a' x1='1' y1='15' x2='34' y2='15' gradientUnits='userSpaceOnUse'%3e%3cstop stop-color='%23FF6309'/%3e%3cstop offset='1' stop-color='%23FF814A'/%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header{
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    position: absolute;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    top: 0;
    left:0;
    z-index: 20;
    width: 100%;
    min-height: 100%;
    overflow: auto;
    padding: 86px 20px 30px 20px;
    display: none;
    background: #FFF;
  }
  .header-open{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav-info-wrapper{
    -webkit-box-shadow: 0px 0px 0 rgba(255,255,255,0);
            box-shadow: 0px 0px 0 rgba(255,255,255,0);
    padding: 0;
  }
  .nav-info{
    grid-auto-flow: row;
    grid-gap: 25px;
    padding: 0;
  }
  .nav-add-menu{
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    justify-items: start;
  }
  .nav-add-block{
    left: 0;
    -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
    min-width: 100%;
    height: auto;
    grid-gap: 15px 10px;
    grid-auto-columns: 135px;
    padding: 15px 0 25px 0;
    position: relative;
    z-index: 6;
    bottom: auto;
    background: #FFF;
    -webkit-box-shadow: 0px 0px 0 rgba(255, 255, 255, 0);
            box-shadow: 0px 0px 0 rgba(255, 255, 255, 0);
    border-radius: 0;
  }
  .nav-add-link{
    white-space: inherit;
    font-size: 15px;
  }
  .nav-lists{
    padding: 0;
    border-radius: 0;
    background: #FFF;
    margin-bottom: 26px;
  }
  .btn-nav{
    margin-bottom: 15px;
  }
  .btn-nav-text{
    font-size: 15px;
    padding: 12px 0 13px 0;
    width: 100%;
    text-align: center;
  }
  .nav-links{
    grid-auto-flow: row;
    grid-gap: 1px;
  }
  .nav-link{
    padding: 12px 0;
  }
  .nav-info-block{
    padding-left: 30px;
  }
  .nav-info-icon.address{
    font-size: 16px;
    margin-bottom: 10px;
  }
  .nav-info-link.phone{
    margin-bottom: 25px;
  }
  .nav-info-link{
    font-size: 16px;
  }
  .nav-info-mode{
    font-size: 14px;
  }

  .main-blocks{
    grid-template-areas: 'ione'
    'itwo'
    'ithree';
    grid-template-rows: auto;
    grid-gap: 20px;
    padding-top: 0;
  }
  .main-info{
    padding: 15px 20px;
    -ms-grid-columns: 30px 10px 1fr;
    grid-template-columns: 30px 1fr;
    grid-gap: 10px;
  }
  .main-info-icon{
    width: 30px;
    height: 30px;
  }
  .main-info-icon svg{
    width: 30px;
    height: 30px;
  }

  footer{margin-top: 80px;padding: 0}
  .footer-wrapper{
    grid-template-areas: '.'
    '.'
    'copyright';
    grid-gap: 25px;
  }
  .footer-menu{grid-area: copyright;}
  .footer-copyright{
    font-size: 14px;
    text-align: center;
    margin-top: 5px;
  }
  .footer-links{display: none;}
  .footer-wrapper{
    grid-auto-flow: row;
    padding: 20px;
  }
}
