/*main*/
body {
	margin: 0;
	padding: 0;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	cursor: default;
}

div, a, p, h1, h2, h3, h4, ul, li, input, button {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
	max-width: 1070px;
	margin: 0 auto;
}

/*header*/
.header {
	background: #949494;
	background: -webkit-linear-gradient(bottom left, #949494, #121212);
	background: -moz-linear-gradient(bottom left, #949494, #121212);
	background: linear-gradient(to top right, #949494, #121212);
	padding-bottom: 60px;
}

/*cap*/
.cap {
	display: flex;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
}

.cap img, h1 {
	cursor: pointer;
}

/*card*/
.block {
	cursor: default;
	display: flex;
	justify-content: center;
	margin-top: 70px;
}

.example {
	width: 301px;
	height: 301px;
	flex: 1 1 0;
	margin-right: 50px;
	background: #fff;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	box-shadow: 3px 6px 6px 3px #FFBC3A, 3px 6px 6px 3px #000;
	cursor: pointer;
}

.example:hover {
	opacity: 0.8;
	box-shadow: 3px 6px 10px 3px #000;
	/*background: #ccc;*/
}

.wayup {
	background: url('../img/card/WayUp.svg') no-repeat top;
}

.applab {
	background: url('../img/card/AppLab.svg') no-repeat top;
}

.insurance {
	background: url('../img/card/Insurance.svg') no-repeat top;
	margin: 0;
}

.more_block {
	display: flex;
}

.card {
	flex: 1 1 0;
	max-width: 301px;
	height: 301px;
	background: #ccc;
	margin-right: 80px
}
