/*main*/
body {
	height: 100%;
	margin: 0;
	padding: 0;
	color: #222;
	background: #fff;
	font-family: 'Montserrat', sans-serif;
	cursor: default;
	overflow-x: hidden;
}

div, a, p, h1, h2, h3, h4, ul, li, input, button {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
	width: 1170px;
	margin: 0 auto;
}

/*header*/
.header {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	position: relative;
	z-index: 1;
}

.background {
	width: 100%;
	height: 100%;
	background: #949494;
	background: -webkit-linear-gradient(bottom left, #949494, #121212);
	background: -moz-linear-gradient(bottom left, #949494, #121212);
	background: linear-gradient(to top right, #949494, #121212);
	position: absolute;
	z-index: 0;
}

/*cap*/
.cap {
	display: flex;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
	position: relative;
	z-index: 10;
	color: #fff;
}

.cap img {
	cursor: pointer;
	transition: all 0.3s linear;
}

.cap img:hover {
	opacity: 0.8;
}

/*card*/
.block {
	cursor: default;
	display: block;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	margin: 30px 0 70px 0;
	margin-bottom: 70px;
}

.example {
	display: inline-block;
	position: relative;

	margin-right: 70px;
	background: #fff;
	border-radius: 0 0 20px 20px;
	box-shadow: 2px 3px 10px 4px #FFBC3A;
	cursor: pointer;
	width: 301px;
	height: 301px;
	transition: all 0.3s linear;
}

.example:hover {
	opacity: 0.8;
	box-shadow: 3px 6px 10px 3px #333;
}

.wayup {
	background: url('../img/card/WayUp.svg') no-repeat top;
}

.applab {
	background: url('../img/card/AppLab.svg') no-repeat top;
}

.sointem {
	background: url('../img/card/Sointem.svg') no-repeat top;
	margin: 0;
}

.inetcafe {
	background: url('../img/card/InetCafe.svg') no-repeat top;
}

.grandvet {
	background: url('../img/card/GrandVet.svg') no-repeat top;
	margin: 0;
}

.more_block {
	display: flex;
}

.card {
	flex: 1 1 0;
	max-width: 301px;
	height: 301px;
	background: #ccc;
	margin-right: 80px
}



/*Mobile*/
@media screen and (max-width: 1200px) {
	.container {
		width: 1140px;
	}
}

@media screen and (max-width: 992px) {
	.container {
		width: 960px;
	}

	.header {
		padding-bottom: 10%;
	}

	.block {
		display: block;
		max-width: 950px;
		width: 100%;
		text-align: center;
		margin: 0;
	}

	.applab {
		margin: 0;
	}

	.example {
		display: inline-block;
		position: relative;
		margin-bottom: 60px;
	}
}

@media screen and (max-width: 768px) {
	.container {
		width: 720px;
	}

	.wayup {
	}
}

@media screen and (max-width: 576px) {
	.container {
		width: 540px;
	}

	.wayup {
    	margin: 0 0 60px 0;
	}
}

@media screen and (max-width: 576px) {
	.container {
		width: 100%;
	}
}
