body{
  font-family: 'Open Sans', sans-serif;
}
h1,h2,h3{
  font-weight: 500;
  font-size: 50px;
}
.about{
  margin-bottom: 79px;
}
.about-desktop-wrapper{
  display: grid;
  grid-gap: 150px;
}
.about-desktop{
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 178px;
  grid-gap: 24px;
}
.about-title{
  max-width: 450px;
  line-height: 1.6em;
  letter-spacing: 0.03em;
}
.about-text{
  text-align: right;
  font-size: 18px;
  letter-spacing: 0.03em;
  line-height: 1.5em;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
}
.about-text .help{
  font-weight: 400;
  font-style: normal;
}
.about-text .block{
  display: block;
}
.about-img{
  width: 100%;
  height: 439px;
}
.about-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.experience{
  margin-bottom: 75px;
}
.experience-title{
  font-size: 35px;
  max-width: 640px;
  margin-bottom: 40px;
}
.experience-wrapper{
  display: grid;
  grid-gap: 28px;
}
.experience-text{
  font-size: 20px;
  line-height: 1.4em;
  letter-spacing: 0.03em;
  font-weight: 400;
}
.experience-text .help{
  font-weight: 300;
}
.experience-text.li{
  position: relative;
  padding-left: 30px;
}
.experience-text.li::after{
  content: '';
  position: absolute;
  left: 12px;
  top: 50%;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  background: #242424;
}

.project{
  margin-bottom: 102px;
}
.project-title{
  position: relative;
  margin-bottom: 80px;
}
.project-title::after{
  content: '';
  position: absolute;
  left: -171px;
  top: 50%;
  -ms-transform: translate(0,-50%); /* IE 9 */
  -moz-transform: translate(0,-50%); /* Firefox */
  -o-transform: translate(0,-50%); /* Opera */
  -webkit-transform: translate(0,-50%); /* Safari */
  transform: translate(0,-50%);
  width: 143px;
  height: 1px;
  background: linear-gradient(270deg, #FFFFFF 0%, #242424 100%);
}
.project-blocks{
  display: grid;
  grid-template-areas: 'p_one p_two p_three'
  'p_four p_five p_six';
  grid-template-columns: repeat(3,1fr);
  grid-gap: 10px;
  padding: 0 35px;
}
.project-block-one{grid-area: p_one;}
.project-block-two{grid-area: p_two;}
.project-block-three{grid-area: p_three;}
.project-block-four{grid-area: p_four;}
.project-block-five{grid-area: p_five;}
.project-block-six{grid-area: p_six;}
.project-block{
  display: grid;
  align-items: flex-end;
  width: 100%;
  height: 465px;
  position: relative;
}
.project-block.empty{
  background: #242424
}
.project-empty-heading{
  display: grid;
  grid-template-areas: 'one two'
  'three four';
  justify-content: center;
  padding: 10px 10px 40px 10px;
}
.project-empty-one{grid-area: one;}
.project-empty-two{grid-area: two;}
.project-empty-three{
  grid-area: three;
  text-align: right;
}
.project-empty-four{grid-area: four;}
.project-empty-number{
  color: #FFF;
  font-size: 50px;
  font-weight: 500;
  letter-spacing: 0.03em;
  position: relative;
}
.project-empty-number::after{
  content: '';
  position: absolute;
  width: 216px;
  height: 1px;
  top: 50%;
}
.project-empty-number.right::after{
  background: linear-gradient(270deg, #242424 0%, #FFFFFF 100%);
  right: -227px;
}
.project-empty-number.left::after{
  background: linear-gradient(270deg, #FFFFFF 0%, #242424 100%);
  left: -227px;
}
.project-empty-text{
  color: #FFF;
  font-size: 20px;
  letter-spacing: 0.03em;
  line-height: 1.4em;
  max-width: 200px;
}
.project-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}
.project-heading-wrapper{
  display: grid;
  grid-gap: 2px;
  padding: 10px 15px 33px 27px;
}
.project-name,
.project-post{
  color: #FFF;
}
.project-name{
  font-size: 20px;
  font-weight: 500;
}
.project-post{
  font-size: 20px;
  margin-bottom: 6px;
}
.project-heading{
  color: rgba(255,255,255,0.8);
  font-size: 16px;
}
.project-role-wrapper{
  display: grid;
  grid-gap: 2px;
  padding: 10px 15px 25px 27px;
  display: none;
}
.project-role-heading{
  margin-bottom: 5px;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 600;
}
.project-role-text-wrapper{
  display: grid;
  grid-gap: 2px;
}
.project-role-text{
  color: rgba(255, 255, 255, 0.8);
  position: relative;
  line-height: 1.4em;
  letter-spacing: 0.03em;
}
.project-role-text::after{
  content: '';
  position: absolute;
  top: 10px;
  left: -10px;
  width: 4px;
  height: 4px;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.8);
}
.project-block.cursor:hover .project-heading-wrapper{
  display: none;
}
.project-block.cursor:hover .project-role-wrapper{
  display: grid;
}
@media screen and (max-width: 1470px) {
  .project-title::after{
    left: -100px;
    width: 90px;
  }
}
@media screen and (max-width: 1330px) {
  .project-title{margin-left: 100px;}
}
@media screen and (max-width: 1165px) {
  h1,h2,h3{
    font-weight: 600;
  }
  .about-desktop-wrapper{
    grid-gap: 30px;
    grid-template-areas: 'a_one'
    'a_two';
  }
  .about-desktop-one{grid-area: a_two;}
  .about-desktop-two{grid-area: a_one;}
  .about-desktop{
    margin-top: 0;
    grid-gap: 16px;
    grid-auto-flow: row;
  }
  .about{
    margin-top: 155px;
    margin-bottom: 24px;
  }
  .about-title{
    font-size: 16px;
  }
  .about-text{
    text-align: left;
    font-size: 12px;
  }
  .about-text .block{
    display: inline;
  }
  .about-img{
    height: 228px;
  }
  .experience{
    margin-bottom: 35px;
  }
  .experience-title{
    font-size: 16px;
    margin-bottom: 20px;
  }
  .experience-wrapper{
    grid-gap: 14px;
  }
  .experience-text{
    font-size: 12px;
  }
  .project-container.container{
    padding: 0;
  }
  .project{
    margin-bottom: 0;
  }
  .project-blocks{
    grid-template-columns: auto;
    grid-gap: 33px 0;
    justify-content: center;
    justify-items: center;
    grid-template-areas:
    'p_one p_one'
    'p_two p_two'
    'p_five p_five'
    'p_six p_six'
    'p_four p_three';
    padding: 0;
  }
  .project-block{
    overflow: hidden;
  }
  .project-block.cursor{
    width: 90%;
  }
  .project-block.empty{
    height: auto;
  }
  .project-empty-heading{
    grid-template-areas: 'one'
    'two';
    grid-gap: 6px;
    padding: 27px 13px 34px 13px;
  }
  .project-empty-one{grid-area: one;}
  .project-empty-two{grid-area: one;text-align: right;}
  .project-empty-three{grid-area: two;}
  .project-empty-four{grid-area: two;}
  .project-title{
    margin: 0 0 30px 50px;
    font-size: 16px;
  }
  .project-title::after{
    left: -50px;
    width: 40px;
  }
  .project-empty-number{
    font-size: 20px;
  }
  .project-empty-text{
    font-size: 16px;
    max-width: 150px;
  }
  .project-empty-text .block{
    display: block;
  }
  .project-empty-number::after{
    width: 100%;
  }
  .project-empty-number.left::after{
    left: -50px;
  }
  .project-empty-number.right::after{
    right: -40px;
  }
  .project-name,
  .project-post{
    font-size: 16px;
  }
  .project-heading{
    font-size: 12px;
  }
  footer{
    background: #FFF;
  }
  .footer-qustions-heading{
    color: rgba(36, 36, 36, 1);
  }
  .footer-social-link, .footer-qustions-link{
    color: rgba(36, 36, 36, 1);
  }
  .footer-social-link:hover, .footer-qustions-link:hover{
    color: rgba(36, 36, 36, 0.7);
  }
  .footer-form-heading {
    color: #242424;
  }
  .footer-form-input{
    color: #242424;
    border: 1px solid #242424;
  }
  .footer-form-input::placeholder{
    color: #242424;
  }
}
