p{
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  letter-spacing: 0.03em;
}
.additionally-desktop{
  padding-top: 130px;
  margin-bottom: 100px;
}
.additionally-text{
  max-width: 917px;
  text-align: center;
  font-size: 18px;
  margin: 0 auto 100px auto;
}
.additionally-blocks{
  display: grid;
  grid-template-areas: 'a_one a_two'
  'a_three a_three';
  grid-gap: 30px 8px;
  justify-content: center;
  align-items: center;
}
.additionally-one{grid-area: a_one;}
.additionally-two{grid-area: a_two;}
.additionally-three{grid-area: a_three;}
.video{
  cursor: pointer;
  position: relative;
}
.video::after{
  content: '';
  width: 74px;
  height: 52px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../img/additionally/youtube_icon.png');
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%); /* IE 9 */
  -moz-transform: translate(-50%,-50%); /* Firefox */
  -o-transform: translate(-50%,-50%); /* Opera */
  -webkit-transform: translate(-50%,-50%); /* Safari */
  transform: translate(-50%,-50%);
}
.additionally-blackout{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #242424;
  opacity: 0.7;
  display: none;
}
.additionally-popup{
  position: fixed;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%); /* IE 9 */
  -moz-transform: translate(-50%,-50%); /* Firefox */
  -o-transform: translate(-50%,-50%); /* Opera */
  -webkit-transform: translate(-50%,-50%); /* Safari */
  transform: translate(-50%,-50%);
  display: none;
}
.additionally-video{
  width: 700px;
  height: 400px;
}
@media screen and (max-width: 1175px) {
  .additionally-container{
    padding: 0;
  }
  .additionally-desktop{
    margin-bottom: 50px;
  }
  .additionally-text{
    font-size: 12px;
    margin-bottom: 25px;
    padding: 0 29px;
  }
  .additionally-blocks{
    grid-template-areas: 'a_one'
    'a_two'
    'a_three';
    grid-gap: 25px;
    justify-items: center;
  }
  .video::after{
    width: 56px;
    height: 40px;
  }
  .additionally-blocks img{
    width: 100%;
  }
  .additionally-video{
    width: 300px;
    height: 150px;
  }
}
