body{
  font-weight: 300;
}
h1,h2,p,li{
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.03em;
}
.case-desktop{
  display: grid;
  align-items: end;
  position: relative;
  height: 466px;
  width: 100%;
  padding-bottom: 15px;
  margin-top: 103px;
  margin-bottom: 135px;
  overflow: hidden;
}
.case-img-wrapper{
  position: absolute;
  width: 100%;
  z-index: 0;
  top: 0;
  left: 50%;
  -ms-transform: translate(-50%,0); /* IE 9 */
  -moz-transform: translate(-50%,0); /* Firefox */
  -o-transform: translate(-50%,0); /* Opera */
  -webkit-transform: translate(-50%,0); /* Safari */
  transform: translate(-50%,0);
}
.case-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.case-blackout{
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.35) 97.92%);
}
.case-container{
  position: relative;
  z-index: 2;
}
.case-text{
  color: #FFF;
  font-size: 20px;
  font-weight: 500;
}
.case-title{
  color: #FFF;
  font-size: 35px;
  font-weight: 400;
}
.case-description{
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  grid-gap: 120px;
  margin-bottom: 120px;
}
.case-about-title{
  max-width: 454px;
  padding: 0 4px;
  font-family: 'Open Sans', sans-serif;
  font-size: 40px;
  font-weight: 300;
  text-align: center;
  line-height: 1.4em;
}
.case-about-subtitle{
  font-size: 20px;
  line-height: 1.4em;
}
.case-question{
   display: grid;
   justify-content: start;
   grid-auto-flow: column;
   align-items: center;
   grid-gap: 75px;
   margin-bottom: 110px;
}
.question-question-heading{
  margin-bottom: 35px;
  font-size: 26px;
  font-weight: 400;
}
.question-question-title{
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 60px;
  max-width: 528px;
}
.question-list{
  counter-reset: myCounter;
  display: grid;
  grid-gap: 35px;
}
.question-list li{
  list-style: none;
  font-size: 18px;
  font-weight: 300;
}
.question-list li:before {
  counter-increment: myCounter;
  content:counter(myCounter) ".";
  display: inline-block;
  text-align: center;
  margin-right: 5px;
  width: 20px;
  height: 20px;
}
.case-quote{
  display: grid;
  justify-content: center;
  align-items: end;
  width: 100%;
  height: 500px;
  position: relative;
  margin-bottom: 100px;
  overflow: hidden;
}
.case-quote-img{
  display: grid;
  align-content: center;
  grid-auto-flow: column;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  -ms-transform: translate(-50%,0); /* IE 9 */
  -moz-transform: translate(-50%,0); /* Firefox */
  -o-transform: translate(-50%,0); /* Opera */
  -webkit-transform: translate(-50%,0); /* Safari */
  transform: translate(-50%,0);
}
.case-quote-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.case-quote-img-blackout{
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.35) 97.92%);
  pointer-events: none;
}
.case-quote-text{
  max-width: 619px;
  position: relative;
  z-index: 2;
  color: #FFFFFF;
  opacity: 0.8;
  margin-left: auto;
  margin-bottom: 24px;
}
.case-tagline-blocks{
  display: grid;
  justify-content: center;
  grid-gap: 110px 75px;
  grid-template-areas: 't_one t_one'
  't_two t_three';
  margin-bottom: 140px;
}
.case-tagline{
  max-width: 904px;
  text-align: center;
  line-height: 1.5em;
  margin: 0 auto;
  grid-area: t_one;
}
/* .case-tagline-img-wrapper{
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  grid-gap: 74px;
  margin-bottom: 140px;
} */
.case-tagline-img-one{grid-area: t_two;}
.case-tagline-img-two{grid-area: t_three}
.case-tagline-img{
  width: 500px;
  height: 376px;
}
.case-tagline-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.case-concept{
  display: grid;
  width: 100%;
  height: 544px;
  margin: 0 auto;
  position: relative;
  margin: 0 auto 70px auto;
}
.case-concept-img{
  width: 100%;
  height: 544px;
  object-fit: cover;
}
.case-concept-img1{
  position: absolute;
  z-index: -1;
  top: 0;
  left: 50%;
  -ms-transform: translate(-50%,0); /* IE 9 */
  -moz-transform: translate(-50%,0); /* Firefox */
  -o-transform: translate(-50%,0); /* Opera */
  -webkit-transform: translate(-50%,0); /* Safari */
  transform: translate(-50%,0);
}
.case-concept-title{
  color: #FFF;
  max-width: 407px;
  font-size: 36px;
  letter-spacing: 0.4em;
  position: absolute;
  z-index: 2;
  top: 91px;
  right: 88px;
}
.case-concept-subtitle{
  color: #FFF;
  max-width: 462px;
  line-height: 1.5em;
  position: absolute;
  text-align: justify;
  z-index: 2;
  left: 67px;
  bottom: 40px;
}
.case-concept-wrapper{
  display: grid;
  justify-content: center;
  position: relative;
  width: 100%;
  text-align: center;
  margin-bottom: 87px;
}
.case-concept-text{
  max-width: 947px;
  font-size: 20px;
  font-weight: 400;
  margin: 0 auto;
  line-height: 1.5em;
  position: relative;
}
.case-concept-text::after,
.case-concept-text::before{
  content: '';
  position: absolute;
  top: 50%;transform: translate(0,-50%);
  width: 222px;
  height: 2px;
  background: #242424;
}
.case-concept-text::after{left: -222px;}
.case-concept-text::before{right: -222px;}
.case-concept-heading{
  font-size: 22px;
  font-weight: 600;
}
.open_img{
  cursor: pointer;
}
.open-img-wrapper{
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 31;
  left: 0;
  top: 0;
  display: none;
}
.open-img-blackout{
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 30;
  left: 0;
  top: 0%;
  background: rgba(36, 36, 36, 0.7);
}
.open-img-close{
  position: absolute;
  z-index: 33;
  top: 45px;
  right: 100px;
  width: 35px;
  height: 35px;
  border: 0;
  outline: 0;
  cursor: pointer;
  background: transparent;
}
.open-img-line{
  display: inline-block;
  width: 100%;
  height: 2px;
  background: #242424;
  position: absolute;
  left: 0;
}
.open-img-line:nth-child(1){
  top: 50%;
  -ms-transform: translate(50px,100px); /* IE 9 */
  -moz-transform: translate(50px,100px); /* Firefox */
  -o-transform: translate(50px,100px); /* Opera */
  -webkit-transform: translate(50px,100px); /* Safari */
  transform: rotate(45deg) translate(0,-50%);
}
.open-img-line:nth-child(2){
  bottom: 50%;
  -ms-transform: translate(50px,100px); /* IE 9 */
  -moz-transform: translate(50px,100px); /* Firefox */
  -o-transform: translate(50px,100px); /* Opera */
  -webkit-transform: translate(50px,100px); /* Safari */
  transform: rotate(-45deg) translate(0,50%);
}
.open-img{
  height: 70%;
  object-fit: cover;
  position: absolute;
  z-index: 32;
  left: 50%;
  top: 50%;
  -ms-transform: translate(50px,100px); /* IE 9 */
  -moz-transform: translate(50px,100px); /* Firefox */
  -o-transform: translate(50px,100px); /* Opera */
  -webkit-transform: translate(50px,100px); /* Safari */
  transform: translate(-50%,-50%);
}
@media screen and (max-width: 1455px) {
  .case-concept{
    width: 100%;
  }
  .case-concept-text::after, .case-concept-text::before{
    width: 100px;
  }
  .case-concept-text::after{left: -100px}
  .case-concept-text::before{right: -100px}
  .case-tagline-img-wrapper{
    grid-auto-flow: row;
  }
}
@media screen and (max-width: 1175px) {
  .container{
    padding: 0;
  }
  .case-container{
    padding: 0 15px;
  }
  .case-desktop{
    height: 270px;
    margin-bottom: 25px;
    padding: 0;
  }
  .case-img-wrapper{
    height: 175px;
  }
  .case-text{
    color: #242424;
    font-size: 12px;
  }
  .case-title{
    color: #242424;
    font-size: 16px;
  }
  .case-description{
    justify-content: center;
    position: relative;
    padding: 15px 0;
    margin-bottom: 25px;
  }
  .case-description::after,
  .case-description::before{
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(90deg, #242424 0%, #FFFFFF 100%);
  }
  .case-description::after{top: 0;}
  .case-description::before{bottom: 0;}
  .case-about-title{
    font-size: 12px;
    max-width: 221px;
  }
  .case-about-subtitle{
    display: none;
  }
  .case-question-wrapper{
    padding: 0 14px;
  }
  .case-question{
    grid-auto-flow: row;
    grid-gap: 40px;
    margin-bottom: 25px;
  }
  .question-list{
    margin-top: 25px;
    grid-gap: 25px;
  }
  .question-list li{
    font-size: 12px;
  }
  .question-list li:before{
    width: 15px;
    height: 15px;
    margin-right: 3px;
  }
  .case-quote{
    height: 220px;
    margin-bottom: 25px;
  }
  .case-quote-img{width: 100%;align-content: normal}
  .case-quote-img-blackout{height: 129px;}
  .case-quote-img img{width: 100%;height: 129px;}
  .case-quote-text{
    color: #242424;
    max-width: 100%;
    font-size: 12px;
    padding: 0 15px;
    margin: 0;
  }
  .case-tagline-blocks{
    grid-template-areas: 't_two'
    't_one'
    't_three';
    grid-gap: 25px;
    padding: 0 15px;
    margin-bottom: 25px;
  }
  .case-tagline{
    font-size: 12px;
  }
  .case-tagline-img{
    /* padding: 0 5px; */
  }
  .question-question-heading{
    font-size: 12px;
    margin-bottom: 5px;
  }
  .question-question-title{
    font-size: 12px;
    margin-bottom: 30px;
  }
  .case-concept{
    height: auto;
    padding-top: 90px;
    padding-bottom: 65px;
    margin-bottom: 50px;
  }
  .case-concept-wrapper{
    margin-bottom: 50px;
  }
  .case-question-img{
    width: 100%;
    padding: 0 40px;
  }
  .case-concept-heading{
    font-size: 9px;
  }
  .case-concept-text{
    font-size: 9px;
    margin: 0 28px;
  }
  .case-concept-text::after, .case-concept-text::before{
    width: 25px;
  }
  .case-concept-text::after{left: -28px;}
  .case-concept-text::before{right: -28px;}
  .case-tagline-img{
    width: 100%;
    height: 100%;
  }
  .case-concept-title{
    color: #242424;
    max-width: 335px;
    font-size: 18px;
    text-align: center;
    top: 0;
    right: auto;
    left: 50%;
    transform: translate(-50%,0);
  }
  .case-concept-img{
    height: 214px;
  }
  .case-concept-subtitle{
    color: #242424;
    font-size: 10px;
    text-align: unset;
    left: 0;
    bottom: 0;
    padding: 0 16px;
  }
  .footer-blocks{
    padding: 0 10px;
  }
}
