@font-face {
    font-family: 'Golos Text';
    src: local('Golos Text Regular'), local('GolosText-Regular'), url('../fonts/Golostextregular.woff2') format('woff2'), url('../fonts/Golostextregular.woff') format('woff'), url('../fonts/Golostextregular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Golos Text';
    src: local('Golos Text DemiBold'), local('../fonts/GolosText-DemiBold'), url('../fonts/Golostextdemibold.woff2') format('woff2'), url('../fonts/Golostextdemibold.woff') format('woff'), url('../fonts/Golostextdemibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Golos Text';
    src: local('Golos Text Black'), local('../fonts/GolosText-Black'), url('../fonts/Golostextblack.woff2') format('woff2'), url('../fonts/Golostextblack.woff') format('woff'), url('../fonts/Golostextblack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Golos Text';
    src: local('Golos Text Medium'), local('../fonts/GolosText-Medium'), url('../fonts/Golostextmedium.woff2') format('woff2'), url('../fonts/Golostextmedium.woff') format('woff'), url('../fonts/Golostextmedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Golos Text';
    src: local('Golos Text Bold'), local('../fonts/GolosText-Bold'), url('../fonts/Golostextbold.woff2') format('woff2'), url('../fonts/Golostextbold.woff') format('woff'), url('../fonts/Golostextbold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
body{
  margin: 0;
  padding: 0;
  font-family: 'Golos Text';
  font-size: 16px;
  font-weight: 400;
  color: #242424;
}
*,
*::after,
*::before{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
input,button,a{
  color: #FFF;
  font-family: 'Golos Text';
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  transition: all 0.15s linear;
}
a{
  text-decoration: none;
}
li{
  list-style-type: none;
}
::selection{
  background: rgba(36,36,36,0.6); /* Safari */
}
::-moz-selection{
  background: rgba(36,36,36,0.6); /* Firefox */
}
::-webkit-selection{
  color:#fff;
  background: rgba(36,36,36,0.6);
}
/* Скролл начало */
::-webkit-scrollbar-button {
  background-image:url('');
  background-repeat:no-repeat;
  width:6px;
  height:0px
}
::-webkit-scrollbar-track {
  background-color: transparent;
  /* border: 1px solid #FFF; */
}
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 1px;
  border-radius: 1px;
  background-color: #242424;
  background-position:center;
  background-repeat:no-repeat;
}
::-webkit-resizer{
  background-image:url('');
  background-repeat:no-repeat;
  width:9px;
  height:0px;
}
::-webkit-scrollbar{
  width: 11px;
}
/* Скролл конец */
.container{
  width: 1130px;
  margin: 0 auto;
}
footer{
  background: #242424;
  padding: 35px 0 43px 0;
}
.footer-blocks{
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
}
.footer-social-links,
.footer-qustions-links{
  display: grid;
  grid-gap: 8px;
}
.footer-social-link{
  color: #E5E5E5;
}
.footer-social-link:hover{
  color: #FFFFFF;
}
.footer-qustions-heading{
  color: rgba(229, 229, 229, 1);
}
.footer-qustions-link{
  color: rgba(229, 229, 229, 0.7);
}
.footer-qustions-link:hover{
  color: rgba(255, 255, 255, 1);
}
.footer-form{
  display: grid;
  grid-gap: 10px;
}
.footer-form-heading{
  color: #E5E5E5;
  font-size: 15px;
  letter-spacing: 0.03em;
}
.footer-form-input{
  width: 100%;
  font-size: 15px;
  letter-spacing: 0.03em;
  color: rgba(229, 229, 229, 1);
  padding: 8px 28px 10px 28px;
  outline: 0;
  border: 0;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.7);
}
.footer-form-input::placeholder{
  color: rgba(229, 229, 229, 0.7);
}
