@font-face {
    font-family: 'Golos Text';
    src: local('Golos Text Regular'), local('GolosText-Regular'), url('../fonts/Golostextregular.woff2') format('woff2'), url('../fonts/Golostextregular.woff') format('woff'), url('../fonts/Golostextregular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Golos Text';
    src: local('Golos Text DemiBold'), local('../fonts/GolosText-DemiBold'), url('../fonts/Golostextdemibold.woff2') format('woff2'), url('../fonts/Golostextdemibold.woff') format('woff'), url('../fonts/Golostextdemibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Golos Text';
    src: local('Golos Text Black'), local('../fonts/GolosText-Black'), url('../fonts/Golostextblack.woff2') format('woff2'), url('../fonts/Golostextblack.woff') format('woff'), url('../fonts/Golostextblack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Golos Text';
    src: local('Golos Text Medium'), local('../fonts/GolosText-Medium'), url('../fonts/Golostextmedium.woff2') format('woff2'), url('../fonts/Golostextmedium.woff') format('woff'), url('../fonts/Golostextmedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Golos Text';
    src: local('Golos Text Bold'), local('../fonts/GolosText-Bold'), url('../fonts/Golostextbold.woff2') format('woff2'), url('../fonts/Golostextbold.woff') format('woff'), url('../fonts/Golostextbold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
body{
  margin: 0;
  padding: 0;
  font-family: 'Golos Text';
  font-size: 16px;
  font-weight: 400;
  color: #FFF;
}
.home{
  background: #242424;
}
*,
*::after,
*::before{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
input,button,a{
  color: #FFF;
  font-family: 'Golos Text';
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  transition: all 0.15s linear;
}
a{
  text-decoration: none;
}
li{
  list-style-type: none;
}
.index-title{
  font-size: 55px;
  font-weight: 600;
  letter-spacing: 0.03em;
}
::selection{
  background: rgba(255,255,255,0.6); /* Safari */
}
::-moz-selection{
  background: rgba(255,255,255,0.6); /* Firefox */
}
::-webkit-selection{
  color:#fff;
  background: rgba(255,255,255,0.6);
}
/* Скролл начало */
::-webkit-scrollbar-button {
  background-image:url('');
  background-repeat:no-repeat;
  width:6px;
  height:0px
}
::-webkit-scrollbar-track {
  background-color: transparent;
  border: 1px solid #242424;
}
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 1px;
  border-radius: 1px;
  background-color: #FFF;
  background-position:center;
  background-repeat:no-repeat;
}
::-webkit-resizer{
  background-image:url('');
  background-repeat:no-repeat;
  width:9px;
  height:0px;
}
::-webkit-scrollbar{
  width: 11px;
}
/* Скролл конец */
.container{
  width: 1130px;
  margin: 0 auto;
}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-flex{
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: center;
}
.nav-flex li{
  display: inline-block;
}
.nav-links{
  grid-gap: 50px;
}
.nav-link{
  padding: 3px 4px;
}
.nav-link:hover{
  color: rgba(255, 255, 255, 0.6);
}
.nav-social{
  grid-gap: 16px;
}
.nav-social-link{
  display: inline-block;
  height: 37px;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
}
.nav-vk{
  width: 45px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='45' height='26' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M43.94 2.672c.334-.943 0-1.629-1.476-1.629h-4.91c-1.238 0-1.81.6-2.144 1.243 0 0-2.525 5.486-6.052 9.042-1.144 1.029-1.668 1.372-2.288 1.372-.334 0-.763-.343-.763-1.286V2.628c0-1.114-.38-1.628-1.43-1.628h-7.72c-.764 0-1.24.514-1.24 1.029 0 1.07 1.763 1.328 1.954 4.328v6.517c0 1.414-.282 1.673-.906 1.673-1.668 0-5.719-5.529-8.149-11.828C8.344 1.472 7.864 1 6.624 1H1.668C.238 1 0 1.6 0 2.243 0 3.4 1.668 9.228 7.768 16.94c4.051 5.268 9.818 8.1 15.012 8.1 3.146 0 3.527-.644 3.527-1.715v-3.985c0-1.286.286-1.5 1.287-1.5.715 0 2.002.342 4.91 2.871 3.335 3 3.907 4.371 5.766 4.371h4.908c1.43 0 2.098-.643 1.716-1.886-.428-1.242-2.05-3.042-4.147-5.184-1.143-1.2-2.859-2.528-3.383-3.171-.714-.857-.524-1.2 0-1.971-.048 0 5.958-7.628 6.577-10.202' fill='%23fff' fill-opacity='.5'/%3e%3c/svg%3e");
}
.nav-vk:hover{
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='45' height='26' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M43.94 2.672c.334-.943 0-1.629-1.476-1.629h-4.91c-1.238 0-1.81.6-2.144 1.243 0 0-2.525 5.486-6.052 9.042-1.144 1.029-1.668 1.372-2.288 1.372-.334 0-.763-.343-.763-1.286V2.628c0-1.114-.38-1.628-1.43-1.628h-7.72c-.764 0-1.24.514-1.24 1.029 0 1.07 1.763 1.328 1.954 4.328v6.517c0 1.414-.282 1.673-.906 1.673-1.668 0-5.719-5.529-8.149-11.828C8.344 1.472 7.864 1 6.624 1H1.668C.238 1 0 1.6 0 2.243 0 3.4 1.668 9.228 7.768 16.94c4.051 5.268 9.818 8.1 15.012 8.1 3.146 0 3.527-.644 3.527-1.715v-3.985c0-1.286.286-1.5 1.287-1.5.715 0 2.002.342 4.91 2.871 3.335 3 3.907 4.371 5.766 4.371h4.908c1.43 0 2.098-.643 1.716-1.886-.428-1.242-2.05-3.042-4.147-5.184-1.143-1.2-2.859-2.528-3.383-3.171-.714-.857-.524-1.2 0-1.971-.048 0 5.958-7.628 6.577-10.202' fill='%23fff' fill-opacity='1'/%3e%3c/svg%3e");
}
.nav-facebook{
  width: 35px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='36' height='35' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M33.313 17.592c0-8.456-6.857-15.313-15.313-15.313S2.687 9.136 2.687 17.592c0 7.642 5.6 13.977 12.92 15.127v-10.7H11.72v-4.427h3.888v-3.374c0-3.837 2.287-5.959 5.784-5.959 1.676 0 3.429.3 3.429.3v3.768h-1.932c-1.901 0-2.496 1.18-2.496 2.393v2.873h4.246l-.678 4.427h-3.568v10.7c7.322-1.149 12.92-7.484 12.92-15.128Z' fill='%23fff' fill-opacity='.5'/%3e%3c/svg%3e");
}
.nav-facebook:hover{
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='36' height='35' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M33.313 17.592c0-8.456-6.857-15.313-15.313-15.313S2.687 9.136 2.687 17.592c0 7.642 5.6 13.977 12.92 15.127v-10.7H11.72v-4.427h3.888v-3.374c0-3.837 2.287-5.959 5.784-5.959 1.676 0 3.429.3 3.429.3v3.768h-1.932c-1.901 0-2.496 1.18-2.496 2.393v2.873h4.246l-.678 4.427h-3.568v10.7c7.322-1.149 12.92-7.484 12.92-15.128Z' fill='%23fff' fill-opacity='1'/%3e%3c/svg%3e");
}
.nav-inst{
  width: 37px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='38' height='37' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M25.745 5.01a6.765 6.765 0 0 1 6.745 6.745v13.49a6.765 6.765 0 0 1-6.745 6.745h-13.49a6.765 6.765 0 0 1-6.745-6.745v-13.49a6.765 6.765 0 0 1 6.745-6.745h13.49Zm0-2.697h-13.49c-5.193 0-9.443 4.249-9.443 9.442v13.49c0 5.193 4.25 9.442 9.443 9.442h13.49c5.193 0 9.442-4.249 9.442-9.442v-13.49c0-5.193-4.249-9.443-9.442-9.443Z' fill='%23fff' fill-opacity='.5'/%3e%3cpath d='M27.768 11.755a2.024 2.024 0 1 1 0-4.048 2.024 2.024 0 0 1 0 4.048ZM19 13.104a5.396 5.396 0 1 1-5.396 5.396A5.402 5.402 0 0 1 19 13.104Zm0-2.698a8.093 8.093 0 1 0 0 16.187 8.093 8.093 0 0 0 0-16.187Z' fill='%23fff' fill-opacity='.5'/%3e%3c/svg%3e");
}
.nav-inst:hover{
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='38' height='37' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M25.745 5.01a6.765 6.765 0 0 1 6.745 6.745v13.49a6.765 6.765 0 0 1-6.745 6.745h-13.49a6.765 6.765 0 0 1-6.745-6.745v-13.49a6.765 6.765 0 0 1 6.745-6.745h13.49Zm0-2.697h-13.49c-5.193 0-9.443 4.249-9.443 9.442v13.49c0 5.193 4.25 9.442 9.443 9.442h13.49c5.193 0 9.442-4.249 9.442-9.442v-13.49c0-5.193-4.249-9.443-9.442-9.443Z' fill='%23fff' fill-opacity='1'/%3e%3cpath d='M27.768 11.755a2.024 2.024 0 1 1 0-4.048 2.024 2.024 0 0 1 0 4.048ZM19 13.104a5.396 5.396 0 1 1-5.396 5.396A5.402 5.402 0 0 1 19 13.104Zm0-2.698a8.093 8.093 0 1 0 0 16.187 8.093 8.093 0 0 0 0-16.187Z' fill='%23fff' fill-opacity='1'/%3e%3c/svg%3e");
}

.home-desktop{
  margin: 176px 0 150px 0;
  position: relative;
}
.home-img{
  position: absolute;
  right: -177px;
  bottom: -334px;
}
.home-title{
  margin: 0 0 80px 0;
}
.home-title .help{
  color: rgba(255,255,255,0.6);
}
.home-subtitle{
  font-size: 20px;
  line-height: 1.5em;
  margin: 0 0 75px 0;
}
.home-line-left{
  position: relative;
}
.home-line-left::after{
  content: '';
  position: absolute;
  left: -169px;
  top: 50%;
  height: 1px;
  width: 143px;
  background: linear-gradient(90deg, #242424 0%, #FFFFFF 100%);
}
.home-links{
  display: grid;
  grid-auto-flow: column;
  grid-gap: 55px;
  justify-content: start;
  align-items: center;
  margin: 0 0 0 34px;
}
.home-link{
  font-size: 20px;
  position: relative;
  padding: 5px 0 16px 0;
}
.home-link::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: linear-gradient(90deg, #242424 0%, #FFFFFF 100%);
}
.home-link:hover::after{
  background: linear-gradient(90deg, #FFFFFF 100%, #FFFFFF 100%);
}

.about{
  margin: 0 0 145px 0;
}
.about-title{
  margin: 0 0 65px 0;
}
.about-wrapper{
  display: grid;
  grid-gap: 30px;
  margin: 0 0 149px;
}
.about-subtitle{
  margin: 0 0 20px;
  font-size: 35px;
}
.about-subtitle .help{
  color: rgba(255, 255, 255, 0.5);
}
.about-text{
  max-width: 925px;
  font-size: 20px;
  letter-spacing: 0.03em;
  line-height: 1.4em;
  text-align: justify
}
.about-wrapper .ml{
  margin: 0 0 0 190px;
}
.about-services{
  margin: 0 0 0 74px;
  position: relative;
}
.about-fly-text{
  font-size: 35px;
  font-weight: 500;
  position: absolute;
  top: 160px;
  left: -165px;
  -ms-transform: rotate(-90deg); /* IE 9 */
  -moz-transform: rotate(-90deg); /* Firefox */
  -o-transform: rotate(-90deg); /* Opera */
  -webkit-transform: rotate(-90deg); /* Safari */
  transform: rotate(-90deg);
  z-index: 2;
}
.about-services-heading{
  color: rgba(255, 255, 255, 0.5);
  font-size: 35px;
  font-weight: 500;
  margin: 0 0 15px 17px;
}
.about-blocks{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 25px;
}
.about-block{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 250px;
  padding: 32px 34px 30px 40px;
  border: 1px solid #C4C4C4;
  cursor: default;
}
.about-block:hover{
  background-color: #E5E5E5;
}
.about-block:hover .about-block-heading{color: #242424;}
.about-block:hover .about-block-text{color: #242424;}
.about-block:hover .about-block-more{color: #242424;}
.about-block:hover .about-block-more-arrow{
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='21' height='10' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M14.141.144c-.286-.192-.762-.192-1.058 0-.286.186-.286.496 0 .68l5.366 3.487H.741c-.413 0-.741.214-.741.482s.328.489.74.489h17.71l-5.367 3.48c-.286.192-.286.502 0 .687.296.192.773.192 1.058 0l6.637-4.312c.296-.186.296-.495 0-.68L14.14.144Z' fill='%23242424'/%3e%3c/svg%3e");
}
.about-block-heading{
  font-size: 30px;
  font-weight: 500;
  margin: 0 0 23px 0;
}
.about-block-text{
  font-size: 18px;
  margin: 0 0 38px 0;
}
.about-block-more{
  position: relative;
  padding: 0 32px 0 0;
  cursor: pointer;
}
.about-block-more-arrow{
  display: inline-block;
  width: 21px;
  height: 10px;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='21' height='10' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M14.141.144c-.286-.192-.762-.192-1.058 0-.286.186-.286.496 0 .68l5.366 3.487H.741c-.413 0-.741.214-.741.482s.328.489.74.489h17.71l-5.367 3.48c-.286.192-.286.502 0 .687.296.192.773.192 1.058 0l6.637-4.312c.296-.186.296-.495 0-.68L14.14.144Z' fill='%23fff'/%3e%3c/svg%3e");
  position: absolute;
  top: 50%;
  -ms-transform: translate(0, -50%); /* IE 9 */
  -moz-transform: translate(0, -50%); /* Firefox */
  -o-transform: translate(0, -50%); /* Opera */
  -webkit-transform: translate(0, -50%); /* Safari */
  transform: translate(0, -50%);
  right: 0;
}

.projects{
  margin: 0 0 213px 0;
}
.projects-title{
  margin: 0 0 10px 0;
}
.projects-subtitle{
  font-size: 30px;
  color: rgba(255, 255, 255, 0.7);
  margin: 0 0 29px 0;
}
.projects-blocks{
  display: grid;
  grid-template-columns: 291px 341px 147px 296px;
  grid-template-rows: 269px 290px;
  grid-gap: 19px 17px;
  grid-template-areas:
    "one two three three"
    "four five five six";
  margin: 0 0 20px 0;
}
.projects-block-one { grid-area: one; }
.projects-block-two { grid-area: two; }
.projects-block-three { grid-area: three; }
.projects-block-four { grid-area: four; }
.projects-block-five { grid-area: five; }
.projects-block-six { grid-area: six; }
.projects-block{
  position: relative;
}
.projects-block-blackout{
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
  background: -o-linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
  background: linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
}
.projects-block img{
  -webkit-transition: all 0.15s;
  -moz-transition: all 0.15s;
  -o-transition: all 0.15s;
  transition: all 0.15s;
}
.projects-block:hover img{
  -ms-transform: scale(1.15); /* IE 9 */
  -moz-transform: scale(1.15); /* Firefox */
  -o-transform: scale(1.15); /* Opera */
  -webkit-transform: scale(1.15); /* Safari */
  transform: scale(1.15);
}
.projects-line{
  display: inline-block;
  width: 100%;
  height: 1px;
  background: -webkit-linear-gradient(right, #FFFFFF 0%, #242424 100%);
  background: -o-linear-gradient(right, #FFFFFF 0%, #242424 100%);
  background: linear-gradient(to left, #FFFFFF 0%, #242424 100%);
  margin: 0 0 3px 0;
}
.projects-more-wrapper{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.projects-more{
  display: block;
  text-align: right;
  margin: 0 0 0 auto;
  color: rgba(255, 255, 255, 0.7);
  font-size: 20px;
  position: relative;
  padding: 0 50px 0 0
}
.projects-more:hover{
  color: rgba(255, 255, 255, 1);
}
.projects-more:hover .projects-more-arrow{
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='35' height='13' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M23.569.196c-.477-.261-1.27-.261-1.764 0-.477.251-.477.67 0 .922l8.944 4.724H1.235C.547 5.843 0 6.132 0 6.495c0 .364.547.662 1.235.662h29.514l-8.944 4.716c-.477.26-.477.68 0 .932.493.26 1.288.26 1.764 0l11.06-5.844c.494-.251.494-.67 0-.922L23.57.196Z' fill='%23fff' fill-opacity='1'/%3e%3c/svg%3e");
}
.projects-more-arrow{
  display: inline-block;
  width: 35px;
  height: 13px;
  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='35' height='13' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M23.569.196c-.477-.261-1.27-.261-1.764 0-.477.251-.477.67 0 .922l8.944 4.724H1.235C.547 5.843 0 6.132 0 6.495c0 .364.547.662 1.235.662h29.514l-8.944 4.716c-.477.26-.477.68 0 .932.493.26 1.288.26 1.764 0l11.06-5.844c.494-.251.494-.67 0-.922L23.57.196Z' fill='%23fff' fill-opacity='.7'/%3e%3c/svg%3e");
  position: absolute;
  top: 50%;
  -ms-transform: translate(0px, -50%); /* IE 9 */
  -moz-transform: translate(0px, -50%); /* Firefox */
  -o-transform: translate(0px, -50%); /* Opera */
  -webkit-transform: translate(0px, -50%); /* Safari */
  transform: translate(0px, -50%);
  right: 0px;
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  transition: all 0.15s linear;
}

footer{
  padding: 35px 0 43px 0;
}
.footer-wrapper{
  display: flex;
}
