.burger{display: none;}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin-top: 60px;
}
.nav-background{
  background-color: #FFF;
}
.nav-flex{
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: center;
}
.nav-flex li{
  display: inline-block;
}
.nav-links{
  grid-gap: 50px;
}
.nav-link{
  color: #242424;
  padding: 3px 4px;
}
.nav-link:hover{
  color: rgba(36, 36, 36, 0.6);
}
.nav-social{
  grid-gap: 16px;
}
.nav-social-link{
  display: inline-block;
  height: 37px;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
}
.nav-vk{
  width: 45px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='45' height='29' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M43.94 2.324c.334-1.087 0-1.877-1.476-1.877h-4.91c-1.238 0-1.81.692-2.144 1.432 0 0-2.525 6.32-6.052 10.416-1.144 1.185-1.668 1.58-2.288 1.58-.333 0-.763-.395-.763-1.48V2.272c0-1.283-.38-1.876-1.43-1.876h-7.72c-.764 0-1.24.593-1.24 1.185 0 1.234 1.763 1.53 1.954 4.986v7.508c0 1.63-.282 1.927-.906 1.927-1.668 0-5.719-6.369-8.149-13.625C8.344.94 7.864.398 6.624.398H1.668C.238.397 0 1.087 0 1.827c0 1.334 1.668 8.047 7.768 16.933 4.051 6.069 9.818 9.33 15.012 9.33 3.147 0 3.527-.74 3.527-1.974v-4.591c0-1.48.286-1.727 1.287-1.727.715 0 2.002.394 4.91 3.307 3.335 3.455 3.907 5.035 5.766 5.035h4.908c1.43 0 2.098-.74 1.716-2.172-.428-1.432-2.05-3.505-4.146-5.973-1.144-1.381-2.86-2.912-3.384-3.653-.714-.987-.524-1.382 0-2.27-.048 0 5.958-8.788 6.577-11.753' fill='%23242424' fill-opacity='.5'/%3e%3c/svg%3e");
}
.nav-vk:hover{
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='45' height='29' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M43.94 2.324c.334-1.087 0-1.877-1.476-1.877h-4.91c-1.238 0-1.81.692-2.144 1.432 0 0-2.525 6.32-6.052 10.416-1.144 1.185-1.668 1.58-2.288 1.58-.333 0-.763-.395-.763-1.48V2.272c0-1.283-.38-1.876-1.43-1.876h-7.72c-.764 0-1.24.593-1.24 1.185 0 1.234 1.763 1.53 1.954 4.986v7.508c0 1.63-.282 1.927-.906 1.927-1.668 0-5.719-6.369-8.149-13.625C8.344.94 7.864.398 6.624.398H1.668C.238.397 0 1.087 0 1.827c0 1.334 1.668 8.047 7.768 16.933 4.051 6.069 9.818 9.33 15.012 9.33 3.147 0 3.527-.74 3.527-1.974v-4.591c0-1.48.286-1.727 1.287-1.727.715 0 2.002.394 4.91 3.307 3.335 3.455 3.907 5.035 5.766 5.035h4.908c1.43 0 2.098-.74 1.716-2.172-.428-1.432-2.05-3.505-4.146-5.973-1.144-1.381-2.86-2.912-3.384-3.653-.714-.987-.524-1.382 0-2.27-.048 0 5.958-8.788 6.577-11.753' fill='%23242424' fill-opacity='1'/%3e%3c/svg%3e");
}
.nav-facebook{
  width: 35px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='31' height='32' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M30.625 16.076c0-8.689-6.856-15.734-15.313-15.734C6.857.342 0 7.387 0 16.076 0 23.93 5.599 30.44 12.92 31.62V20.627H9.03v-4.55h3.889V12.61c0-3.942 2.287-6.122 5.784-6.122 1.675 0 3.428.308 3.428.308v3.872H20.2c-1.9 0-2.496 1.212-2.496 2.459v2.951h4.247l-.678 4.55h-3.569v10.995c7.322-1.18 12.921-7.69 12.921-15.546Z' fill='%23242424' fill-opacity='.5'/%3e%3c/svg%3e");
}
.nav-facebook:hover{
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='31' height='32' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M30.625 16.076c0-8.689-6.856-15.734-15.313-15.734C6.857.342 0 7.387 0 16.076 0 23.93 5.599 30.44 12.92 31.62V20.627H9.03v-4.55h3.889V12.61c0-3.942 2.287-6.122 5.784-6.122 1.675 0 3.428.308 3.428.308v3.872H20.2c-1.9 0-2.496 1.212-2.496 2.459v2.951h4.247l-.678 4.55h-3.569v10.995c7.322-1.18 12.921-7.69 12.921-15.546Z' fill='%23242424' fill-opacity='1'/%3e%3c/svg%3e");
}
.nav-inst{
  width: 37px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='37' height='37' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M25.245 5.01a6.765 6.765 0 0 1 6.745 6.745v13.49a6.765 6.765 0 0 1-6.745 6.745h-13.49a6.765 6.765 0 0 1-6.745-6.745v-13.49a6.765 6.765 0 0 1 6.745-6.745h13.49Zm0-2.697h-13.49c-5.193 0-9.443 4.249-9.443 9.442v13.49c0 5.193 4.25 9.442 9.443 9.442h13.49c5.193 0 9.442-4.249 9.442-9.442v-13.49c0-5.193-4.249-9.443-9.442-9.443Z' fill='%23242424' fill-opacity='.5'/%3e%3cpath d='M27.268 11.755a2.024 2.024 0 1 1 0-4.047 2.024 2.024 0 0 1 0 4.047ZM18.5 13.104a5.396 5.396 0 1 1-5.396 5.396 5.402 5.402 0 0 1 5.396-5.396Zm0-2.698a8.093 8.093 0 1 0 0 16.187 8.093 8.093 0 0 0 0-16.187Z' fill='%23242424' fill-opacity='.5'/%3e%3c/svg%3e");
}
.nav-inst:hover{
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='37' height='37' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M25.245 5.01a6.765 6.765 0 0 1 6.745 6.745v13.49a6.765 6.765 0 0 1-6.745 6.745h-13.49a6.765 6.765 0 0 1-6.745-6.745v-13.49a6.765 6.765 0 0 1 6.745-6.745h13.49Zm0-2.697h-13.49c-5.193 0-9.443 4.249-9.443 9.442v13.49c0 5.193 4.25 9.442 9.443 9.442h13.49c5.193 0 9.442-4.249 9.442-9.442v-13.49c0-5.193-4.249-9.443-9.442-9.443Z' fill='%23242424' fill-opacity='1'/%3e%3cpath d='M27.268 11.755a2.024 2.024 0 1 1 0-4.047 2.024 2.024 0 0 1 0 4.047ZM18.5 13.104a5.396 5.396 0 1 1-5.396 5.396 5.402 5.402 0 0 1 5.396-5.396Zm0-2.698a8.093 8.093 0 1 0 0 16.187 8.093 8.093 0 0 0 0-16.187Z' fill='%23242424' fill-opacity='1'/%3e%3c/svg%3e");
}
