.projects{
  margin-bottom: 60px;
}
.projects-desktop{
  margin-top: 137px;
}
.projects-title{
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 50px;
}
.projects-subtitle{
  margin-bottom: 15px;
}
.projects-blocks{
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 132px 20px 137px 20px 51px 20px 78px 20px 172px 20px 99px 20px 30px 20px 132px 20px 139px;
  grid-template-columns: 132px 137px 51px 78px 172px 99px 30px 132px 139px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  grid-auto-flow: dense;
  grid-auto-rows: 265px;
  grid-gap: 20px;
}
.projects-block{
  display: inline-block;
}
.projects-block:nth-child(9n+1){grid-column: span 2;-ms-grid-column-span: 2;}
.projects-block:nth-child(9n+2){grid-column: span 3;-ms-grid-column-span: 3;}
.projects-block:nth-child(9n+3){grid-column: span 4;-ms-grid-column-span: 4;}
.projects-block:nth-child(9n+4){grid-column: span 2;-ms-grid-column-span: 2;}
.projects-block:nth-child(9n+5){grid-column: span 4;-ms-grid-column-span: 4;}
.projects-block:nth-child(9n+6){grid-column: span 3;-ms-grid-column-span: 3;}
.projects-block:nth-child(9n+7){grid-column: span 4;-ms-grid-column-span: 4;}
.projects-block:nth-child(9n+8){grid-column: span 3;-ms-grid-column-span: 3;}
.projects-block:nth-child(9n+9){grid-column: span 2;-ms-grid-column-span: 2;}
.projects-block{
  max-width: 460px;
  max-height: 265px;
  position: relative;
}
.projects-block{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.projects-block-description{
  display: grid;
  align-items: end;
  width: 100%;
  height: 100%;
  padding: 20px 25px;
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.projects-block:hover .projects-block-description,
.projects-block:focus .projects-block-description{
  opacity: 1;
}
.projects-block-description-wrapper{
  display: grid;
  grid-gap: 15px;
}
.projects-block-description-title{
  font-size: 24px;
  font-weight: 400;
}
.projects-block-description-subtitle{
  font-size: 18px;
  letter-spacing: 0.03em;
  line-height: 1.4em;
}
.projects-block img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.pagination-wrapper{
  display: -ms-grid;
  display: grid;
  grid-gap: 18px;
  grid-auto-flow: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 65px;
}
.pagination-btn{
  color: #A5A5A5;
  font-size: 20px;
  padding: 4px;
  background-color: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
}
.pagination-btn.active{
  color: #000000;
}
.pagination-btn:hover{
  color: #000000;
}
@media screen and (max-width: 1165px){
  .projects-desktop{
    margin-top: 145px;
  }
  .projects-title{
    font-size: 25px;
    margin-bottom: 40px;
  }
  .projects-subtitle{
    font-size: 16px;
  }
  .projects-blocks {
    max-width: 375px;
    width: 100%;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-auto-flow: row;
  }
  .projects-block:nth-child(1n+1){grid-column: span 1;-ms-grid-column-span: 1;}
  .projects-block-description{
    opacity: 1;
    background: rgba(0, 0, 0, 0.4);
  }
}
