.projects-desktop{
  margin-top: 137px;
}
.projects-title{
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 50px;
}
.projects-subtitle{
  margin-bottom: 15px;
}
.projects-blackout-wrapper{
  position: relative;
  width: 100%;
  padding-bottom: 150px;
}
.projects-block-blackout{
  width: 100%;
  height: 433px;
  position: absolute;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  left: 0;
  bottom: 0;
}
.projects-blocks{
  display: grid;
  width: 1130px;
  grid-template-columns: 291px 193px 145px 126px 296px;
  grid-template-rows: 265px 290px 291px;
  grid-gap: 19px;
  grid-template-areas:
  "one two two three three"
  "four five five five six"
  "seven seven eight eight nine";
  margin: 0 auto;
  justify-content: center;
}
.projects-block-one {grid-area: one;}
.projects-block-two {grid-area: two;}
.projects-block-three {grid-area: three;}
.projects-block-four {grid-area: four;}
.projects-block-five {grid-area: five;}
.projects-block-six {grid-area: six;}
.projects-block-seven {grid-area: seven;}
.projects-block-eight {grid-area: eight;}
.projects-block-nine {grid-area: nine;}
.projects-block{
  width: 100%;
  height: 100%;
  position: relative;
}
.projects-block-description{
  display: grid;
  align-items: end;
  width: 100%;
  height: 100%;
  padding: 20px 25px;
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.projects-block:hover .projects-block-description,
.projects-block:focus .projects-block-description{
  opacity: 1;
}
.projects-block-description-wrapper{
  display: grid;
  grid-gap: 15px;
}
.projects-block-description-title{
  font-size: 24px;
  font-weight: 400;
}
.projects-block-description-subtitle{
  font-size: 18px;
  letter-spacing: 0.03em;
  line-height: 1.4em;
}
.projects-block img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media screen and (max-width: 1165px){
  .projects-desktop{
    margin-top: 145px;
  }
  .projects-title{
    font-size: 25px;
    margin-bottom: 40px;
  }
  .projects-subtitle{
    font-size: 16px;
  }
  .projects-blocks {
    max-width: 375px;
    width: 100%;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
        "one"
        "two"
        "three"
        "four"
        "five"
        "six"
        "seven"
        "eight"
        "nine";
  }
  .projects-block-description{
    opacity: 1;
    background: rgba(0, 0, 0, 0.4);
  }
}
