/*Основное*/
body, html {
	width: 100%;
	height: 100%;
	font-size: 16px;
	font-weight: 500;
	font-family: 'Rubik', sans-serif;
	color: #222;
	margin: 0;
	padding: 0;
	cursor: default;
}

*,
*:after,
*:before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

ul { 
	list-style: none;
}

/* Шрифты
font-family: 'Rubik', sans-serif;
font-family: 'Sansita Swashed', cursive;
*/

.container {
	width: 100%;
	margin: 0 auto;
	z-index: 1;
	padding-left: 222px;
	transition: all 0.5s linear;
}

.main_heading {
	font-size: 36px;
	font-family: 'Rubik', sans-serif;
}



/*Главная*/
.header {
	background: #777;
	overflow: hidden;
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	position: relative;
}

/*Задний фон*/
.wrapper_img {
	overflow: hidden;
	width: 100%;
	min-height: 100vh;
	position: absolute;
}
.imgs {
	position: absolute;
	bottom: -13px;
	left: -10px;
	filter: blur(10px);
	/*Защита картинки*/
	pointer-events: none;
}


/*Шапка*/
.cap {
	position: fixed; /*Удалить*/
	z-index: 5;
	min-width: 220px;
	min-height: 350px;
	height: 100vh;
	background: #3a3a3a;
	display: flex;
	flex-direction: column;
	padding: 5px 10px;
	align-items: center;
	text-align: center;
	border-top: 3px #ccc solid;
	border-right: 3px #ccc solid;
	border-bottom: 3px #ccc solid;
	/*Убрать выделение*/
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
	transform: translateX(0);
	transition: all 0.5s linear;
}
.toggle__cap {
	background: url(../img/cafe.svg) no-repeat;
	background-size: 40px;
	background-position: 50%;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	top: 50%;
	right: -45px;
	transform: translateY(-50%);
	z-index: 5;
	position: absolute;
	transition: all 0.5s linear;
}
.toggle__cap:hover {
	filter: brightness(1.3);
}
.cap__active {
	transform: translateX(-100%);
}

/*Лого*/
.logo {
	font-size: 45px;
	color: #fff;
	text-decoration: none;
	transition: all 0.25s linear;
	margin-bottom: 30px;
	font-family: 'Sansita Swashed', cursive;
}
.logo span {
	color: #886fb0;
	transition: all 0.25s linear;
}
.logo:hover, .logo span:hover {
	color: #222;
	text-shadow: 1px 1px 2px black;
}

/*Меню*/
.nav {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.links_nav {
	color: #fff;
	font-size: 20px;
	text-transform: uppercase;
	text-decoration: none;
	margin-bottom: 20px;
	transform: scale(1);
	transition: all 0.25s linear;
}
.links_nav:hover {
	transform: scale(1.07);
}
	/*Иконки*/
.ln_home {
	background: url('../img/nav/home.svg') no-repeat center left;
	background-size: 20px;
	padding-left: 25px;
}
.ln_about {
	background: url('../img/nav/about.svg') no-repeat center left;
	background-size: 20px;
	padding-left: 25px;
}
.ln_contact {
	background: url('../img/nav/contacts.svg') no-repeat center left;
	background-size: 20px;
	padding-left: 25px;
}
.ln_support {
	background: url('../img/nav/support.svg') no-repeat center left;
	background-size: 20px;
	padding-left: 25px;
}

/*Контакты*/
.contacts {
	height: 100vh;
	display: flex;
	flex-wrap: wrap;
	align-content: flex-end;
	padding-bottom: 30px;
	font-size: 20px;
	font-weight: 400;
}
.contacts__wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.contact {
	display: inline-block;
	color: #fff;
	text-decoration: none;
	margin-top: 15px;
	padding: 0;
	transition: all 0.25s linear;
}
.contact:hover {
	transform: scale(1.07);
}
	/*Иконки*/
.phone {
	background: url('../img/contacts/phone.svg') no-repeat center left;
	background-size: 20px;
	padding-left: 25px;
}
.mail {
	width: auto;
	background: url('../img/contacts/mail.svg') no-repeat center left;
	background-size: 20px;
	padding-left: 25px;
}


/*Информация*/
.main {
	display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
	color: #fff;
	height: 95vh;
	text-shadow: 1px 1px 3px black;
}
.main_text {
	line-height: 1.7em;
	font-size: 30px;
	font-weight: 500;
	font-family: 'Rubik', sans-serif;
	text-align: center;
}
.main_text span {
	font-size: 48px;
	font-weight: 700;
	color: #ffc967;
}
.main_text a {
	color: #ffc967;
	border-bottom: 1.5px #ffc967 dashed;
	text-decoration: none;
	cursor: help;
	transition: all 0.2s linear;
}
.main_text a:hover {
	opacity: 0.6;
}



/*О нас*/
.about {
	background: #5555;
	padding-bottom: 150px;
}