main{
  background-image: url('../img/about.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.about-title{
  padding-left: 117px;
  min-height: 70px;
  background-position: center left;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='100' height='100' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M99.5 66.667c0 16.088-13.042 29.13-29.13 29.13s-29.13-13.042-29.13-29.13 13.042-29.13 29.13-29.13S99.5 50.58 99.5 66.667Z' stroke='%23EABB14'/%3e%3cpath d='M58.76 66.667c0 16.088-13.042 29.13-29.13 29.13S.5 82.754.5 66.666s13.042-29.13 29.13-29.13 29.13 13.042 29.13 29.13Z' stroke='%23E21D1D'/%3e%3ccircle cx='50' cy='33.333' r='29.13' stroke='%23fff'/%3e%3c/svg%3e");
  margin-bottom: 50px;
}
.about-wrapper{
  display: grid;
  grid-gap: 35px;
}
.about-one-wrapper{
  display: grid;
  grid-gap: 20px;
}
.about-text{
  font-size: 20px;
  line-height: 1.4em;
}
.about-text a{
  font-size: 20px;
}
.about-text .help{
  color: #E9E9E9;
  font-weight: 300;
}
.about-text .help a{
  color: #E9E9E9;
  font-weight: 300;
}
.about-two-wrapper{
  background: rgba(233, 233, 233, 0.25);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  -moz-border-radius: 10px; /* Firefox */
  -webkit-border-radius: 10px; /* Safari, Chrome */
  -khtml-border-radius: 10px; /* KHTML */
  border-radius: 10px;
  padding: 35px 40px;
}
.about-two-wrapper p{
  font-size: 22px;
  font-weight: 600;
  line-height: 1.5em;
}
.about-three-wrapper{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(290px,1fr));
  grid-template-areas: 'a_one a_two'
  'a_three a_three';
  grid-gap: 30px;
}
.about-three-wrapper .one{grid-area: a_one;}
.about-three-wrapper .two{grid-area: a_two;}
.about-three-wrapper .three{grid-area: a_three;}
.about-list{
  display: grid;
  grid-gap: 15px;
}
.about-list li{
  color: #E9E9E9;
  font-size: 20px;
  font-weight: 300;
  position: relative;
  padding-left: 13px;
}
.about-list li::after {
    content: '';
    position: absolute;
    top: 9px;
    left: 0;
    width: 4px;
    height: 4px;
    border-radius: 100%;
    background: linear-gradient(
270deg, #EDBA63 0%, #E7B157 100%);
}
@media screen and (max-width:1100px) {
  .about-text{
    font-size: 14px;
  }
  .about-two-wrapper p{
    font-size: 16px;
  }
  .about-title{
    max-width: 545px;
    background-size: 70px;
    padding-left: 85px;
    margin-bottom: 30px;
  }
  .about-wrapper{
    grid-gap: 20px;
  }
  .about-two-wrapper{
    padding: 20px 30px;
  }
  .about-three-wrapper{
    grid-template-columns: auto;
    grid-template-areas: 'a_one'
    'a_two'
    'a_three';
    grid-gap: 15px;
  }
  .about-list li{
    font-size: 14px;
  }
  .about-text a,
  .about-text .help a{
    font-size: 14px;
  }
}
@media screen and (max-width:430px) {
  .about-title{
    background-size: 50px;
    padding-left: 55px;
  }
}
