main{
  padding-right: 30px;
  background-image: url('../img/news.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.news_open-wrapper{
  display: grid;
  grid-template-columns: auto 438px;
  grid-gap: 30px;
  position: relative;
}
.news_open-right{
  position: fixed;
  top: 140px;
  right: 40px;
  max-width: 438px;
}
.news_open-data{
  display: grid;
  justify-content: start;
  grid-auto-flow: column;
  grid-gap: 20px;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 8px;
}
.news_open-date{
  color: #E9E9E9;
}
.news_open-views{
  color: #B8B8B8;
}
.news_open-title{
  max-width: 100%;
  margin-bottom: 40px;
}
.news_open-img{
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 40px;
}
.news_open-text{
  display: grid;
  grid-gap: 30px;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.4em;
}
.news_open-text .help{
  color: #EDBA63;
  font-weight: 600;
}
.news_open-telegram{
  color: #EDBA63;
  font-size: 20px;
  font-weight: 600;
  display: inline-block;
  margin-top: 50px;
}
.news_open-recent-heading{
  line-height: 1.52em;
  font-size: 40px;
  font-weight: 700;
  font-family: 'Cormorant', serif;
  margin-bottom: 40px;
}
.news_open-recent-blocks{
  display: grid;
  grid-auto-rows: 294px;
  grid-gap: 30px;
}
.news_open-recent-block{
  display: inline-block;
  border-radius: 10px;
  background: #4442;
  width: 100%;
  height: 100%;
  grid-column: span 1;
  grid-row: span 1;
  position: relative;
  overflow: hidden;
}
.news_open-link{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 4;
  border-radius: 10px;
}
.news_open-blackout {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: linear-gradient(0.4deg, rgba(49, 59, 73, 0.9) 0.35%, rgba(49, 59, 73, 0) 99.65%);
  border-radius: 10px;
}
.news_open-recent-block img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.news_open-block-wrapper{
  display: grid;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: end;
  -ms-flex-line-pack: end;
  align-content: end;
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 3;
  padding: 35px 40px;
}
.news_open-block-title{
  font-family: 'Cormorant', serif;
  font-size: 24px;
  font-weight: 700;
}
.sticky {
  position: fixed;
  z-index: 11;
}
.stop {
  position: relative;
  z-index: 11;
}
@media screen and (max-width:1600px) {
  body{
    font-size: 18px;
  }
  .news_open-wrapper{
    grid-template-columns: auto;
  }
  .news_open-text{
    font-size: 18px;
    grid-gap: 25px;
  }
  .news_open-recent-blocks{
    /* grid-template-columns: repeat(auto-fit,minmax(290px,370px)); */
    grid-template-columns: repeat(auto-fit,minmax(330px,1fr));
    grid-auto-flow: dense;
  }
  .news_open-block-wrapper{
    padding: 25px 30px;
  }
  .news_open-telegram{
    font-size: 18px;
    margin-top: 30px;
  }
  .news_open-recent-heading{
    font-size: 32px;
    margin-bottom: 30px;
  }
  .news_open-right{
    position: relative;
    top: auto;
    right: auto;
    max-width: 100%;
  }
}
@media screen and (max-width:1400px) {
  body{
    font-size: 16px;
  }
  .news_open-recent-heading{
    font-size: 28px;
    margin-bottom: 20px;
  }
}
@media screen and (max-width:1100px) {
main{
  padding-right: 15px;
}
.news_open-title{
  margin-bottom: 35px;
}
.news_open-img{
  margin-bottom: 30px;
}
.news_open-data{
  font-size: 14px;
}
}
