@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800&display=swap");
body {
  color: #4b4b4b;
  background-color: #fff;
  font-size: 17px;
  font-weight: 300;
  font-family: "Mulish", sans-serif;
  margin: 0;
  padding: 0;
}
.overflow-hidden {
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
}
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*:focus {
  outline: none;
}
a {
  color: inherit;
  text-decoration: none;
  outline: 0;
}
button,
input {
  font-family: inherit;
  border: 0;
  outline: 0;
  background-color: transparent;
}
button {
  cursor: pointer;
}
a,
button,
input {
  transition: background 0.2s, border 0.2s, color 0.2s;
}
a::after,
button::after {
  transition: background 0.2s;
}
img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  user-select: none;
  pointer-events: none;
}
h1,
h2,
h3,
h4 {
  color: #252525;
}
li {
  list-style: none;
}
section {
  margin-bottom: 280px;
}
section:first-child {
  padding-top: 350px;
}

/* Скролл начало */
::-webkit-scrollbar {
  width: 12px;
  height: 3px;
  background-color: #ebeef3;
}
::-webkit-scrollbar-thumb {
  background-color: #a9aaac;
  border-right: 1px solid #ebeef3;
  border-left: 1px solid #ebeef3;
  border-radius: 0;
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}
::-webkit-scrollbar-thumb:hover {
  background-color: #808181;
}
/* Скролл конец */
.container {
  max-width: 1220px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
.container-big {
  max-width: 1380px;
  width: 100%;
  margin: 0 auto;
}
.section-heading {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 40px;
  justify-content: space-between;
  align-items: start;
  margin-bottom: 70px;
}
.section-title {
  color: #252525;
  font-size: 45px;
  font-weight: 800;
  padding-left: 26px;
  position: relative;
}
.section-title::after {
  content: "";
  width: 6px;
  height: 100%;
  background-color: #d71e1e;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.section-header {
  font-size: 38px;
}
.section-subtitle {
  max-width: 680px;
  color: #4b4b4b;
  font-weight: 400;
  line-height: 1.4em;
}
.section-text-list {
  display: grid;
  grid-gap: 10px;
}
.section-text {
  line-height: 1.4em;
}
.section-text .help {
  color: #252525;
  font-weight: 400;
}
.section-text .red {
  color: #d71e1e;
  font-weight: 400;
}
.section-nav {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 20px;
  margin-top: 120px;
}
.section-link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #252525;
  background: #ffffff;
  font-weight: 400;
  text-align: center;
  border: 1.5px solid #e5e4e2;
  padding: 29px 35px;
}
.section-link:hover,
.section-link:focus-visible {
  color: #d71e1e;
}
.section-link:first-child {
  border-radius: 30px 0px 0px 0px;
}
.section-link:last-child {
  border-radius: 0px 0px 30px 0px;
}
.icon {
  position: relative;
}
.icon::after {
  content: "";
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.marker {
  padding-left: 15px;
  position: relative;
}
.marker::after {
  content: "";
  width: 5px;
  height: 5px;
  background-color: #d71e1e;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.underlined {
  position: relative;
  z-index: 2;
}
.underlined::after {
  content: "";
  width: 100%;
  height: 6px;
  background-color: #d71e1e;
  position: absolute;
  left: 0;
  bottom: 8px;
  z-index: -1;
}
.swiper {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.seedBack {
  background: url("../img/seed.png"), #252525;
  background-position: 100%;
  background-repeat: repeat;
  background-size: auto;
}
.swiperBtn-wrapper {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 17px;
  justify-content: start;
  align-items: center;
}
.swiperBtn {
  width: 60px;
  height: 60px;
  background: #ffffff;
  border: 1.5px solid #dbd8d5;
  cursor: pointer;
  transition: border 0.2s;
}
.swiperBtn:hover,
.swiperBtn:focus-visible {
  border: 1.5px solid #d71e1e;
}
.swiper-button-disabled.swiperBtn:hover,
.swiper-button-disabled.swiperBtn:focus-visible {
  border: 1.5px solid #dbd8d5;
  cursor: default;
}
.swiperBtn::after {
  width: 20px;
  height: 20px;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: background-image 0.2s;
}
.swiperBtn-prev::after {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg clip-path='url(%23clip0_208_408)'%3e%3cpath d='M20.0291 9.29065L3.39852 9.29074L8.13346 4.55411L6.86789 3.28855L-0.0290906 10.1855L6.86789 17.0825L8.13346 15.817L3.39852 11.0805L20.0291 11.0804L20.0291 9.29065Z' fill='%23D71E1E'/%3e%3c/g%3e%3cdefs%3e%3cclipPath id='clip0_208_408'%3e%3crect width='20' height='20' fill='white'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e ");
}
.swiperBtn-next::after {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg clip-path='url(%23clip0_208_403)'%3e%3cpath d='M-0.0290836 9.29065L16.6015 9.29074L11.8665 4.55411L13.1321 3.28855L20.0291 10.1855L13.1321 17.0825L11.8665 15.817L16.6015 11.0805L-0.0290835 11.0804L-0.0290836 9.29065Z' fill='%23D71E1E'/%3e%3c/g%3e%3cdefs%3e%3cclipPath id='clip0_208_403'%3e%3crect width='20' height='20' fill='white'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e ");
}
.swiper-button-disabled.swiperBtn-prev::after {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg clip-path='url(%23clip0_208_408)'%3e%3cpath d='M20.0291 9.29065L3.39852 9.29074L8.13346 4.55411L6.86789 3.28855L-0.0290906 10.1855L6.86789 17.0825L8.13346 15.817L3.39852 11.0805L20.0291 11.0804L20.0291 9.29065Z' fill='%23DBD8D5'/%3e%3c/g%3e%3cdefs%3e%3cclipPath id='clip0_208_408'%3e%3crect width='20' height='20' fill='white'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e ");
}
.swiper-button-disabled.swiperBtn-next::after {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg clip-path='url(%23clip0_208_403)'%3e%3cpath d='M-0.0290836 9.29065L16.6015 9.29074L11.8665 4.55411L13.1321 3.28855L20.0291 10.1855L13.1321 17.0825L11.8665 15.817L16.6015 11.0805L-0.0290835 11.0804L-0.0290836 9.29065Z' fill='%23DBD8D5'/%3e%3c/g%3e%3cdefs%3e%3cclipPath id='clip0_208_403'%3e%3crect width='20' height='20' fill='white'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e ");
}
@media (max-width: 1220px) {
  body {
    font-size: 13px;
  }
  section:first-child {
    padding-top: 135px;
  }
  section {
    margin-bottom: 100px;
  }
  .section-heading {
    grid-auto-flow: row;
    margin-bottom: 30px;
  }
  .section-title {
    font-size: 25px;
    padding-left: 14px;
  }
  .section-title::after {
    width: 4px;
  }
  .underlined::after {
    height: 4px;
    bottom: 4px;
  }
  .swiperBtn-wrapper {
    justify-content: space-between;
  }
  .swiperBtn {
    width: 50px;
    height: 50px;
  }
}
/* @media (max-width: 576px) {
  .section-heading {
    margin-bottom: 30px;
  }
  .section-title {
    font-size: 25px;
    padding-left: 14px;
  }
  .section-title::after {
    width: 4px;
  }
} */

/* Шапка ↓↓↓ */
header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 30;
}
.header-body {
  padding: 50px 0 30px 0;
  position: relative;
}
.header-body::after {
  content: "";
  width: 100%;
  height: 1px;
  background: linear-gradient(
    90deg,
    #dbd8d5 0%,
    rgba(219, 216, 213, 0.05) 100%
  );
  position: absolute;
  left: 0;
  bottom: 0;
}
header.white .header-body::after {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.25) 0%,
    rgba(255, 255, 255, 0.05) 100%
  );
}
.header-body {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 50px;
  align-items: center;
  justify-items: start;
  justify-content: space-between;
}
.logo {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 40px;
  align-items: center;
}
.logo-img {
  width: 213px;
  height: 70px;
}
.logo-text {
  max-width: 282px;
  font-size: 15px;
  font-weight: 400;
  position: relative;
}
.logo-text::after {
  content: "";
  height: 55px;
  width: 1px;
  background-color: #dbd8d5;
  position: absolute;
  left: -20px;
  top: 50%;
  transform: translateY(-50%);
}
header.white .logo-text {
  color: #fff;
}
header.white .logo-text::after {
  background-color: #fff;
}
.header-right {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 40px;
}
.phone-wrapper {
  display: grid;
  grid-gap: 3px;
  justify-items: end;
  justify-content: end;
  color: #252525;
}
header.white .phone-wrapper {
  color: #fff;
}
.phone-primary {
  font-size: 18px;
  font-weight: 600;
  padding-left: 24px;
}
.phone-primary::after {
  width: 14px;
  height: 14px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg clip-path='url(%23clip0_503_1583)'%3e%3cpath d='M10.4219 14C9.35555 14 8.0474 13.509 6.60622 12.5416C3.69231 10.5862 0.282292 6.57327 0.0179979 3.86171C-0.0665113 2.99448 0.150957 2.29474 0.664507 1.78119L2.4457 0L6.07259 3.62689L5.78257 3.91691C5.31995 4.37961 4.56185 5.1361 4.01984 5.67443C4.51844 6.40664 5.48094 7.48868 6.19111 8.19885C6.86333 8.87048 7.64118 9.48187 8.3422 9.95013C8.84721 9.4418 9.52696 8.76 10.0829 8.20287L10.3733 7.9126L14.0002 11.5403L12.2407 13.2998C11.7724 13.7681 11.1543 14 10.4219 14Z' fill='%23D71E1E'/%3e%3c/g%3e%3cdefs%3e%3cclipPath id='clip0_503_1583'%3e%3crect width='14' height='14' fill='white'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e ");
}
.phone-primary:hover::after,
.phone-primary:focus-visible::after {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg clip-path='url(%23clip0_503_1583)'%3e%3cpath d='M10.4219 14C9.35555 14 8.0474 13.509 6.60622 12.5416C3.69231 10.5862 0.282292 6.57327 0.0179979 3.86171C-0.0665113 2.99448 0.150957 2.29474 0.664507 1.78119L2.4457 0L6.07259 3.62689L5.78257 3.91691C5.31995 4.37961 4.56185 5.1361 4.01984 5.67443C4.51844 6.40664 5.48094 7.48868 6.19111 8.19885C6.86333 8.87048 7.64118 9.48187 8.3422 9.95013C8.84721 9.4418 9.52696 8.76 10.0829 8.20287L10.3733 7.9126L14.0002 11.5403L12.2407 13.2998C11.7724 13.7681 11.1543 14 10.4219 14Z' fill='%23A91212'/%3e%3c/g%3e%3cdefs%3e%3cclipPath id='clip0_503_1583'%3e%3crect width='14' height='14' fill='white'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e ");
}
header.white .phone-primary::after {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg clip-path='url(%23clip0_208_506)'%3e%3cpath d='M10.4217 14C9.35542 14 8.04728 13.509 6.6061 12.5416C3.69219 10.5862 0.28217 6.57327 0.0178759 3.86171C-0.0666334 2.99448 0.150835 2.29474 0.664385 1.78119L2.44557 0L6.07247 3.62689L5.78245 3.91691C5.31983 4.37961 4.56172 5.1361 4.01972 5.67443C4.51831 6.40664 5.48081 7.48868 6.19098 8.19885C6.86321 8.87048 7.64106 9.48187 8.34208 9.95013C8.84709 9.4418 9.52684 8.76 10.0828 8.20287L10.3732 7.9126L14.0001 11.5403L12.2405 13.2998C11.7723 13.7681 11.1542 14 10.4217 14Z' fill='white'/%3e%3c/g%3e%3cdefs%3e%3cclipPath id='clip0_208_506'%3e%3crect width='14' height='14' fill='white'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e ");
}
header.white .phone-primary:hover:after,
header.white .phone-primary:focus-visible:after {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg clip-path='url(%23clip0_208_506)'%3e%3cpath d='M10.4217 14C9.35542 14 8.04728 13.509 6.6061 12.5416C3.69219 10.5862 0.28217 6.57327 0.0178759 3.86171C-0.0666334 2.99448 0.150835 2.29474 0.664385 1.78119L2.44557 0L6.07247 3.62689L5.78245 3.91691C5.31983 4.37961 4.56172 5.1361 4.01972 5.67443C4.51831 6.40664 5.48081 7.48868 6.19098 8.19885C6.86321 8.87048 7.64106 9.48187 8.34208 9.95013C8.84709 9.4418 9.52684 8.76 10.0828 8.20287L10.3732 7.9126L14.0001 11.5403L12.2405 13.2998C11.7723 13.7681 11.1542 14 10.4217 14Z' fill='%23EF494C'/%3e%3c/g%3e%3cdefs%3e%3cclipPath id='clip0_208_506'%3e%3crect width='14' height='14' fill='white'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e ");
}
.phone-secondary {
  font-size: 16px;
  font-weight: 400;
}
.phone-primary:hover,
.phone-primary:focus-visible,
.phone-secondary:hover,
.phone-secondary:focus-visible {
  color: #a91212;
}
header.white .phone-primary:hover,
header.white .phone-secondary:focus-visible,
header.white .phone-primary:hover,
header.white .phone-secondary:focus-visible {
  color: #ef494c;
}
.btn-request {
  color: #fff;
  background-color: #d71e1e;
  font-size: 16px;
  font-weight: 600;
  padding: 16px 21px 17px 21px;
}
.btn-request:hover,
.btn-request:focus-visible {
  background-color: #a91212;
}
.burger {
  width: 40px;
  height: 45px;
  position: relative;
}
.burger-line {
  width: 100%;
  height: 2px;
  background-color: #d71e1e;
  position: absolute;
  right: 0;
  transition: background-color 0.2s, transform 0.3s, top 0.3s;
}
.burger:hover .burger-line,
.burger:focus-visible .burger-line {
  background-color: #a91212;
}
.header-mobile.white .burger-line,
header.white .burger-line {
  background-color: #fff;
}
header.white .burger:hover .burger-line,
header.white .burger:focus-visible .burger-line {
  background-color: #ef494c;
}
.burger-line.one {
  top: 25%;
}
.burger-line.two {
  width: 75%;
  top: 50%;
}
.burger-line.three {
  top: 75%;
}
.burger.close .burger-line.one,
.burger.open .burger-line.one {
  top: 50%;
  transform: rotate(-45deg);
}
.burger.close .burger-line.two,
.burger.open .burger-line.two {
  transform: scale(0);
}
.burger.close .burger-line.three,
.burger.open .burger-line.three {
  top: 50%;
  transform: rotate(45deg);
}
.header-links {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 50px;
  justify-content: start;
  justify-items: start;
  align-items: center;
  color: #252525;
  margin-top: 35px;
}
header.white .header-links {
  color: #fff;
}
.header-link {
  font-size: 16px;
  font-weight: 400;
}
.header-link:hover {
  color: #a91212;
}
header.white .header-link:hover {
  color: #ef494c;
}
@media (max-width: 1220px) {
  header {
    display: none;
  }
}
/* Шапка ↑↑↑ */
/* Летающая шапка ↓↓↓ */
.header-fly {
  width: 100%;
  background-color: #fff;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 40;
  transform: translateY(-150%);
  transition: transform 0.4s;
}
.header-fly.show {
  transform: translate(0);
}
.header-container {
  max-width: 1380px;
  width: 100%;
  margin: 0 auto;
  background-color: transparent;
  background-color: #fff;
  box-shadow: 0px 0px 150px -20px rgba(113, 113, 113, 0.15);
  border-radius: 0px 0px 30px 0px;
}
.header-up {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 30px;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0;
  border-bottom: 1px solid #f1efee;
}
.header-fly .header-links {
  margin-top: 0;
}
@media (max-width: 1220px) {
  .header-fly {
    display: none;
  }
}
/* Летающая шапка ↑↑↑ */
/* Открытое меню ↓↓↓ */
.header-menu .header-body::after {
  display: none;
}
.header-menu {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 50;
  display: none;
}
.header-menu.open {
  display: block;
}
.header-menu-cards {
  display: grid;
  grid-template-columns: 380px 580px;
  justify-content: space-between;
  padding: 30px 0 65px 0;
}
.header-menu-right {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-flow: column;
  grid-gap: 20px;
}
.header-menu-heading {
  color: #252525;
  font-size: 16px;
  font-weight: 500;
  padding-bottom: 25px;
  margin-bottom: 25px;
  position: relative;
  text-transform: uppercase;
}
.header-menu-heading::after {
  content: "";
  width: 100%;
  height: 1px;
  background: linear-gradient(
    90deg,
    #dbd8d5 0%,
    rgba(219, 216, 213, 0.05) 100%
  );
  position: absolute;
  left: 0;
  bottom: 0;
}
.header-menu-list {
  display: grid;
  grid-gap: 15px;
}
.header-menu-text {
  font-size: 18px;
  line-height: 1.5em;
}
.header-menu-phone {
  color: #252525;
  font-weight: 400;
}
.header-menu-phone:hover,
.header-menu-phone:focus-visible {
  color: #a91212;
}
.header-menu-link {
  color: #252525;
  font-weight: 400;
}
.header-menu-link:hover,
.header-menu-link:focus-visible {
  color: #a91212;
}
@media (max-width: 1220px) {
  .header-menu {
    display: none !important;
  }
}
/* Открытое меню ↑↑↑ */
/* Мобильная шапка ↑↑↑ */
.header-mobile {
  display: none;
}
@media (max-width: 1220px) {
  .header-mobile {
    width: 100%;
    overflow: auto;
    background-color: transparent;
    padding: 10px 20px;
    position: fixed;
    z-index: 40;
    left: 0;
    top: 0;
    display: block;
  }
  .header-mobile::-webkit-scrollbar {
    width: 4px;
  }
  .header-mobile.open,
  .header-mobile.fly {
    background-color: #fff;
  }
  .header-mobile.open {
    height: 100%;
  }
  .header-mobile.open .burger-line {
    background-color: #d71e1e;
  }
  .header-mobile-cap {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
  }
  .header-mobile-logo {
    width: 160px;
    height: 52px;
  }
  .header-mobile.white .header-mobile-logo {
    display: none;
  }
  .header-mobile .header-mobile-logo.white {
    display: none;
  }
  .header-mobile.white .header-mobile-logo.white {
    display: block;
  }
  .header-mobile-body {
    display: none;
    margin-top: 15px;
  }
  .header-mobile.open .header-mobile-body {
    display: block;
  }
  .header-mobile-subtitle {
    margin-bottom: 35px;
  }
  .header-mobile-btn {
    font-size: 15px;
    margin-bottom: 40px;
  }
  .header-menu-right {
    grid-template-columns: auto;
    grid-auto-flow: row;
    grid-gap: 30px;
    margin-bottom: 30px;
  }
  .header-menu-heading {
    font-size: 15px;
    padding-bottom: 15px;
    margin-bottom: 15px;
  }
  .header-menu-link {
    font-size: 15px;
  }
  .phone-wrapper {
    justify-items: start;
    justify-content: start;
    grid-gap: 5px;
  }
  .phone-secondary {
    padding-left: 24px;
  }
}
/* Мобильная шапка ↑↑↑ */

/* Сайт ↓↓↓ */
/* Блок ↓↓↓ */
.section_block-body {
  height: 500px;
  display: grid;
  grid-template-columns: minmax(0, 680px) 1fr;
  grid-auto-flow: column;
  position: relative;
}
.section_block .section-title {
  color: #fff;
  margin-bottom: 40px;
}
.section_block {
  display: grid;
  align-items: center;
  position: relative;
  z-index: 3;
  border-radius: 30px 0 0 0;
  padding: 100px;
}
.section_block-text {
  color: #faf7f4;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.4em;
}
.section_block-img {
  width: 780px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  border-radius: 0 0 30px 0;
}
.section_block-btn {
  color: #fff;
  background-color: #d71e1e;
  font-size: 18px;
  font-weight: 600;
  padding: 23px 56px;
}
@media (max-width: 1220px) {
  .section_block-body {
    height: auto;
    grid-template-columns: auto;
  }
  .section_block {
    padding: 135px 20px 30px 20px;
    border-radius: 0 0 30px 0;
  }
  .section_block-text {
    font-size: 13px;
  }
  .section_block .section-title {
    margin-bottom: 30px;
  }
  .section_block-img {
    width: 100%;
    height: 230px;
    top: calc(100% - 30px);
  }
  .section-heading {
    grid-gap: 30px;
  }
}
/* Блок ↑↑↑ */

/* Заявка ↓↓↓ */
.application-body {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  min-height: 600px;
  position: relative;
}
.application-img {
  width: 680px;
  border-radius: 30px 0px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}
.application-info {
  display: grid;
  align-items: center;
  align-content: center;
  padding: 70px 100px;
  position: relative;
  z-index: 4;
}
.application-title {
  color: #fff;
  font-size: 45px;
  font-weight: 800;
  margin-bottom: 40px;
}
.application-list {
  display: grid;
  grid-gap: 15px;
}
.application-text {
  color: #faf7f4;
  font-size: 20px;
  font-weight: 400;
}
.application-text.marker::after {
  top: 11px;
  transform: translate(0);
}
.application-form {
  border-radius: 30px 0;
  padding: 75px 100px;
  position: relative;
  z-index: 3;
}
.application-heading {
  color: #fff;
  font-size: 23px;
  font-weight: 600;
  margin-bottom: 25px;
}
.application_input-list {
  display: grid;
  grid-gap: 20px;
  margin-bottom: 30px;
}
.input-wrapper {
  position: relative;
}
.input-wrapper::after {
  width: 20px;
  height: 20px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg clip-path='url(%23clip0_532_5258)'%3e%3crect x='7' y='5' width='6' height='13' fill='white'/%3e%3cpath d='M19.5844 14.9981L12.5194 2.01072C11.3843 0.0997462 8.61722 0.0972072 7.48058 2.01072L0.415894 14.9981C-0.744497 16.9508 0.660386 19.4235 2.93472 19.4235H17.065C19.3375 19.4235 20.7448 16.9528 19.5844 14.9981ZM10 17.0797C9.35398 17.0797 8.82812 16.5539 8.82812 15.9079C8.82812 15.2619 9.35398 14.736 10 14.736C10.646 14.736 11.1719 15.2619 11.1719 15.9079C11.1719 16.5539 10.646 17.0797 10 17.0797ZM11.1719 12.3922C11.1719 13.0383 10.646 13.5641 10 13.5641C9.35398 13.5641 8.82812 13.0383 8.82812 12.3922V6.53287C8.82812 5.88686 9.35398 5.361 10 5.361C10.646 5.361 11.1719 5.88686 11.1719 6.53287V12.3922Z' fill='%23EF494C'/%3e%3c/g%3e%3cdefs%3e%3cclipPath id='clip0_532_5258'%3e%3crect width='20' height='20' fill='white'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e ");
  left: auto;
  right: 20px;
  z-index: 2;
  pointer-events: none;
  user-select: none;
  opacity: 0;
}
.input-wrapper.warning::after {
  opacity: 1;
}
.input {
  width: 100%;
  color: #faf7f4;
  background: #353535;
  font-size: 17px;
  font-weight: 400;
  border: 1px solid #4b4b4b;
  padding: 16px 15px;
  position: relative;
  z-index: 1;
}
.input::placeholder {
  color: #999999;
}
.input:hover,
.input:focus-visible {
  border: 1px solid #999999;
}
.btn {
  width: 100%;
  color: #fff;
  background-color: #d71e1e;
  font-size: 16px;
  font-weight: 600;
  padding: 16px 15px;
}
.btn:hover,
.btn:focus-visible {
  background-color: #a91212;
}
.btn:disabled {
  background-color: #999999;
}
@media (max-width: 1220px) {
  .application .container {
    padding: 0;
  }
  .application-body {
    max-width: 580px;
    grid-template-columns: auto;
    margin: 0 auto;
  }
  .application-img {
    width: 100%;
  }
  .application-info {
    padding: 25px 20px 30px 20px;
  }
  .application-title {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-items: flex-start;
    font-size: 25px;
    margin-bottom: 15px;
  }
  .application-list {
    grid-gap: 10px;
  }
  .application-text {
    font-size: 14px;
  }
  .application-text.marker::after {
    top: 6px;
  }
  .application-form {
    padding: 30px 20px;
  }
  .application-heading {
    font-size: 16px;
    margin-bottom: 15px;
  }
  .application_input-list {
    grid-gap: 15px;
    margin-bottom: 20px;
  }
  .input {
    font-size: 14px;
  }
  .btn {
    font-size: 15px;
  }
}
/* Заявка ↑↑↑ */
/* Сайт ↑↑↑ */

/* Подвал ↓↓↓ */
footer {
  color: #fff;
  padding: 120px 0;
}
.footer-body {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  grid-template-columns:
    minmax(160px, 280px) minmax(130px, 200px) minmax(140px, 246px)
    250px;
  grid-gap: 30px;
}
.footer-heading {
  color: #faf7f4;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  padding-bottom: 25px;
  margin-bottom: 25px;
  position: relative;
}
.footer-heading::after {
  content: "";
  width: 100%;
  height: 1px;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.25) 0%,
    rgba(255, 255, 255, 0.05) 100%
  );
  position: absolute;
  left: 0;
  bottom: 0;
}
.footer-company-body {
  display: grid;
  grid-gap: 15px;
}
.footer-company-text {
  color: #dbd8d5;
  font-size: 16px;
  line-height: 1.5em;
}
.footer-company-phone {
  display: block;
  color: #fff;
  font-weight: 400;
}
.footer-nav {
  display: grid;
  grid-gap: 15px;
}
.footer-link {
  font-size: 16px;
  font-weight: 400;
}
.footer_logo-link {
  display: block;
  margin-bottom: 20px;
}
.footer_logo-img {
  width: auto;
  height: auto;
}
.footer-phone,
.footer-email {
  display: block;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 15px;
  padding-left: 31px;
}
.footer-phone::after,
.footer-email::after {
  width: 16px;
  height: 16px;
}
.footer-phone::after {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg clip-path='url(%23clip0_469_1727)'%3e%3cpath d='M11.9105 16C10.6919 16 9.19688 15.4389 7.54981 14.3332C4.21963 12.0985 0.322463 7.5123 0.0204121 4.41338C-0.0761699 3.42227 0.172365 2.62256 0.759279 2.03564L2.79492 0L6.93994 4.14502L6.6085 4.47646C6.07979 5.00527 5.21338 5.86982 4.59395 6.48506C5.16377 7.32188 6.26377 8.5585 7.07539 9.37012C7.84365 10.1377 8.73262 10.8364 9.53379 11.3716C10.1109 10.7906 10.8878 10.0114 11.5231 9.37471L11.8551 9.04297L16.0001 13.1889L13.9892 15.1998C13.454 15.735 12.7477 16 11.9105 16Z' fill='white'/%3e%3c/g%3e%3cdefs%3e%3cclipPath id='clip0_469_1727'%3e%3crect width='16' height='16' fill='white'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e ");
}
.footer-email::after {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M15.8591 3.17871L11.0066 7.99993L15.8591 12.8211C15.9468 12.6378 16 12.4351 16 12.2187V3.78118C16 3.56471 15.9468 3.36205 15.8591 3.17871Z' fill='white'/%3e%3cpath d='M14.5938 2.375H1.4063C1.18983 2.375 0.987177 2.42822 0.803833 2.51594L7.0058 8.68666C7.55418 9.23503 8.44593 9.23503 8.9943 8.68666L15.1963 2.51594C15.0129 2.42822 14.8103 2.375 14.5938 2.375Z' fill='white'/%3e%3cpath d='M0.140938 3.17871C0.0532188 3.36205 0 3.56471 0 3.78118V12.2187C0 12.4351 0.0532188 12.6378 0.140938 12.8211L4.99341 7.99993L0.140938 3.17871Z' fill='white'/%3e%3cpath d='M10.3438 8.66309L9.65715 9.34974C8.74343 10.2635 7.25665 10.2635 6.34293 9.34974L5.6563 8.66309L0.803833 13.4843C0.987177 13.572 1.18983 13.6252 1.4063 13.6252H14.5938C14.8103 13.6252 15.0129 13.572 15.1963 13.4843L10.3438 8.66309Z' fill='white'/%3e%3c/svg%3e ");
}
.footer-representative {
  color: #dbd8d5;
  margin-top: 20px;
}
.footer-copyright {
  color: #5f5f5f;
  font-size: 18px;
  margin-top: 20px;
}
@media (max-width: 1220px) {
  footer {
    padding: 30px 0 40px 0;
  }
  .footer-body {
    grid-template-columns: auto;
    grid-auto-flow: row;
  }
  .footer-heading {
    font-size: 15px;
    padding-bottom: 15px;
    margin-bottom: 15px;
  }
  .footer-company-body {
    grid-gap: 10px;
  }
  .footer-company-text {
    font-size: 14px;
  }
  .footer-link {
    font-size: 15px;
  }
  .footer_logo-img {
    width: 180px;
    height: 59px;
  }
  .footer-phone,
  .footer-email {
    font-size: 16px;
    padding-left: 25px;
  }
  .footer-copyright {
    font-size: 13px;
    margin-top: 30px;
  }
}
/* Подвал ↑↑↑ */
