/*main*/
html{
    height: 100%;
}

body {
    color: #000;
    font-size: 18px;
    margin: 0;
    padding: 0;
    cursor: default;
    /*Разделение экрана*/
    display: flex;
    flex-direction: column;
    height: 100%;
}

div, a, p, h1, h2, h3, h4, ul, li, input, button, textarea {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1366px;
    width: 100%;
    margin: 0 auto;
}

/*header*/
.header {
    padding-top: 7px;
    flex: 0 0 auto;
}

.cap {
    display: flex;
    align-items: center;
    /*Убирание выделения*/
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none; 
}

.logo {
    color: #000;
    text-decoration: none;
    height: 70px;
    border-radius: 7px;
    box-shadow: -2px -2px 5px 3px #d3d3d3;
}

.logo:hover {
    box-shadow: -2px -2px 5px 3px #b8b8b8;
}

.nav {
    color: #787878;
    list-style-type: none; /* Убираем маркеры */
    margin-left: 0; /* Отступ слева в браузере IE и Opera */
    padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
    display: inline-block;
    float:left;
    margin-left: 40px;
    cursor: pointer;
    transition: .2s;
}

.nav:hover {
    color: #FFAC30;
    transition: .2s;
}

.other {
    margin-left: 12px;
}

.user {
    color: #787878;
    margin-left: auto;
    display: flex;
}

.user_nav {
    position: relative;
    margin-left: 12px
}

.user_nav:after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;

    background-color: #787878;
    opacity: 1;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;

    transition: opacity 0.1s linear;
}

.user_nav:hover:after {
    opacity: 0;

    transition: opacity 0.1s linear;
}



/* Authentication */
.authentication {
    padding-top: 40px;
    flex: 1 0 auto;
}

.wrapper {
    display: flex;
}

.field_wrapper {
    width: 700px;
    background: #FBF8EF;
    margin: 0 70px;
    border-radius: 7px;
    padding: 45px 45px 20px 45px;
    color: #787878;
    font-size: 14px;
}

.request {
    color: #000;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 20px;
}

.field_heading {
    margin-bottom: 10px;
}

.field_all {
    outline: none;
    width: 100%;
    padding: 10px 20px;
    border: 1px solid #c9c9c9;
    border-radius: 7px;
    margin-bottom: 20px;
}

.links {
    text-decoration: none;
    color: #8a82ff;
    border: none;
    transition: .2s;
}

.links:hover {
    color: #5f54fc;
    border-bottom: 1px #5f54fc dashed;
    transition: .2s;
}

.field_describe {
    max-width: 100%;
    min-width: 100%;
    max-height: 400px;
    min-height: 70px;
}

.contacts {
    color: #000;
    margin-bottom: 20px;
}

.field_name {
    text-transform: capitalize;
}

.btn_form {
    width: 300px;
    color: #000;
    border: none;
    border-radius: 7px;
    padding: 20px 50px;
    outline: none;
    background: #FFAF22;
    font-size: 20px;
    margin: 20px 0;
}

.btn_form:hover {

}

.confirmation {
    padding: 10px;
}

.confirmation_flex {
    display: flex;
    align-items: center;
}

.checkbox_confirmation {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    margin-right: 10px;
}

/* Оформление FAQ */
.heading_faq {
    margin: 60px 0 10px 5px;
}

.questions {
    font-size: 16px;
    line-height: 1.5em;
    position: relative;
    transition: .2s;
}

.questions:hover {
    color: #494848;
    transition: .2s;
}

.questions:hover::after { 
    content: attr(data-title); /* Выводим текст */
    position: absolute; /* Абсолютное позиционирование */
    left: 15%; top: 20px; /* Положение подсказки */
    z-index: 1; /* Отображаем подсказку поверх других элементов */
    background: rgba(43,43,36,0.95); /* Полупрозрачный цвет фона */
    font-family: Arial, sans-serif; /* Гарнитура шрифта */
    padding: 5px 10px; /* Поля */
    font-size: 13.5px;
    line-height: 1.3em;
    color: #fff;
    border: 1px solid #333; /* Параметры рамки */
    border-radius: 7px;
}

.q_grey {
    color: #787878;
}



/* Footer */
.footer {
    margin-top: 50px;
    padding: 40px 0;
    background: #ccc;
    width: 100%;
    flex: 0 0 auto;
}

.f_column {
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.c_deparment {
    display: flex;
    flex-direction: column;
}

.cd_margin {
    margin-bottom: 30px;
}

.f_links {
    color: #787878;
    margin-bottom: 35px;
    text-decoration: none;
    transition: .2s;
}

.f_links:hover {
    color: #FFAC30;
    transition: .2s;
}

.c_contacts {
    margin-top: 10px;
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link_social {
    margin-left: 15px;
}

.img_social {
    filter: invert(0);
    transition: .2s;
}

.img_social:hover {
    filter: invert(5);
    transition: .2s;
}
