/* Главная ↓↓↓ */
.home {
  margin-bottom: 170px;
}
.home .body {
  position: relative;
  padding: 145px 0 160px 0;
}
.home .title-en {
  display: block;
  color: #45af43;
  font-family: 'RoadRadio', sans-serif;
  font-size: 22px;
  margin-bottom: -10px;
}
.home .title {
  color: #1c1c1f;
  font-family: 'RoadRadio', sans-serif;
  font-size: 75px;
  font-weight: 700;
}
.home .text {
  font-size: 20px;
  max-width: 400px;
  margin-bottom: 35px;
}
.home .img {
  max-width: 1005px;
  width: 100%;
  height: auto;
  position: absolute;
  left: 475px;
  top: 50%;
  transform: translateY(-50%);
}
@media (max-width: 1000px) {
  .home .body {
    padding: 100px 0 70px 0;
  }
}
@media (max-width: 768px) {
  .home {
    margin-bottom: 100px;
  }
  .home .body {
    padding: 20px 0 0 0;
  }
  .home .btn {
    margin-bottom: 30px;
  }
  .home .img {
    position: relative;
    left: auto;
    top: auto;
    transform: translate(0);
  }
}
@media (max-width: 576px) {
  .home {
    margin-bottom: 80px;
  }
  .home .title-en {
    font-size: 18px;
    margin-bottom: -7px;
  }
  .home .title {
    font-size: 45px;
  }
  .home .text {
    font-size: 15px;
    margin-bottom: 25px;
  }
}
@media (max-width: 425px) {
  .home .text {
    font-size: 14px;
  }
}
/* Главная ↑↑↑ */

/* О нас ↓↓↓ */
.about .body {
  display: grid;
  grid-template-columns: 540px 505px;
  grid-gap: 90px;
  align-items: center;
}
.about .body .imgs {
  position: relative;
  padding: 0 35px 35px 0;
}
.about .body .imgs img {
  border-radius: 20px;
}
.about .body .imgs .bg {
  position: relative;
  z-index: 0;
}
.about .body .imgs .main {
  width: 425px;
  height: 425px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.about .body .title {
  margin-bottom: 20px;
}
.about .body .text {
  display: grid;
  grid-gap: 10px;
  margin-bottom: 15px;
}
.about .body .left-line {
  padding-left: 20px;
  position: relative;
}
.about .body .left-line::after {
  display: block;
  content: '';
  width: 3px;
  height: 100%;
  background-color: #972528;
  border-radius: 5px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
@media (max-width: 1180px) {
  .about .body {
    grid-template-columns: 540px 1fr;
    grid-gap: 70px;
  }
}
@media (max-width: 1000px) {
  .about .body {
    grid-gap: 40px;
    grid-template-columns: minmax(0, 540px);
    justify-content: center;
  }
  .about .body .info {
    grid-row-start: 1;
  }
}
@media (max-width: 576px) {
  .about .body {
    grid-gap: 25px;
  }
  .about .body .imgs .main {
    width: 80%;
    height: 80%;
  }
}
@media (max-width: 425px) {
  .about .body .imgs {
    padding: 0 20px 20px 0;
  }
  .about .body .left-line {
    padding-left: 15px;
  }
}
/* О нас ↑↑↑ */

/* Сотрудничество ↓↓↓ */
.cooperation .body {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}
.cooperation .body .cards {
  display: grid;
  grid-auto-flow: dense;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: 125px;
  grid-gap: 20px;
}
.cooperation .body .cards .card {
  display: grid;
  align-items: center;
  background: #f9f7f6;
  border-radius: 20px;
  padding: 30px;
}
.cooperation .body .cards .card p {
  position: relative;
  padding-left: 15px;
}
.cooperation .body .cards .card p::after {
  content: '';
  width: 6px;
  height: 6px;
  background-color: #972528;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 7px;
}
.cooperation .body .block {
  display: grid;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 20px;
}
.cooperation .body .block p {
  max-width: 400px;
  width: 100%;
  color: #fff;
  font-weight: 500;
  position: relative;
  z-index: 2;
}
.cooperation .body .block p span {
  display: block;
  font-weight: 600;
  font-style: italic;
  margin-top: 10px;
}
.cooperation .body .block img {
  border-radius: 20px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
}
@media (max-width: 1000px) {
  .cooperation .body {
    grid-template-columns: minmax(0, 610px);
    justify-content: center;
  }
  .cooperation .body .cards {
    grid-auto-rows: auto;
  }
  .cooperation .body .cards .card {
    padding: 20px;
  }
  .cooperation .body .block p {
    width: 100%;
  }
}
@media (max-width: 576px) {
  .cooperation .section-title {
    font-size: 22px;
  }
}
@media (max-width: 425px) {
  .cooperation .body,
  .cooperation .body .cards {
    grid-gap: 15px;
  }
  .cooperation .body .cards .card p::after {
    top: 6px;
  }
}
@media (max-width: 375px) {
  .cooperation .body .cards .card p::after {
    top: 5px;
  }
}
/* Сотрудничество ↑↑↑ */

/* Аренда ↓↓↓ */
.rent .body {
  display: grid;
  grid-template-columns: 540px 505px;
  grid-gap: 90px;
  align-items: center;
}
.rent .body .imgs {
  position: relative;
  padding: 0 0 35px 35px;
}
.rent .body .imgs img {
  border-radius: 20px;
}
.rent .body .imgs .bg {
  position: relative;
  z-index: 0;
}
.rent .body .imgs .main {
  width: 425px;
  height: 425px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
}

.rent .body .title {
  margin-bottom: 20px;
}
.rent .body .text {
  display: grid;
  grid-gap: 10px;
  margin-bottom: 15px;
}
.rent .body .left-line {
  padding-left: 20px;
  position: relative;
}
.rent .body .left-line::after {
  display: block;
  content: '';
  width: 3px;
  height: 100%;
  background-color: #972528;
  border-radius: 5px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
@media (max-width: 1180px) {
  .rent .body {
    grid-template-columns: 540px 1fr;
    grid-gap: 70px;
  }
}
@media (max-width: 1000px) {
  .rent .body {
    grid-gap: 40px;
    grid-template-columns: minmax(0, 540px);
    justify-content: center;
  }
  .rent .body .info {
    grid-row-start: 1;
  }
  .rent .body .imgs {
    padding: 0 35px 35px 0;
  }
  .rent .body .imgs .main {
    left: auto;
    right: 0;
  }
}
@media (max-width: 576px) {
  .rent .body {
    grid-gap: 25px;
  }
  .rent .body .imgs .main {
    width: 80%;
    height: 80%;
  }
}
@media (max-width: 425px) {
  .rent .body .imgs {
    padding: 0 20px 20px 0;
  }
  .rent .body .left-line {
    padding-left: 15px;
  }
}
/* Аренда ↑↑↑ */

/* Запчасти ↓↓↓ */
.spare__parts .body {
  background-image: url('../img/spare-parts/bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center left;
  border-radius: 20px;
  padding: 75px 105px 85px 105px;
}
.spare__parts .body .title {
  color: #fff;
  margin-bottom: 20px;
}
.spare__parts .body .text {
  max-width: 505px;
  color: #f9f7f6;
}
.spare__parts .body .text span {
  display: block;
  font-weight: 600;
  font-style: italic;
  margin-top: 10px;
}
@media (max-width: 768px) {
  .spare__parts .body {
    padding: 30px 40px;
  }
  .spare__parts .body .text {
    max-width: 400px;
  }
}
@media (max-width: 576px) {
  .spare__parts .body {
    min-height: 520px;
    background-image: url('../img/spare-parts/bgMob.png');
    padding: 20px;
  }
  .spare__parts .body .title {
    margin-bottom: 10px;
  }
  .spare__parts .body .text span {
    margin-top: 7px;
  }
}
/* Запчасти ↑↑↑ */

/* Партнеры ↓↓↓ */
.partners .cards {
  display: grid;
  grid-auto-flow: dense;
  grid-template-columns: repeat(auto-fill, minmax(165px, 1fr));
  grid-gap: 20px;
}
.partners .cards .card {
  transition: transform 0.3s ease;
}
.partners .cards .card:hover {
  transform: scale(1.105);
}
.partners .cards .card img {
  border-radius: 20px;
}
@media (max-width: 425px) {
  .partners .cards {
    grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
  }
}
/* Партнеры ↑↑↑ */

/* Контакты ↓↓↓ */
.contacts .body {
  display: grid;
  grid-template-columns: 1fr 715px;
  grid-gap: 20px;
  align-items: center;
}
.contacts .map {
  width: 100%;
  height: auto;
  border-radius: 20px;
  overflow: hidden;
}
.contacts .body .list {
  display: grid;
  grid-gap: 25px;
  justify-content: start;
  justify-items: start;
}
.contacts .body .list li {
  display: grid;
  grid-gap: 10px;
  padding-left: 30px;
  justify-content: start;
  justify-items: start;
}
.contacts .body .list li h3 {
  font-size: 18px;
  font-weight: 500;
  position: relative;
}
.contacts .body .list li h3::after {
  content: '';
  width: 20px;
  height: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: -30px;
  top: 50%;
  transform: translateY(-50%);
}
.contacts .body .list .address h3::after {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg clip-path='url(%23clip0_27_71)'%3e%3ccircle cx='10' cy='10' r='10' fill='%2345AF43'/%3e%3cpath d='M14.1751 6.53056C13.8251 5.84065 13.3073 5.24978 12.6693 4.81226C12.0313 4.37475 11.2935 4.10462 10.5238 4.02671C10.1755 3.99175 9.8245 3.99175 9.47614 4.02671C8.7065 4.10475 7.9688 4.37492 7.33082 4.81242C6.69283 5.24993 6.17501 5.84073 5.82491 6.53056C5.3844 7.4108 5.2142 8.4017 5.33576 9.37847C5.45731 10.3552 5.86517 11.2742 6.50799 12.0196L9.64368 15.8319C9.68698 15.8845 9.74138 15.9269 9.80298 15.956C9.86459 15.985 9.93186 16.0001 9.99999 16.0001C10.0681 16.0001 10.1354 15.985 10.197 15.956C10.2586 15.9269 10.313 15.8845 10.3563 15.8319L13.4915 12.0196C14.1344 11.2743 14.5424 10.3553 14.664 9.37854C14.7856 8.40177 14.6155 7.41084 14.1751 6.53056ZM9.99999 10.4615C9.63485 10.4615 9.27792 10.3532 8.97432 10.1504C8.67072 9.94749 8.43409 9.65916 8.29436 9.32182C8.15463 8.98448 8.11807 8.61328 8.18931 8.25516C8.26054 7.89704 8.43637 7.56809 8.69456 7.3099C8.95275 7.05171 9.2817 6.87588 9.63982 6.80465C9.99794 6.73341 10.3691 6.76997 10.7065 6.90971C11.0438 7.04944 11.3321 7.28606 11.535 7.58966C11.7379 7.89326 11.8461 8.25019 11.8461 8.61533C11.8455 9.10477 11.6508 9.57399 11.3047 9.92008C10.9587 10.2662 10.4894 10.4609 9.99999 10.4615Z' fill='white'/%3e%3c/g%3e%3cdefs%3e%3cclipPath id='clip0_27_71'%3e%3crect width='20' height='20' fill='white'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e ");
}
.contacts .body .list .phone h3::after {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg clip-path='url(%23clip0_27_65)'%3e%3ccircle cx='10' cy='10' r='10' fill='%2345AF43'/%3e%3cpath d='M15.614 12.64C15.5812 12.614 13.2 10.8976 12.5464 11.0208C12.2344 11.076 12.056 11.2888 11.698 11.7148C11.6404 11.7836 11.502 11.9484 11.3944 12.0656C11.1682 11.9918 10.9475 11.902 10.734 11.7968C9.63221 11.2604 8.742 10.3702 8.2056 9.2684C8.10035 9.05497 8.01052 8.83427 7.9368 8.608C8.0544 8.5 8.2192 8.3616 8.2896 8.3024C8.7136 7.9464 8.9268 7.768 8.982 7.4552C9.0952 6.8072 7.38 4.4096 7.362 4.388C7.28418 4.27683 7.18262 4.18435 7.06467 4.11724C6.94672 4.05014 6.81533 4.01009 6.68 4C5.9848 4 4 6.5748 4 7.0084C4 7.0336 4.0364 9.5952 7.1952 12.8084C10.4052 15.9636 12.9664 16 12.9916 16C13.4256 16 16 14.0152 16 13.32C15.99 13.1851 15.9502 13.0542 15.8835 12.9366C15.8167 12.819 15.7247 12.7177 15.614 12.64Z' fill='white'/%3e%3c/g%3e%3cdefs%3e%3cclipPath id='clip0_27_65'%3e%3crect width='20' height='20' fill='white'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e ");
}
.contacts .body .list .email h3::after {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg clip-path='url(%23clip0_27_55)'%3e%3ccircle cx='10' cy='10' r='10' fill='%2345AF43'/%3e%3cpath d='M15.9776 6.4558C15.9255 6.10734 15.7502 5.7891 15.4836 5.55875C15.217 5.3284 14.8767 5.2012 14.5244 5.2002H5.4756C5.12327 5.2012 4.78296 5.3284 4.51636 5.55875C4.24977 5.7891 4.07452 6.10734 4.0224 6.4558L10 10.3238L15.9776 6.4558Z' fill='white'/%3e%3cpath d='M10.2172 11.136C10.1525 11.1779 10.0771 11.2002 10 11.2002C9.92294 11.2002 9.84751 11.1779 9.7828 11.136L4 7.39444V13.3244C4.00042 13.7157 4.15602 14.0907 4.43266 14.3674C4.7093 14.644 5.08438 14.7996 5.4756 14.8H14.5244C14.9156 14.7996 15.2907 14.644 15.5673 14.3674C15.844 14.0907 15.9996 13.7157 16 13.3244V7.39404L10.2172 11.136Z' fill='white'/%3e%3c/g%3e%3cdefs%3e%3cclipPath id='clip0_27_55'%3e%3crect width='20' height='20' fill='white'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e ");
}
.contacts .body .list li .text {
  color: #1c1c1f;
  font-size: 20px;
  font-weight: 500;
}
.contacts .body .list li a.text:hover,
.contacts .body .list li a.text:focus-visible {
  color: #b91d21;
}
.contacts .body .list li .phones {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 10px;
  align-items: center;
}
.contacts .body .list li .phones span {
  display: block;
  width: 2px;
  height: 80%;
  background-color: #f0eeed;
}
@media (max-width: 1180px) {
  .contacts .body {
    grid-template-columns: 1fr;
    grid-gap: 25px;
  }
  .contacts .map {
    height: 370px;
  }
}
@media (max-width: 576px) {
  .contacts .body .list {
    grid-gap: 20px;
  }
  .contacts .body .list li {
    grid-gap: 7px;
    padding-left: 24px;
  }
  .contacts .body .list li h3 {
    font-size: 15px;
  }
  .contacts .body .list li h3::after {
    width: 14px;
    height: 14px;
    left: -24px;
  }
  .contacts .body .list li .text {
    font-size: 16px;
  }
}
@media (max-width: 425px) {
  .contacts .body .list {
    grid-gap: 15px;
  }
  .contacts .body .list li h3 {
    font-size: 14px;
  }
  .contacts .body .list li .text {
    font-size: 15px;
  }
}
@media (max-width: 375px) {
  .contacts .body .list li .phones {
    grid-auto-flow: row;
    grid-gap: 7px;
  }
  .contacts .body .list li .phones span {
    display: none;
  }
}
/* Контакты ↑↑↑ */
