/*
font-family: 'Comfortaa', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
 */

html{
  height: 100%;
}
body{
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 18px;
  background: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

*,
*::after,
*::before{
  color: #000;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}
ul, li{
  list-style-type: none;
}

h1, h2, h3{
  font-family: 'Comfortaa', cursive;
}

/* Скролл начало */
::-webkit-scrollbar-button {
  background-image:url('');
  background-repeat:no-repeat;
  width:6px;
  height:0px
}
::-webkit-scrollbar-track {
  background-color: transparent;
  border: 1px solid #2222;
}
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 2px;
  border-radius: 20px;
  background-color: #39df80;
  background-position:center;
  background-repeat:no-repeat;
}
::-webkit-resizer{
  background-image:url('');
  background-repeat:no-repeat;
  width:9px;
  height:0px;
}
::-webkit-scrollbar{
  width: 11px;
}
/* Скролл конец */

.container{
  max-width: 1110px;
  width: 100%;
  margin: 0 auto;
}

.whatsapp_bubl{
  max-width: 60px;
  max-height: 60px;
  position: fixed;
  border-radius: 50%;
  z-index: 19;
  right: 20px;
  bottom: 20px;
  transition: all 0.2s;
}
.whatsapp_bubl img{
  border-radius: 50%;
  position: relative;
}
.whatsapp_bubl:after,.whatsapp_bubl:before{
  content:" ";
  display:block;
  position:absolute;
  border:1px solid #25d366;
  left:-20px;right:-20px;
  top:-20px;bottom:-20px;
  border-radius:50%;
  -webkit-animation:animate 1.5s linear infinite;
  animation:animate 1.5s linear infinite;
  opacity:0;
  -webkit-backface-visibility:hidden;
  backface-visibility:hidden
}
.whatsapp_bubl:after{
  -webkit-animation-delay:.5s;
  animation-delay:.5s
}
@-webkit-keyframes animate{0%{-webkit-transform:scale(.5);transform:scale(.5);opacity:0}50%{opacity:1}to{-webkit-transform:scale(1.2);transform:scale(1.2);opacity:0}}
@keyframes animate{
  0%{
    -webkit-transform:scale(.5);
    transform:scale(.5);
    opacity:0
  }
  50%{
    opacity:1
    }
  to{
    -webkit-transform:scale(1.2);
    transform:scale(1.2);
    opacity:0
    }
  }


/* header начало */
.header{
  position: relative;
  min-height: 100vh;
}
.header-background{
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
}
.header-background-one{
  width: 50%;
  background-image: url('../img/1.jpg');
  background-position: center;
  background-repeat: no-repeat;
}
.header-background-two{
  background: #0A3734;
  width: 50%;
}

.header-main{
  position: relative;
  z-index: 2;
  min-height: 100vh;
}
.burger{
  display: none;
}
.mini_logo{
  display: none;
}
.header-nav{
  padding-top: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.nav-menu{
  text-align: right;
}
.nav-menu-one{
  display: flex;
}
.nav-menu-one a{
  display: inline-block;
}
.nav-menu-tel_one{
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  margin-left: 18px;
  margin-bottom: 4px;
}
.nav-menu-tel_two{
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}
.nav-menu-whatsapp{
  margin-right: 12px;
}

.header-desktop{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 200px;
}
.header_desktop-subtitle{
  color: #FFDE81;
  font-size: 31px;
}
.header_desktop-title{
  font-family: 'Comfortaa', cursive;
  color: rgba(255, 255, 255, 0);
  background-image: url('../img/title.png');
  background-position: center;
  background-repeat: no-repeat;
  font-size: 120px;
  opacity: 1;
  margin-bottom: 72px;
}
.header_desktop-btn_wrapper{
  max-width: 300px;
  position: relative;
}
.header_desktop-btn_wrapper::after{
  content: '';
  position: absolute;
  top: 25px;
  right: -39px;
  width: 45px;
  background-image: url('../img/arrow.svg');
  background-position: center;
  background-repeat: no-repeat;
  height: 54px;
}
.header_desktop-btn{
  display: inline-block;
  padding: 15px 31px;
  color: #FFDE81;
  font-size: 16px;
  font-weight: 700;
  border: 1px solid #FFDE81;
  border-radius: 100px;
  backdrop-filter: blur(7px);
  position: relative;
  margin-bottom: 20px;
  overflow: hidden;
}
.header_desktop-btn::after {
  -webkit-transition: all 0s ease-in-out;
  -moz-transition: all 0s ease-in-out;
  -o-transition: all 0s ease-in-out;
  transition: all 0s ease-in-out;
  content: '';
  position: absolute;
  z-index: -1;
  top: -200%;
  left: -55px;
  padding: 0;
  margin: 0;
  width: 25px;
  height: 500%;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 51.04%, rgba(255, 255, 255, 0) 100%);
  filter: blur(0.6px);
  animation: hd_animation 3s linear infinite;
  animation-delay: 1s;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
@keyframes hd_animation {
  0% {
    left: -55px;
  }
  20% {
    left: 300px;
  }
  100% {
    left: 300px;
  }
}
.header_desktop-btn_text{
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 500;
}

.mouse-wrapper{
  height: 150px;
}
.mouse{
  width: 36px;
  height: 46px;
  position: absolute;
  z-index: 4;
  left: 50%;
  transform: translateX(-50%);
  bottom: 27px;
  border: 3.5px solid rgb(255 255 255);
  border-radius: 20px;
}
.mouse-scroll{
  display: inline-block;
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
  z-index: 5;
}
.mouse-scroll::after{
  content: '';
  width: 6px;
  height: 9px;
  position: absolute;
  top: 8px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  border-radius: 10px;
  animation: mouse_animation 1s linear infinite;
  z-index: 5;
}
@keyframes mouse_animation {
  0% {
    top: 8px;
  }
  50% {
    top: 25px;
  }
  100% {
    top: 8px;
  }
}
/* header конец */



/* advatages начало */
.advatages{
  padding: 120px 0;
}
.advatages_heading-wrapper{
  text-align: center;
  margin-bottom: 50px;
}
.advatages-subtitle{
  font-size: 20px;
  font-weight: 500;
  color: #ffc478;
}
.advatages-title{
  font-size: 50px;
  font-weight: 400;
  margin-bottom: 70px;
}
.advatages_text-wrapper{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 58px;
  grid-column-gap: 33px;
}
.advatages_text-heading{
  display: flex;
  align-items: center;
  margin-bottom: 14px;
}
.advatages_text-circle{
  display: inline-block;
  border-radius: 50%;
  min-width: 10px;
  min-height: 10px;
  background: #0A3734;
  box-shadow: 0 0 0 rgba(10,55,52, 0.4);
  margin-right: 15px;
  animation: pulse 2s infinite;
  align-self: flex-start;
  margin-top: 7px;
}
@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(10,55,52, 0.4);
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(10,55,52, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(10,55,52, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(10,55,52, 0.4);
    box-shadow: 0 0 0 0 rgba(10,55,52, 0.4);
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba(10,55,52, 0);
      box-shadow: 0 0 0 10px rgba(10,55,52, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(10,55,52, 0);
      box-shadow: 0 0 0 0 rgba(10,55,52, 0);
  }
}
.advatages_text-title{
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 500;
}
/* advatages конец */



/* bonus начало */
.bonus{
  width: 100%;
  background-image: url('../img/bonus.jpg');
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 107px;
  padding-bottom: 375px;
}
.bonus-title{
  color: #fff;
  max-width: 770px;
  font-size: 40px;
  font-weight: 300;
  margin-bottom: 86px;
}
.bonus-subtitle{
  color: #fff;
  max-width: 823px;
  font-weight: 400;
  font-size: 20px;
}
/* bonus конец */



/* project начало */
.project{
  padding: 120px 0;
}
.project-heading{
  margin-bottom: 75px;
  position: relative;
}
.project-img{
  display: inline-block;
  position: absolute;
  top: -70px;
  right: -123px;
}
.project-title{
  font-weight: 400;
  font-size: 40px;
}
.project-subtitle{
  font-size: 25px;
  font-weight: 400;
}
.project_text{
  margin-bottom: 65px;
}
.project_text-title{
  margin-bottom: 25px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 24px;
}
.project_text-heading{
  width: 476px;
}
.project_text-help{
  color: #FFC478;
  font-weight: 500;
}
.project_text-circle{
  margin-right: 21px;
}
.project_form{
  display: flex;
  align-items: center;
  height: 50px;
}
.project_form-input_wrapper{
  position: relative;
  height: 50px;
}
.project_form-input_wrapper::after{
  content: '';
  position: absolute;
  left: 18px;
  top: 50%;
  transform: translateY(-50%);
  width: 12px;
  height: 12px;
  background-image: url('../img/phone.svg');
  background-position: center;
  background-repeat: no-repeat;
}
.project_form-input_wrapper::before{
  content: '';
  position: absolute;
  top: 50%;
  left: 40px;
  transform: translateY(-50%);
  height: 15px;
  width: 1px;
  background: #E3E3E3;
}
.project_form-input{
  max-width: 240px;
  font-size: 13px;
  font-weight: 400;
  padding: 14px 82px 14px 50px;
  height: 100%;
  background: #fff;
  border: 1.29811px solid #E6E6EB;
  border-radius: 100px;
  margin-right: 14px;
  outline: 0;
  transition: all 0.15s;
}
.project_form-input:hover,
.project_form-input:focus{
  border: 1.29811px solid #c6c6c8;
}
.project_form-input::placeholder{
  color: #82828B;
}
.project_form-btn{
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 500;
  padding: 16px 54px 14px 54px;
  background: transparent;
  border: 1px solid #219653;
  border-radius: 100px;
  cursor: pointer;
  outline: 0;
  transition: all 0.15s linear;
}
.project_form-btn:hover,
.project_form-btn:focus{
  color: #fff;
  background: #219653;
}
/* project конец */



/* portfolio начало */
.portfolio{
  text-align: center;
  margin-bottom: 120px;
}
.portfolio-title{
  font-size: 40px;
  font-weight: 400;
}
.portfolio-title_help{
  font-weight: 700;
  color: #FFC478;
}
.portfolio-subtitle{
  font-size: 20px;
  margin-bottom: 62px;
}
/* .portfolio-img{
  display: grid;
  justify-content: center;
  grid-template-rows: 305px 240px 255px 145px 385px;
  grid-template-columns: 325px 120px 220px 85px 135px 150px;
  gap: 15px;
  grid-template-areas:
    "portfolio_one portfolio_one portfolio_two portfolio_two portfolio_two portfolio_two"
    "portfolio_one portfolio_one portfolio_three portfolio_three portfolio_four portfolio_four"
    "portfolio_five portfolio_six portfolio_six portfolio_seven portfolio_seven portfolio_seven"
    "portfolio_five portfolio_six portfolio_six portfolio_nine portfolio_nine portfolio_nine"
    "portfolio_eight portfolio_eight portfolio_eight portfolio_nine portfolio_nine portfolio_nine";
} */
.portfolio-img{
  object-fit: cover;
}
.portfolio_one{grid-area: portfolio_one;}
.portfolio_two{grid-area: portfolio_two;}
.portfolio_three{grid-area: portfolio_three;}
.portfolio_four{grid-area: portfolio_four;}
.portfolio_five{grid-area: portfolio_five;}
.portfolio_six{grid-area: portfolio_six;}
.portfolio_seven{grid-area: portfolio_seven;}
.portfolio_eight{grid-area: portfolio_eight;}
.portfolio_nine{grid-area: portfolio_nine;}
/* portfolio конец */



/* comparison начало */
.comparison{
  position: relative;
  padding-bottom: 90px;
}
.comparison::after{
  content: '';
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 306px;
  background: #E8EAE6;
}
.comparison-wrapper{
  display: flex;
  position: relative;
  z-index: 3;
}
.comparison-img{
  margin-right: 30px;
}
.comparison-title{
  max-width: 445px;
  font-size: 35px;
  margin-bottom: 56px;
}
.comparison-subtitle{
  max-width: 495px;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  margin-bottom: 36px;
}

.comparison_form{
  display: flex;
  align-items: flex-start;
}
.comparison_form-input_tel-wrapper{
  position: relative;
}
.comparison_form-input_tel-wrapper::after{
  content: '';
  position: absolute;
  left: 18px;
  top: 50%;
  transform: translateY(-50%);
  width: 12px;
  height: 12px;
  background-image: url('../img/phone.svg');
  background-position: center;
  background-repeat: no-repeat;
}
.comparison_form-input_tel-wrapper::before{
  content: '';
  position: absolute;
  top: 50%;
  left: 40px;
  transform: translateY(-50%);
  height: 15px;
  width: 1px;
  background: #E3E3E3;
}
.comparison_form-input_tel{
  max-width: 240px;
  font-size: 13px;
  font-weight: 400;
  padding: 14px 82px 14px 50px;
  height: 50px;
  background: #fff;
  border: 1.29811px solid #E6E6EB;
  border-radius: 100px;
  margin-right: 14px;
  outline: 0;
  transition: all 0.15s;
}
.comparison_form-input_tel:hover,
.comparison_form-input_tel:focus{
  border: 1.29811px solid #c6c6c8;
}
.comparison_form-input_file-wrapper{
  display: inline-block;
  margin-top: 14px;
  position: relative;
}
.comparison_form-input_file{
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  font-size: 0;
  cursor: pointer;
}
.comparison_form-input_file-btn{
  color: #3D86FF;
  cursor: pointer;
  border-bottom: 1px dashed #3D86FF;
  position: relative;
  z-index: 2;
  margin-left: 25px;
  transition: all 0.15s;
}
.comparison_form-input_file:hover + .comparison_form-input_file-btn{
  color: #1f51a3;
  border-bottom: 1px dashed #1f51a3;
}
.comparison_form-input_file:focus + .comparison_form-input_file-btn{
  border-bottom: 1px dashed #1f51a3;
}
.comparison_form-input_file-btn::after{
  content: '';
  position: absolute;
  z-index: 2;
  top: 50%;
  margin-top: -9px;
  left: -25px;
  width: 20px;
  height: 18px;
  background-image: url('../img/clip.svg');
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
}
.comparison_form-input_tel::placeholder{
  color: #82828B;
}
.comparison_form-btn{
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 500;
  height: 50px;
  padding: 16px 54px 14px 54px;
  background: transparent;
  border: 1px solid #219653;
  border-radius: 100px;
  cursor: pointer;
  outline: 0;
  transition: all 0.15s linear;
}
.comparison_form-btn:hover,
.comparison_form-btn:focus{
  color: #fff;
  background: #219653;
}
.comparison_popup-window{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 31;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 540px;
  height: 239px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0px 4px 30px rgba(255, 255, 255, 0.4);
  transition: all 0.2s;
}
.comparison_popup-title{
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 15px;
}
.comparison_popup-subtitle{
  font-size: 20px;
  font-weight: 400;
}
.comparison_popup-close{
  display: inline-block;
  position: absolute;
  top: 20px;
  right: 16px;
  width: 20px;
  height: 19px;
  background-color: transparent;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='20' height='19' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M10.58 9.5l8.255-8.232a.74.74 0 000-1.05.746.746 0 00-1.053 0L9.527 8.451 1.27.218a.746.746 0 00-1.053 0 .74.74 0 000 1.05l8.256 8.233-8.256 8.232A.74.74 0 00.744 19c.19 0 .381-.072.527-.217l8.256-8.233 8.255 8.233a.743.743 0 001.053 0 .74.74 0 000-1.05L10.58 9.502z' fill='%23000'/%3e%3c/svg%3e");
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: all 0.15s;
  border: 0;
  outline: 0;
}
.comparison_popup-close:hover,
.comparison_popup-close:focus{
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='20' height='19' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M10.58 9.5l8.255-8.232a.74.74 0 000-1.05.746.746 0 00-1.053 0L9.527 8.451 1.27.218a.746.746 0 00-1.053 0 .74.74 0 000 1.05l8.256 8.233-8.256 8.232A.74.74 0 00.744 19c.19 0 .381-.072.527-.217l8.256-8.233 8.255 8.233a.743.743 0 001.053 0 .74.74 0 000-1.05L10.58 9.502z' fill='%233f3f3f'/%3e%3c/svg%3e");
  background-position: center;
  background-repeat: no-repeat;
}
/* comparison конец */
.popup-blackout{
  position: fixed;
  z-index: 30;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: #2224;
  display: none;
}


/* contacts начало */
.contacts-wrapper{
  max-height: 327px;
  height: 100%;
  position: relative;
}
.contacts-info{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  z-index: 4;
  left: 50%;
  bottom: -197px;
  transform: translateX(-50%);
  max-width: 920px;
  min-height: 100px;
  width: 100%;
  padding: 25px;
  background: #FFFFFF;
  box-shadow: 0px 2px 37px -9px rgba(70, 70, 70, 0.25);
  border-radius: 5px;
}
.contacts-title{
  font-size: 25px;
  font-weight: 400;
  margin-bottom: 30px;
}
.contacts-text{
  line-height: 1.6em;
}
.contacts-text_normal{
  font-weight: 400;
}
.contacts-text_medium{
  font-weight: 500;
}
/* contacts конец */



/* footer начало */
.footer{
  width: 100%;
  background: #0A3734;
  padding: 235px 0 55px 0;
}
.footer-nav_wrapper{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.footer-contacts{
  padding-top: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-messengers{
  display: flex;
  margin-bottom: 20px;
}
.footer-email{
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}
.footer-tel_wrapper{
  text-align: right;
}
.footer-tel_one{
  display: inline-block;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 4px;
}
.footer-tel_two{
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}
/* footer конец */




/* Мобильная версия */
@media screen and (max-width: 1109px) {

body{
  font-size: 13px;
}

.container{
  max-width: 900px;
}

/* header Начало */
.header-nav{
  background: #222;
  width: 100%;
  height: 100%;
  position: fixed;
  top: -100%;
  left: 0;
  z-index: 22;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: all 0.2s;
}
.header-nav_help{
  top: 0;
}
.burger{
  display: block;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 23;
  width: 30px;
  height: 20px;
  background: transparent;
  border: 0;
  outline: 0;
}
.burger_line-wrapper{
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;
}
.burger_line-wrapper::after,
.burger_line-wrapper::before{
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 1.25px;
  background: #fff;
}
.burger_line-wrapper::after{top: 0}
.burger_line-wrapper::before{bottom: 0}
.burger_line{
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1.25px;
  margin-top: -1.25px;
  background: #fff;
  border-radius: 100px;
}
.mini_logo{
  display: inline-block;
  position: absolute;
  top: 20px;
  left: 20px;
  transition: all 0.2s;
}
.logo{
  margin: 0 auto;
  display: flex;
  margin-bottom: 40px;
  width: 80%;
}
.logo img{
  width: 100%;
}
.nav-menu-tel_one{
  font-size: 17px;
}
.nav-menu-tel_two{
  font-size: 13px;
}
.header-desktop{
  margin-top: 0;
  padding-top: 150px;
}
.header_desktop-subtitle{
  font-size: 14px;
  margin-bottom: 10px;
}
.header_desktop-title{
  background-image: url('../img/mob-title.png');
  font-size: 70px;
  max-width: 520px;
}
.header_desktop-btn{
  padding: 12px 23px;
  font-size: 14px;
}
.header_desktop-btn_text{
  font-size: 15px;
  max-width: 250px;
}
.header_desktop-btn_wrapper::after{
  right: -32px;
}
.mouse-wrapper{
  display: none;
}
/* header конец */


/* advatages Начало */
.advatages{
  padding: 60px 0;
}
.advatages_heading-wrapper{
  margin-bottom: 35px;
}
.advatages-subtitle{
  font-size: 16px;
  margin-bottom: 10px;
}
.advatages-title{
  font-size: 21px;
  margin-bottom: 40px;
}
.advatages-img-wrapper{
  max-width: 100%;
}
.advatages-img{
  object-fit: cover;
  max-width: 100%;
  height: 50%;
}
.advatages_text-wrapper{
  grid-template-columns: repeat(1, 1fr);
  grid-row-gap: 30px;
  grid-column-gap: 0;
  padding: 0 5px;
}
.advatages_text-title{
  font-size: 17px;
}
.advatages_text-heading{
  margin-bottom: 10px;
}
/* advatages конец */


/* bonus Начало */
.bonus{
  padding-top: 67px;
  padding-bottom: 165px;
}
.bonus-title{
  font-size: 25px;
  margin-bottom: 66px;
  max-width: 490px;
  padding: 0 5px;
}
.bonus-subtitle{
  font-size: 16px;
  max-width: 605px;
  padding: 0 5px;
}
/* bonus конец */


/* project Начало */
.project-heading{
  margin-bottom: 15px;
  padding: 0 5px;
}
.project-img{
  position: relative;
  display: flex;
  width: 310px;
  margin: 0 auto;
  top: auto;
  right: auto;
}
.project-title{
  font-size: 17px;
  margin-bottom: 9px;
}
.project-subtitle{
  font-size: 12px;
  margin-bottom: 20px;
}
.project_text-title{
  font-size: 15px;
}
.project_text-heading{
  width: auto;
}
.project_text{
  margin-bottom: 35px;
  padding: 0 5px;
}
.project_form{
  flex-direction: column;
}
.project_form-input_wrapper{
  margin-bottom: 27px;
}
.project_form-input{
  margin: 0;
}
.project_form-btn{
  max-width: 240px;
  padding: 16px 46px 14px 46px;
}
/* project конец */


/* portfolio Начало */
.portfolio{
  /* display: none; */
}
.portfolio-img img{
  /* object-fit: cover; */
  height: 100%;
  width: 100%;
}
/* .portfolio-img{
  grid-template-rows: 80px 66px 63px 45px 101px;
  grid-template-columns: 84px 36px 56px 27px 77px 0;
  gap: 4px;
} */
.portfolio-title{
  font-size: 20px;
  margin-bottom: 5px;
}
.portfolio-subtitle{
  font-size: 14px;
}
/* portfolio конец */


/* comparison Начало */
.comparison{
  padding-bottom: 50px;
}
.comparison::after{
  height: 496px;
}
.comparison-text-wrapper{
  padding: 0 5px;
}
.comparison-title{
  font-size: 20px;
  margin-bottom: 30px;
}
.comparison-subtitle{
  font-size: 12px;
}
.comparison-wrapper{
  flex-direction: column;
}
.comparison-img{
  width: 300px;
  margin: 0 auto 50px auto;
}
.comparison_form{
  flex-direction: column;
  align-items: center;
}
.comparison_form-input_tel{
  margin: 0;
}
.comparison_form-wrapper{
  margin-bottom: 20px;
}
.comparison_form-btn{
  max-width: 240px;
  padding: 16px 46px 14px 46px;
}
/* comparison конец */


/* contacts Начало */
.contacts-title{
  font-size: 20px;
  margin-bottom: 20px;
}
.contacts-info{
  flex-direction: column;
  bottom: -360px;
  width: 95%;
}
.contacts-img_wrapper{
  margin-top: 20px;
}
.contacts-img{
  width: 100%;
}
/* contacts конец */


/* footer Начало */
.footer{
  padding: 425px 0px 45px 0;
}
.footer-nav_wrapper{
  flex-direction: column;
}
.logo-img{
  width: 300px;
}
.footer-contacts{
  padding: 0;
  margin-bottom: 30px;
}
.footer-tel_wrapper{
  text-align: center;
}
.footer-logo{
  align-self: center;
  margin-bottom: 10px;
}
/* footer конец */

}
@media screen and (max-width: 500px) {
  .header_desktop-title{
    background-image: url('../img/mob-title-320.png');
    font-size: 41px;
    max-width: 520px;
  }
}
