
/*Desktop*/

/*Main*/
body {
	margin: 0;
	color: #4b4f58;
	font-size: 12px;
	font-weight: 400;
	cursor: default;
	display: flex; 
	flex-direction: column; 
	height: 100%; 
	height: -webkit-fill-available;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    font-family: Tahoma,"Helvetica Neue",Helvetica,Geneva,Arial,sans-serif;
}

h1, h2, h3, h4, a, p {
	margin: 0;
	padding: 0;
}

ul, li {
	list-style: none;
	margin: 0;
	padding: 0;
}

.container {
	width: 1160px;
	margin: 0 auto;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input:active, :hover, :focus {
	outline: none;
}

th {
	display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: -internal-center;
}



/*Header*/
.header {
	padding: 15px 0;
	flex: 0 0 auto;
}

/*Content*/
.logo {
	width: 275px;
	/*height: */
}

.logo_text {
	display: none;
}

/*Nav*/
.nav {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}

.menu {
	margin-left: 30px;
}

.menu_links {
	margin-right: 20px;
	text-decoration: none;
	color: #333;
	letter-spacing: 0.04em;
	transition: 0.2s;
}

.menu_links:hover {
	color: #0662c1;
	transition: 0.3s;
}

.contacts {
	width: 390px;
	margin-left: auto;
	text-align: right;
}

.telephone {
	font-size: 24px;
	font-weight: 700;
	text-decoration: none;
	color: #4b4f58;
	transition: .2s;
}

.telephone:hover {
	color: #5e5e5e;
	transition: .3s;
}

.info {
	line-height: 1.6em;
}

/*cart*/
.cart {
	position: relative;
	display: flex;
}

.cart_mouse {
	font-size: 12px;
	max-width: 200px;
	height: 36px;
	padding: 5px 5px 5px 5px;
	border: 1px solid #ccc;
	border-radius: 7px;
	margin-left: auto;
	cursor: pointer;
	display: flex;
    flex-wrap: wrap;
    align-content: center;
	justify-content: center;
	position: relative;
	filter: saturate(10%);

	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	z-index: 15;
	transition: .2s;
}

.cart_mouse img {
	width: 16px;
	margin-right: 8px;
}

.cart_mouse:hover {
	color: #0662c1;
	filter: saturate(100%);
	transition: .3s;
}

.cart_more {
	max-height: 420px;
	position: absolute;
	right: -4px;
	top: -4px;
	background: #fff;
	border-radius: 7px;
	box-shadow: 0 0 15px 1px #222;
	padding: 45px 7px 7px 7px;
	z-index: 10;
	display: none;
}

.cart_footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	width: 100%;
	height: 60px;
	bottom: 0;
	left: 0;
	background: #EBEBEC;
	border-radius: 0 0 7px 7px;
	padding: 10px 10px 20px 10px;
}

.cart_footer h2 {
	font-size: 12px;
	margin-bottom: 5px;
}

.cart_price_btn {
	width: 90px;
	padding: 5px 10px;
	border-radius: 7px;
	border: 1px solid #777;
	background: #333;
}

.cart_price_btn:hover {
	background: #6b6b6b;
}

.cart_price_link {
	text-decoration: none;
	color: #fff;
	font-size: 12px;
	font-weight: 700;
	margin-bottom: 10px;
}

.showing {
	display: block;
}

.cart_info {
	max-height: 300px;
	/*display: flex;*/
	text-align: left;
	align-items: center;
	overflow-y: auto;
	overflow-x: hidden;
	flex-direction: column;
	/*padding-bottom: 52px; */
	margin-bottom: 52px;
}

/*.cart_img {
	width: 100px;
	height: 100px;
}*/

.cart_card {
	display: flex;
	text-align: left;
	font-size: 11px;
	align-items: center;
}

.cart_btn_product {
	margin: 10px 0;
}

.cart_img_product {
	height: 70px;
}

.cart_about {
	display: block;
	/*width: 50px;*/
	margin-left: 10px;
	font-size: 11px;
	line-height: 1.6em;
}

.cart_about p {

}

.cart_heading {
	width: 200px;
	font-size: 16px;
	margin-bottom: 5px;
}

.cart_heading_name {
	color: #0662c1;
	text-decoration: none;
	font-size: 14px;
}

.cart_heading_name:hover {
	color: #4b4f58;
	text-decoration: underline;
}

.cart_btn {
	background: #ccc;
	width: 80px;
	padding: 7px 0;
	border: none;
	border-radius: 7px;
	cursor: pointer;
}

.cart_btn:focus {
	outline: none;
}

.cart_btn:hover {
	background: #939393
}

.place {
	margin-left: 3px;
}

/*Find*/
.find {
	max-width: 100%;
	height: 44px;
	background: #086ED7;
	background: -webkit-linear-gradient(top, #086ED7, #0658AC);
	background: -moz-linear-gradient(top, #086ED7, #0658AC);
	background: linear-gradient(to bottom, #086ED7, #0658AC);
	border-radius: 7px;
	margin-bottom: 20px;
	display: flex;
	align-items: center;
}

.find_nav {
	position: relative;
	display: flex;
	align-items: center;
	margin-right: 1px;
}

.find_nav:hover:after {
	background: #096FD7;
	background: -webkit-linear-gradient(bottom, #096FD7, #0759AC);
	background: -moz-linear-gradient(bottom, #096FD7, #0759AC);
	background: linear-gradient(to top, #096FD7, #0759AC);
}

.find_nav:before {
	content: ""; /* создаём инлайн объект */
	display: block; /* преобразуем его в блочный */
	position: absolute; /* включаем асболютное позиционирование */
	right: -22px; /*отступ будет 0 пикселей от правой точки блока */
	/*top: 9.3px;*/
	top: 21.5px;
	width: 43.1px; /* блок займёт по ширине 100% ширины родительского */
	height: 1px; /* высота самого блока */
	background: #195B9E; /* задаём нужный цвет фоном */
	transform: rotate(-90deg);
}

.find_menu ul {
	display: none;
}

.find_menu li:hover ul {
	display: block;
}

.find_menu {
	background: #086ED7;
	background: -webkit-linear-gradient(top, #086ED7, #0658AC);
	background: -moz-linear-gradient(top, #086ED7, #0658AC);
	background: linear-gradient(to bottom, #086ED7, #0658AC);

	border-radius: 7px;
	position: relative;
	display: inline-table;
	color: #fff;
}

.find_menu li {
	float: left;
}

.find_menu li:hover {
	background-color: #086ED7;
}

.find_menu_one:hover {
	border-radius: 7px 0 0 0;
}

.find_menu li a {
	display: block;
	padding: 13px 17px;
	color: #fff;
	text-decoration: none;
	font-size: 14px;
}

.icon_down {
	background: url("../img/down.png") no-repeat right;
	margin-right: 13px;
}

.find_menu ul {
	background: #086ED7;
	border-radius: 0 0 7px 7px;
	padding: 0;
	position: absolute;
	top: 100%;
	width: 140%;
}

.menu_section li {
	float: none;
	position: relative;
	display: table-row;
}
.menu_section li:hover {
	text-decoration: underline;
	background: none;
}

.menu_section li a {
	font-size: 12px;
	margin: 5px 0 5px 10px;
	padding: 0;
}


/*Page_product*/
.page_product {
	display: none;
	flex: 1 0 auto;
}

.name {
	font-size: 30px;
	font-weight: 400;
	margin-bottom: 20px;
}

.branch {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}

.branch_item {
	color: #333;
	font-size: 11px;
}

.branch_links {
	text-decoration: none;
	color: #333;
}

.branch_links:hover {
	text-decoration: underline;
	color: #0662c1;
}

.branch_next {
	margin: 0 10px;
}

.element {
	opacity: 0.7;
}


.desktop {
	display: flex;
	/*padding-right: 10px;*/
}

.product_wrapper_img {
	width: 442px;
	/*height: 300px;*/
	align-items: center;
	text-align: center;
	padding: 20px;
}

.label_product p {
	margin-bottom: 40px;
}

.choice_img {
	display: none;
}

.product_img_fake {
	height: 120px;
	display: inline-block;
	position: relative;
	margin-bottom: 7px;
	cursor: pointer;
}

.product_img_fake::before {
	width: 101%;
	height: 123px;
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: block;
	border: 2px solid #f01919;
	opacity: 0;
	transition: .05s;
}

.choice_img:checked + .product_img_fake::before {
	opacity: 1;
}

.pif_active + .product_img_fake::before {
	opacity: 1;
}

.product_img {
	height: 120px;
}

.product_size {
	margin-top: 2px;
	margin-bottom: 17px
}

.product_info {
	margin-top: 15px;
	position: relative;
}

/*product_info_about*/
.product_info_about {
	width: 442px;
	margin-bottom: 30px;
}

.stock {
	color: #fff;
	background-color: #b1cd03;
	max-width: 110px;
	padding: 5px 10px;
	text-align: center;
	border-radius: 7px;
}

.price {
	font-size: 13px
}

#product_price {
	font-size: 26px;
}

.enter_people {
	width: 169px;
	height: 28px;
	margin: 2px 2px 0 0;
	text-align:center;
	border: 1px solid #ccc;
	font-size: 13px;
	position: relative;
}

.enter_people_btn {
	width: 24px;
	height: 24px;
	position: absolute;
	top: 18px;
	left: 2px;
	font-size: 21px;
	padding: 0 0 3px 0;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #777;
	border: 1px solid #ccc;
	border-radius: 7px;
}

.enter_people_btn::before {
	content: '';
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 4.7px;
    width: 13px;
    height: 2px;
    background: #777;
}

.enter_people_btn:hover {
	background: #D2D2D2;
}

.ep_two {
	top: 18px;
	left: 143px;
}

.ep_two::before {
	content: '+';
    display: inline-block;
    position: absolute;
    top: -3px;
    left: 3.5px;
    width: 12px;
    height: 12px;
    background: none;
}

.choice_size {
	display: flex;
	margin-top: 7px;
	width: 200px;
}

.size_separation {
	max-width: 30px;
	width: 100%;
	margin-right: auto;
	text-align: center;
}

.choice_people {
	width: 100%;
	height: 28px;
	padding: 0;
	margin: 0;
}

/*.cp_active + .choice_people:checked {}*/

.product_delivery {
	font-size: 13px;
	line-height: 1.4em;
	margin-top: 15px;
	max-width: 91%;
}

.product_delivery span {
	color: #b22222;
}



.margin_button {
	padding: .9375rem 10px;
    border-style: solid;
    border-width: .0625px 0;
    border-color: #e2e3e4;
    margin-top: 15px;
}

.button {
	width: 103px;
	padding: 13px 0;
	color: #fff;
	font-weight: 700;
	background: #d70000;
	border: none;
	border-radius: 7px;
	cursor: pointer;
	transition: .1s;
}

.button:hover {
	background: #FC0000;
	transition: .2s;
}

.button:focus {
	outline: none;
}


/*product_detail*/
.product_detail {
	width: 875px;
}

/*recognition_transitions*/
.recognition_btn {
	width: auto;
	padding: 15px 20px;
	border-radius: 7px;
    background: #fff;
    margin-right: 10px;
    border: none;
}

.recognition {
	font-size: 22px;
	color: #086ED7;
	border-bottom: 1px dashed;
	text-decoration: none;
}

.recognition:hover {
	border: none;
	color: #4b4f58;
}

.recognition_active {
	border: .0625rem solid #E2E3E4;
	border-radius: 7px;
	padding: 13px 20px;
}

.recognition_active .recognition {
	border: none;
	color: #4b4f58;
}

.recognition_active .recognition:hover {
	color: #086ED7;
}

/*transitions_info*/
.transitions_info {
	font-size: 14px;
}

/*description*/
.description {
	display: none;
}

.description p {
	line-height: 1.5em;
	padding: 20px;
}

/*specifications*/
.specifications {
	width: 100%;
	height: 100%;
	padding: 10px 20px;
	font-size: 12px;
	display: none;
}

.element_block {
	width: 100%;
	height: 40px;
	display: flex;
	align-items: center;
	padding: 20px;
}

.block_indent {
	width: 45%;
}

.block_fon {
	background: #F8F8F8;
}

.format {
	color: red;
	font-style: italic;
}

/*pickup*/
.pickup {
	width: 855px;
	padding: 20px;
	display: none;
}

.pickup p {
	margin-bottom: 20px;
}

.pickup u {
	color: red;
	line-height: 1.5em;
}


/*transitions_info active*/
.active {
	display: block;
}






/*checkout*/
#checkout {
	display: none;
}

.checkout {
	position: absolute;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	display: block;
}

.checkout_field {
	position: absolute; /*(fixed)*/
	left: 50%;
	top: 50%;
	transform: translate( -50%, -50%);
	padding: 15px;
	z-index: 200;

	box-shadow: 0 0 15px 2px #000;
	background: #fff;
	border-radius: 7px;
}
/*checkout_up_field*/
.checkout_up_field {
	display: flex;
	padding: 0 0 15px 0;
}

.checkout_img {
	height: 150px;
	margin-right: 40px;
}

.checkout_text {
	line-height: 2.5em;
	margin-right: 50px;
}

.checkout_text h2 {
	font-size: 22px;
	font-weight: 400;
}

.checkout_text a {
	display: block;
	font-size: 20px;
	color: #0662c1;
	text-decoration: none;
	transition: .2s;
}

.checkout_text a:hover {
	color: #4b4f58;
	text-decoration: underline;
	transition: .3s;
}

.calc_formula_wrapper {
	display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
}

.calc_formula {
	line-height: 2.5em;
	text-align: center;
}

.calc_formula p {
	font-size: 23px;
}

.calc_formula span {
	font-weight: 700;
}

.calc_field {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-top: 10px;
}

.calc_sum {
	width: 64px;
	border: 1px solid #ccc;
	border-radius: 7px;
	padding: 7px;
	font-size: 12px;
}

.arrow_alignment {
	display: block;
	margin: 0 8px;
}

.calc_arrow {
	width: 12px;
	height: 12px;
	filter: brightness(70%);
	display: block;
}
/*checkout_down_field*/
.checkout_down_field {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	border-top: .0625rem #e2e3e4 solid;
	border-bottom: .0625rem #e2e3e4 solid;
}

.checkout_down_field {
	font-size: 14px;
}

.checkout_cart_link {
	color: #0662c1;
	text-decoration: none;
	transition: .2s;
}

.checkout_cart_link:hover {
	color: #4b4f58;
	text-decoration: underline;
	transition: .2s;
}

.checkout_cart_sum {

}

.checkout_btn {
	border: none;
	border-radius: 7px;
	padding: 10px;
	color: #fff;
	font-weight: 700;
}

.btn_proceed {
	background: #4b4f58;
	transition: .2s;
}

.btn_proceed:hover {
	background: #5f626a;
	transition: .2s;
}

.btn_arrange {
	background: #0662c1;
	transition: .2s;
}

.btn_arrange:hover {
	background: #2072c7;
	transition: .2s;
}



#filter {
	background: rgba(0,0,0,.5);
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: 50;
	display: none;
}

.filter_png {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: 8;
	display: none;
}

.burger_menu_nav {
	display: none;
}



/*Page_cart*/
.page_cart {
	/*display: none;*/
	flex: 1 0 auto;
}

.cart_sections {
	display: flex;
	justify-content: space-between;
	padding-bottom: 190px
}

.cart_full {
	width: 100%;
	padding: 0;
	margin: 0;
	table-layout: fixed;
	border: 0;
}

/*T-Head*/
.head_full_item {
	font-size: 14px;
	padding: 1.5625rem 0 1.5625rem 1.5625rem;
	border-width: 0 0 .0625rem 0; 
	border-bottom: .0625rem #e2e3e4 solid;
}

.cart_product {
	text-align: left;
}

.cart_product_price {
	text-align: right;
	width: 15%;
}

.cart_product_amount {
	text-align: center;
	width: 17%;
}

.cart_product_cost {
	text-align: right;
	width: 15%;
}

.cart_product_remove {
	width: 8%;
}

.remove_fon {
	filter: saturate(10%);
	transition: 0.4s;
	padding: 0;
	margin: 0;
}

.remove_fon:hover {
	filter: saturate(100%);
	transition: 0.3s;
}

.remove_img {
	height: 15px;
}
/*T-Body*/
.body_full_item {
	font-size: 16px;
	border-bottom: .0625rem #e2e3e4 solid;
	font-weight: 400;
}

.cart_img {
	width: 100%;
	display: flex;
	align-items: center;
	text-align: left;
}

.img_product_body {
	height: 55px;
	margin-right: 25px;
}

.img_product_body:hover {
	opacity: 0.95;
}

.text_product_body {
	color: #0662c1;
	text-decoration: none;
	transition: .2s;
}

.text_product_body:hover {
	color: #4b4f58;
	text-decoration: underline;
	transition: .3s;
}

.spin_product_body span {
	font-size: 13px;
}

.spin_other {
	display: flex;
	align-items: center;
	text-align: center;
}

.field_product_body {
	width: 115px;
	padding: 9px;
	border-radius: 7px;
	border: 1px #e2e3e4 solid;
	margin: 0 5px 0 40px;
}

.plus_minus_body {
	display: flex;
	flex-direction: column;
	margin-right: 10px;
}

.arrows_product_body img {
	height: 13px;
	transition: 0.2s;
}

.arrows_product_body img:hover {
	filter: brightness(0.7);
	opacity: 0.5;
	transition: 0.3s;

}

.cart_quantity_product {
	display: block;
}
/*T-Foot*/
.cart_full_foot {
	width: 100%;
}

.foot_full_item {
	max-width: 1160px;
	width: 100%;
	height: 41px;
}

.foot_field {
	padding: 10px;
	border-top: .0625rem #e2e3e4 solid;
	border-bottom: .0625rem #e2e3e4 solid;
	background: #f3f3f3;
	display: flex;
	justify-content: flex-end;
	margin-right: auto;
	max-width: 1160px;
	width: 1160px;
	font-size: 14px;
	font-weight: 400;
	line-height: 1;
}

.all_price_product {
	font-size: 28px;
	font-weight: 700;
}



/*footer*/
.footer {
	flex: 0 0 auto;
	width: 100%;
	height: 99px;
	background: #F3F3F3;
	display: flex;
    flex-wrap: wrap;
    align-content: center;
    margin-top: 110px;
    margin-bottom: 40px;
}

.f_container {
	width: 1180px;
	margin: 0 auto;
}

.footer_about {
	color: #94969b;
	font-size: 13px;
}

.footer_about a {
	color: #086ED7;
	text-decoration: none;
}

.footer_about a:hover {
	color: #4b4f58;
	text-decoration: underline;
}

.mobile_find {
	display: none;
}


/*Mobile*/

@media screen and (max-width:1200px) {
	.header {
		padding: 0;
	}

	.container {
		width: 1140px;
		padding: 0 10px;
	}

	.nav {
		margin: 10px;
	}

	.f_container {
		padding: 0 10px;
	}

	.foot_field {
		width: 1100px;
	}
}

@media screen and (max-width:992px) {
	.container {
		width: 960px;
	}

	.logo_wrapper {
		width: 90%;
	}

	.logo {
		display: flex;
		margin: 0 auto;
	}

	.menu {
		display: none;
	}

	.burger_menu_btn {
		position: fixed;
		top: 15px;
		left: 15px;
		z-index: 30;
		width: 50px;
		height: 50px;
		border-radius: 50%;
		background: #2a2a2a;
		transition: 0.4s;
	}

	.burger_menu_btn:hover .burger_menu_lines {
		filter: brightness(0.7);
	}

	.burger_menu_lines,
	.burger_menu_lines::after,
	.burger_menu_lines::before {
		position: absolute;
		width: 25px;
		height: 4px;
		background: #fff;
	}

	.burger_menu_lines {
		top: 50%;
		left: 50%;
		transform: translate( -50%, -50%);
	}

	.burger_menu_lines::before {
		content: "";
		top: -10px;
	}

	.burger_menu_lines::after {
		content: "";
		top: 10px;
	}

	.burger_menu_active .burger_menu_btn,
	.burger_menu_active .burger_menu_lines {
		background: transparent;
	}

	.burger_menu_active .burger_menu_lines::before {
		top: 0;
		transform: rotate(45deg);
	}

	.burger_menu_active .burger_menu_lines::after {
		top: 0;
		transform: rotate(-45deg);
	}

	.burger_menu_active .burger_menu_nav {
		background: #777;
		position: fixed;
		left: 15px;
		top: 15px;
		z-index: 14;
		padding: 10px 20px 5px 60px;
		display: flex;
		flex-direction: column;
		border-radius: 22px 7px 7px 7px;
		transition: 0.5s;
	}

	.burger_menu_links {
		font-size: 9px;
		text-decoration: none;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 15px;
		color: #fff;
		z-index: 15;
		margin-bottom: 15px;
	}

	.burger_menu_links:hover {
		filter: brightness(0.7);
	}

	.burger_menu_overlay {
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		z-index: 9;	
	}

	.burger_menu_active .burger_menu_overlay {
		display: block;
	}

	.footer_about {
		padding: 10px;
	}

	.foot_field {
		width: 930px;
	}
}

@media screen and (max-width:768px) {
	.container {
		width: 720px;
	}

	.product_detail {
		width: 100%;
	}

	.detail_wrapper {
		display: flex;
		flex-direction: column;
	}

	.recognition_btn {
		margin: 0;
	}

	.pickup {
		width: 100%;
	}

	.block_indent {
		width: 40%;
	}

	.cart_product_amount {
		width: 25%
	}

	.foot_field {
		width: 690px;
	}
}

@media screen and (max-width:576px) {
	.container {
		width: 100%;
		padding: 0;
	}

	.nav {
		width: 100%;
		height: 50px;
		background: #086ED7;
		margin: 0;
		padding: 0;
		margin-bottom: 120px;
	}

	.burger_menu_btn {
		position: absolute;
		top: 0px;
		left: 0px;
		z-index: 30;
		width: 50px;
		height: 50px;
		border-radius: 50%;
		background: none;
		transition: 0.4s;
	}

	.burger_menu_active .burger_menu_nav {
		background: #222;
		box-shadow: 0 0 10px 2px #000;
		position: fixed;
		height: 100vh;
		left: 0px;
		top: 0px;
		z-index: 14;
		padding: 10px 20px 5px 60px;
		display: flex;
		flex-direction: column;
		border-radius: 0 7px 7px 0;
		transition: 0.5s;
	}

	.logo {
		position: absolute;
		top: 60px;
		left: 50%;
		transform: translate( -50%);
	}

	.logo_text_wrapper {
		width: 100%;
		display: flex;
		justify-content: center;
		position: absolute;
	}

	.logo_text {
		display: flex;
		justify-content: center;
		color: #fff;
		text-align: center;
	}

	.telephone {
		background: url(../img/call.png) no-repeat;
		background-size: 14px;
		transform: scale(-1, 1);
		/*background: #5a5a;*/
		/*width: 100px;*/
		/*height: 12px;*/
		padding: 10px;
		position: absolute;
		top: 18px;
		left: 85%;
		display: block;
		z-index: 2;
	}

	.telephone span {
		display: none;
	}

	.branch_next {
		margin: 0 4px;
	}

	.info {
		display: none;
	}

	.cart_mouse {
		border: 1px #777 solid;
		margin-right: 10px;
		margin-top: 100px;
	}

	.cart_mouse:hover {
		filter: contrast(200%)
	}

	.cart_more {
		top: 97px;
		right: 7px;
	}

	.mobile_find {
		text-align: center;
		margin-top: 120px;
		display: block;
	}

	.mobile_find_btn {
		width: 150px;
		background: #333;
		border: none;
		border-radius: 7px;
		padding: 10px;
		color: #fff;
		transition: .3s;
	}

	.mobile_find_btn:hover {
		background: #545454;
		transition: .3s;
	}

	.mobile_find_margin {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.mobile_find_margin img {
		height: 12px;
	}

	.mobile_find_field {
		width: 50%;
		background: #222;
		margin: 0 auto;
		border-radius: 7px;
		z-index: 60;
		display: block;
		position: relative;
	}

	.find {
		display: none;
		top: 20%;
		left: 50%;
		transform: translate( -50%);
		z-index: 70;
		position: absolute;
	}

	.find_menu {
		display: flex;
		flex-direction: column;
	}

	.find_menu li:hover ul {
		display: none;
	}

	.find_menu li a {
		width: 100%;
		margin: 0 auto;
		padding: 25px;
		border-radius: 7px;
	}

	.find_nav a {
		background: none;
	    display: flex;
    	justify-content: center;
    	text-align: center;
    	margin: 0 auto;
	}

	.find_menu li:hover {
		background-color: #086ED7;
		border-radius: 7px;
	}

	.wrapper_branch {
		padding: 5px;
	}

	.desktop {
		display: block;
	}

	.product_wrapper_img {
		width: 100%;
	}

	.product_info_about {
		width: 100%;
		padding-left: 20px;
	}

	.checkout_up_field {
		display: block;
		text-align: left;
		margin: 0;
	}

	.checkout_img {
		margin: 0;
	}

	.checkout_text {
		margin: 0;
	}

	.calc_formula_wrapper {
		justify-content: flex-end;
		align-items: center;
	}

	.calc_formula {
		justify-content: flex-end;
	}

	.checkout_down_field {
		display: block;
	}

	.checkout_btn_wrapper {
		display: flex;
		justify-content: space-between;
		margin-top: 15px;
	}

	.checkout_btn {
		width: auto;
	}

	.cart_product_amount {
		width: 30%
	}

	.cart_img {
		display: block;
		text-align: center;
	}

	.img_product_body {
		margin: 0;
	}

	.btn_proceed {
		margin-right: 5px;
	}

	.spin_product_body {
		position: relative;
	}

	.units {
		position: absolute;
		top: 11px;
		right: 14px;
	}

	.section_product {
		padding: 0 5px;
	}

	.cart_sections {
		display: block;
	}

	.cart_mobile {
		display: flex;
		align-items: center;
	}

	.cm_about {
		margin-left: 5px;
	}

	.cm_img_product {
		width: 140px;
	}

	.cm_info {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.cm_info_field {
		display: flex;
		align-items: center;
	}

	.cm_btn {
		width: 60px;
		height: 25px;
		padding: 5px;
		border: 1px #777 solid;
		border-radius: 7px;
		margin-right: 5px;
	}

	.cs_group {
		width: 100%;
		padding: 10px 5px;
		border-top: .0625rem #e2e3e4 solid;
		border-bottom: .0625rem #e2e3e4 solid;
		margin: 10px 0;
		text-align: center;
	}

	.cs_purchase {
		width: 100%;
		text-align: center;
	}

	.cart_full {
		display: none;
	}

	.find_nav:before {
		display: none;
	}

	.foot_field {
		width: 310%;
	}
}
