/*Main*/
body {
	margin: 0;
	color: #333;
	font-size: 12px;
	/*font-family: 'Roboto Slab', serif;*/
	font-family: Tahoma,"Helvetica Neue",Helvetica,Geneva,Arial,sans-serif;
	font-weight: 400;
	cursor: default;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, a, p {
	margin: 0;
	padding: 0;
}

ul, li {
	list-style: none;
	margin: 0;
	padding: 0;
}

.container {
	width: 1160px;
	margin: 0 auto;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input:active, :hover, :focus {
	outline: none;
}


/*Header*/
.header {
	padding: 15px 0;
}

/*Content*/
.logo {
	width: 275px;
	/*height: */
}

/*Nav*/
.nav {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}

.menu {
	margin-left: 30px;
}

.menu_links {
	margin-right: 20px;
	text-decoration: none;
	color: #333;
	letter-spacing: 0.04em;
}

.contacts {
	width: 390px;
	margin-left: auto;
	text-align: right;
}

.telephone {
	font-size: 24px;
	font-weight: 700;
	text-decoration: none;
	color: #4b4f58;
}

.info {
	line-height: 1.6em;
}

/*cart*/
.cart {
	position: relative;
	display: flex;
}

.cart_mouse {
	font-size: 12px;
	max-width: 200px;
	height: 36px;
	padding: 5px 5px 5px 5px;
	border: 1px solid #ccc;
	border-radius: 7px;
	margin-left: auto;
	cursor: pointer;
	display: flex;
    flex-wrap: wrap;
    align-content: center;
	justify-content: center;
	position: relative;
	filter: saturate(10%);

	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	z-index: 2;
}

.cart_mouse img {
	width: 16px;
	margin-right: 8px;
}

.cart_mouse img:hover {
}

.cart_mouse:hover {
	color: #0662c1;
	filter: saturate(100%);
}

.cart_more {
	width: 400px;
	height: 400px;
	position: absolute;
	right: -4px;
	top: -4px;
	background: #fff;
	background: linear-gradient(180deg, #FFFFFF 0%, #FFFFFF 85%, #EBEBEC 85%, #EBEBEC 100%);
	border-radius: 7px;
	box-shadow: 0 0 15px 1px #222;
	padding: 45px 7px 65px 7px;
	z-index: 1;
	overflow: auto;
}

.cart_more:before {
	background: #666;
	position: absolute;
	bottom: 5;
	top: 0;
	left: 1;
	z-index: 100;
}

.showing {
	display: none;
}

.cart_info {
	display: flex;
	text-align: left;
	align-items: center;
}

.cart_img {
	width: 100px;
	height: 100px;
}

.cart_about {
	width: ;
	margin-left: 10px;
	font-size: 12px;
	line-height: 1.6em
}

.cart_heading {
	width: 270px;
	height: 40px;
	font-size: 16px;
	margin-bottom: 10px;
}

.cart_btn {
	background: #ccc;
	width: 80px;
	padding: 7px 0;
	border: none;
	border-radius: 7px;
	cursor: pointer;
}

.cart_btn:focus {
	outline: none;
}

.cart_btn:hover {
	background: #939393
}

.place {
	margin-left: 3px;
}

/*Find*/
.find {
	max-width: 100%;
	height: 44px;
	background: #086ED7;
	background: -webkit-linear-gradient(top, #086ED7, #0658AC);
	background: -moz-linear-gradient(top, #086ED7, #0658AC);
	background: linear-gradient(to bottom, #086ED7, #0658AC);
	border-radius: 7px;
	margin-bottom: 20px;
	display: flex;
	align-items: center;
}

.find_nav {
	position: relative;
	display: flex;
	align-items: center;
	margin-right: 1px;
}

.find_nav:hover:after {
	background: #096FD7;
	background: -webkit-linear-gradient(bottom, #096FD7, #0759AC);
	background: -moz-linear-gradient(bottom, #096FD7, #0759AC);
	background: linear-gradient(to top, #096FD7, #0759AC);
}

.find_nav:before {
	content: ""; /* создаём инлайн объект */
	display: block; /* преобразуем его в блочный */
	position: absolute; /* включаем асболютное позиционирование */
	right: -22px; /*отступ будет 0 пикселей от правой точки блока */
	/*top: 9.3px;*/
	top: 21.5px;
	width: 43.1px; /* блок займёт по ширине 100% ширины родительского */
	height: 1px; /* высота самого блока */
	background: #195B9E; /* задаём нужный цвет фоном */
	transform: rotate(-90deg);
}

.find_menu ul {
	display: none;
}

.find_menu li:hover > ul {
	display: block;
}

.find_menu {
	background: #086ED7;
	background: -webkit-linear-gradient(top, #086ED7, #0658AC);
	background: -moz-linear-gradient(top, #086ED7, #0658AC);
	background: linear-gradient(to bottom, #086ED7, #0658AC);

	border-radius: 7px;
	position: relative;
	display: inline-table;
	color: #fff;
}

.find_menu li {
	float: left;
}

.find_menu li:hover {
	background-color: #086ED7;
}

.find_menu_one:hover {
	border-radius: 7px 0 0 0;
}

.find_menu li a {
	display: block;
	padding: 13px 17px;
	color: #fff;
	text-decoration: none;
	font-size: 14px;
}

.icon_down {
	background: url("../img/down.png") no-repeat right;
	margin-right: 13px;
}

.find_menu ul {
	background: #086ED7;
	border-radius: 0 0 7px 7px;
	padding: 0;
	position: absolute;
	top: 100%;
	width: 140%;
}

.menu_section li {
	float: none;
	position: relative;
	display: table-row;
}
.menu_section li:hover {
	text-decoration: underline;
	background: none;
}

.menu_section li a {
	font-size: 12px;
	margin: 5px 0 5px 10px;
	padding: 0;
}

/*Product*/
.name {
	font-size: 26px;
	font-weight: 400;
	margin-bottom: 20px;
}

.branch {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}

.branch_item {
	color: #333;
	font-size: 10px;
}

.branch_links {
	text-decoration: none;
	color: #333;
}

.branch_links:hover {
	text-decoration: underline;
	color: #0662c1;
}

.branch_next {
	margin: 0 10px;
}

.element {
	opacity: 0.7;
}


.desktop {
	display: flex
}

.product_wrapper_img {
	width: 442px;
	height: 300px;
	align-items: center;
	text-align: center;
	padding: 10px;
}

.product_img {
	height: 120px;
	cursor: pointer;
}

.product_img_active {
	border: 2px solid #f01919;
}

.product_size {
	margin-top: 2px;
	margin-bottom: 17px
}

.product_info {
	margin-top: 15px;
}

/*product_info_about*/
.product_info_about {
	width: 442px;
}

.stock {
	color: #fff;
	background-color: #b1cd03;
	max-width: 110px;
	padding: 5px 10px;
	text-align: center;
	border-radius: 7px;
}

.price {
	font-size: 13px
}

#product_price {
	font-size: 26px;
}

.enter_people {
	width: 169px;
	height: 28px;
	margin: 2px 2px 0 0;
	text-align:center;
	border: 1px solid #ccc;
	font-size: 13px;
}

.choice_size {
	display: flex;
	margin-top: 7px;
	width: 200px;
}

.size_separation {
	max-width: 30px;
	width: 100%;
	margin-right: auto;
	text-align: center;
}

.size_separation p {

}

.choice_people {
	width: 100%;
	height: 28px;
	display: flex;
	margin-left: auto;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.product_delivery {
	font-size: 13px;
	line-height: 1.4em;
	margin-top: 15px;
	max-width: 91%;
}

.product_delivery span {
	color: #b22222;
}



.margin_button {
	padding: .9375rem 10px;
    border-style: solid;
    border-width: .0625px 0;
    border-color: #e2e3e4;
    margin-top: 15px;
}

.button {
	width: 103px;
	padding: 13px 0;
	color: #fff;
	font-weight: 700;
	background: #d70000;
	border: none;
	border-radius: 7px;
	cursor: pointer;
}

.button:hover {
	background: #FC0000;
}

.button:focus {
	outline: none;
}



/*checkout*/
#checkout {
	display: none;
}

.checkout {
	position: absolute;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	display: block;
}

.checkout_test {
	position: fixed;
	widows: 400px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	padding: 15px;
	z-index: 10;

	box-shadow: 0 0 15px 2px #000;
	background: #fff;
	border-radius: 7px
}

#filter {
	background: rgba(0,0,0,.5);
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: 5;
	display: none;
}
