/*---------------Fonts---------------*/
/*@font-face{

	font-family: 'palatino';
	src: url('../fonts/palatino.eot');
	src: url('../fonts/palatino.eot?iefix') format('eot'),
	url('../fonts/palatino.ttf') format('truetype'),
	url('../fonts/palatino.svg#palatino') format('svg');
	font-weight: normal;
	font-style: normal;

	font-family: 'proxima';
	src: url('../fonts/proxima.eot');
	src: url('../fonts/proxima.eot?iefix') format('eot'),
	url('../fonts/proxima.ttf') format('truetype'),
	url('../fonts/proxima.svg#proxima') format('svg');
	font-weight: normal;
	font-style: normal;
}*/

@font-face{
    font-family: Proxima;
    src: url("../fonts/proxima.ttf");
}

@font-face{
    font-family: Palatino;
    src: url("../fonts/palatino.ttf")
}

html, html a {
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}
/*---------------Fonts---------------*/

body {
	color: #747474;
	font-size: 28px;
	margin: 0;
	padding: 0;
	cursor: default;
	overflow-x: hidden;
	font-family: 'proxima';
}

*,
*:before,
*:after {
    box-sizing: border-box;
    font-weight: 400;
}

h1, h2, h3, h4, a, p, button {
	margin: 0;
	padding: 0;
	font-family: 'palatino';
}

ul, li {
	list-style: none; /*убираем маркеры списка*/
  	margin: 0; /*убираем верхнее и нижнее поле, равное 1em*/
  	padding-left: 0; /*убираем левый отступ, равный 40px*/
}

a {
	text-decoration: none; /*убираем подчеркивание текста ссылок*/
	color: #2B2A29;
}

input, textarea {
	outline: none;
}

button:active, button:focus {
  outline: none;
}
button::-moz-focus-inner {
  border: 0;
}

.container {
	max-width: 100%;
	width: 1310px;
	margin: 0 auto;
	position: relative;
}



/* Header */
.header {
	padding-top: 54px;
}

.background {
	position: absolute;
	width: 1920px;
	height: 1080px;
	left: 0px;
	top: 0px;

	background: rgba(216, 216, 216, 0.2);
	filter: blur(15px);
}

/* menu */
.menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 170px;
}

.logo {
	width: 171px;
	height: 87px;
	/* Убираем выделение */
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
}

.nav__links {
	display: inline;
	margin-left: 63px;
}

.nav__links a {
	transition: .2s;
}

.nav__links a:hover {
	color: #545250;
	transition: .2s;
}

/* desktop */
.desktop {
	color: #403F3F;
	font-size: 32px;
}

.d_heading {
	font-size: 48px;
	margin-bottom: 37px;
	font-weight: 600;
}

.d_text {
	max-width: 1100px;
	margin-bottom: 80px;
}

.d_btn {
	color: #fff;
	width: 480px; 
	background-color: #749D35;
	padding: 20px 50px;
	border-radius: 50px;
	font-weight: 600;
}

.d_btn:hover {
	background-color: #8aac55;
}



/* Характеристики заголовка */
.heading_all {
	font-size: 48px;
	font-weight: 600;
	color: #636363;
	text-align: center;
	position: relative;
	/* Прячем часть линий, выходящие за пределы блока */
    overflow: hidden;
}

.heading_all:before,
.heading_all:after {
    /* Свойство content необходимо указывать хотя бы пустое, иначе псевдоэлементы не отобразятся */
    content: "";
    /* Свойства линий, выравнивание по центру по вертикали */
    display: inline-block;
    vertical-align: middle;
    /* Ширина - 100% и указываем толщину линии */
    width: 416px;
    height: 3px;
    /* Цвет линии */
    background-color: #AECA20;
    /* Возможность для пседоэлементов изменить позицию линии */
    position: relative;
}

.heading_all:before {
	/* Ставим левую линию слева от текста, смещая ее на 100% влево */
    margin-left: -100%;
    /* Отступ линии от заголовка */
    left: -91px;
}
.heading_all:after {
    /* Ставим правую линию справа от текста, смещая ее на 100% вправо */
    margin-right: -100%;
    /* Отступ линии от заголовка */
    right: -91px;
}



/* About_company */
.about_company {
	padding-top: 500px;
}

/* company */
.company {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 130px;
}



/* Макеты для текста и фото*/
.text_all {
	margin-right: 61px;
	line-height: 39.56px;
	line-height: 1.6em;
}

.img_all {
	border-radius: 20px;
	width: 610px;
	height: 400px;
}



/* Offer */
.offer {
	padding-top: 293px;
}

.o_first {
	display: flex;
	margin-top: 130px;
}

.f_text {
	margin-right: 82px;
}

.o_second {
	display: flex;
	margin-top: 168px;
}

.s_text {
	margin: 0 0 0 80px;
}



/* Portfolio */
.portfolio {
	padding-top: 308px;
}

/* choice_work */
.choice_work {
	margin: 0 auto;
	width: 660px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 80px;
}

.cw_checkbox {
	display: none;
}

.cw_text {
	color: #C4C4C4;
	font-size: 36px;
	font-weight: 600; 
	cursor: pointer;
	transition: .2s;
	/* Убираем выделение */
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none; 
}

.cw_text:hover {
	color: #a2a2a2;
	transition: .2s;
}

.active {
	color: #AECA20;
}

.active:hover {
	color: #97aa39;
	transition: .2s;
}

/* wrapper_slider */
/*up*/
.ws_up {
	margin-top: 95px;
	text-align: center;
}

.wu_heading {
	display: flex;
	justify-content: center;
	align-items: center;
}

.text_bussines {
	font-size: 36px;
	font-weight: 600;
	padding: 0 20px;
}

.arrow_lotte {
	width: 35px;
	height: 42px;
	opacity: 0.5;
	filter: brightness(10%);
	transition: .2s;
	cursor: pointer;
	/* Убираем выделение */
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
}

.arrow_lotte:hover {
	opacity: 0.9;
	filter: brightness(85%);
	transition: .2s;
}
/*down*/
.slider_container {
	width: 100%;
	transition: .2s;
	margin-top: 75px;
	position: relative;
}

.s_track {
	display: flex;
	transition: .2s;
	overflow: hidden;
	align-items: center;
	position: relative;
	width: 100%;
	height: 450px;
}

.s_item {
	justify-content: space-between;
	min-width: 100%;
	align-items: center;
	display: none;
	transition: .3s;
	position: absolute;
	top: 0;
	left: 0;
	height: 450px;
}

.s_active {
	display: flex;
	transition: .3s;
}

.s_info {
	height: 400px;
	display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

.s_info_all {
	margin: 0 24px 70px 0;
	line-height: 1.5em;
}

.sia_section {
	display: flex;
	flex-wrap: wrap;
    align-content: space-between;
}

.s_info_all span {
	line-height: 1.5em;
	font-weight: 600;
}

.s_info_all li:before {
	content: "– ";
}

.area {
	width: 700px;
	margin-left: auto;
}

.simg_wrapper {
	text-align: right;
	position: relative;
}

.s_img {
	position: relative;
}

.si_scrolling {
	overflow: hidden;
	display: flex;
}

.img_animation {
	width: 700px;
	height: 400px;
	border-radius: 20px;
	top: 0;
	left: 0;
	display: none;
}

.img_active {
	display: block;
}

.s_pick {
	position: absolute;
	width: 200px;
	height: 20px;
	bottom: 22px;
	left: 0;
	align-items: center;
	display: flex;
}
/*Стрелки*/
.si_arrow {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 700px;
	display: flex;
	justify-content: space-between;
}

.img_btn {
	filter: brightness(10);
	transition: .2s;
}

.img_btn:hover {
	filter: brightness(1);
	transition: .2s;
}

/*Боксы*/
.pick {
	position: relative;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background: #fff;
	left: 22px;
	margin-right: 20px;
	transition: .2;
	z-index: 1;
	cursor: pointer;
}

.pick:hover {
	opacity: 0.7;
	transition: .3s;
}

.pick_active {
	width: 20px;
	height: 20px;
	z-index: 3;
}

.pick_active:before {
	content: "";
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background: #AECA20;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: 2;
}



/* Licenses */
.licenses {
	padding-top: 316px;
}

.l_img {
	margin-top: 125px;
	width: 100%;
	height: 620px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

.lc_wrapper {
	margin: 0 auto;
}

.l_all {
	box-shadow: 0 0 8px 2px #222;
}

.l_ins {
	width: 430px;
	height: 610px;
	left: 140px;
	z-index: 1;
}

.ll_wrapper {
	display: flex;
	width: 430px;
	height: 610px;
}

.l_lic {
	width: 430px;
	height: 610px;
	z-index: 2;
}



/* Partners */
.partners {
	padding-top: 316px;
}

.logo_company {
	margin-top: 96px;
	display: flex;
	justify-content: center;
}

.lc_wrapper {
	display: flex;
	align-items: center;
}



/* Customer */
.customer {
	padding-top: 160px;
	padding-bottom: 151px;
}

.contacts {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 130px;
}

.form_wrapper span {
	font-size: 32px;
	line-height: 1.5em;
}

.form {
	display: block;
}

.f_field {
	display: block;
	width: 560px;
	padding: 18px 32px;
	border-radius: 20px;
	border: 2px solid rgba(198, 200, 196, 0.72);
	margin-top: 47px;
	font-size: 32px;
}

.f_field:hover {

}

.ff_text {
	max-width: 560px;
	min-width: 560px;
	min-height: 176px;
	max-height: 250px;
	height: 180px;
}

.f_btn {
	width: 336px;
	padding: 14px 83px;
	border: none;
	color: #fff;
	background-color: #749D35;
	border-radius: 50px;
	font-size: 32px;
	margin-top: 56px;
	cursor: pointer;
}

.f_btn:hover {
	background-color: #8aac55;
}

.c_wrapper_img {
	display: flex;
	width: 640px;
	height: 835px;
	position: relative;
	overflow: hidden;
	border-radius: 20px;
}

.c_img {
	height: 100%;
	position: absolute;
	right: -250px;
}



/* Footer */
.footer {
	position: relative;
	background-color: #FAFAFA;
	background-image: url('../img/footer/end-city.png') no-repeat center;
}

.f_info {
	height: 300px;
	padding-top: 56px;
}

.city {
	position: absolute;
	margin: 0 auto;
	bottom: 0;
}

/* nav */
.f_nav {
	display: flex;
	justify-content: center;
}

.f_nav li a {
	color: #6C6B6B;
}

.nv_l {
	margin: 0;
}
/* f_contacts */
.f_contacts {
	display: flex;
	justify-content: space-between;
	margin-top: 60px;
	align-items: center;
	font-size: 30px;
}


.telephone {
	font-size: 30px;
	font-family: 'proxima';
	color: #747474;
	margin-right: 34px;
}

.copyright {
	font-weight: 600;
}
