header {
	position: relative;
	z-index: 20;
}
.header-wrapper {
	width: 100%;
	padding: 0 70px;
	position: absolute;
	left: 0;
	top: 120px;
}
.header-body {
	width: 100%;
	display: grid;
	grid-auto-flow: column;
	justify-content: space-between;
	align-items: start;
}
.header-phone {
	display: grid;
	grid-auto-flow: column;
	grid-gap: 10px;
	align-items: center;
	color: #fff;
	font-weight: 600;
	line-height: 130%;
	margin-top: 15px;
}
.header-phone::after {
	width: 13px;
	height: 13px;
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='13' height='13' viewBox='0 0 13 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg clip-path='url(%23clip0_457_170)'%3e%3cpath d='M12.6458 9.54069L10.8316 7.7265C10.1837 7.07858 9.08225 7.33777 8.82308 8.18005C8.6287 8.76321 7.98077 9.08717 7.39764 8.95756C6.10179 8.6336 4.3524 6.94899 4.02843 5.58835C3.83406 5.00519 4.22281 4.35727 4.80594 4.16292C5.64825 3.90375 5.90742 2.80227 5.25949 2.15435L3.4453 0.34016C2.92696 -0.113387 2.14945 -0.113387 1.69591 0.34016L0.464849 1.57122C-0.766208 2.86707 0.594434 6.30107 3.63968 9.34631C6.68493 12.3916 10.1189 13.817 11.4148 12.5211L12.6458 11.2901C13.0994 10.7717 13.0994 9.99424 12.6458 9.54069Z' fill='%23C9AE6A'/%3e%3c/g%3e%3cdefs%3e%3cclipPath id='clip0_457_170'%3e%3crect width='13' height='13' fill='white'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e ");
	grid-column-start: 1;
}

.home {
	height: 1020px;
	padding: 70px 70px 0 70px;
}
.home-wrapper {
	display: flex;
	align-items: end;
	height: 100%;
	position: relative;
}
.home-bg {
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 20px;
	object-fit: cover;
	position: absolute;
	z-index: -1;
}
.home-body {
	display: grid;
	grid-template-columns: minmax(0, 720px) minmax(0, 339px);
	grid-gap: 40px;
	justify-content: space-between;
	align-items: end;
	width: 100%;
	margin-bottom: 150px;
}
.home-title {
	color: #fff;
	font-weight: 700;
	font-size: 40px;
	line-height: 130%;
}
.home-body__right {
	display: grid;
	grid-gap: 20px;
}
.home-text {
	line-height: 130%;
}
.home-link {
	display: grid;
	grid-auto-flow: column;
	grid-gap: 10px;
	justify-content: start;
	align-items: center;
	color: #c9ae6a;
	font-weight: 600;
	font-size: 17px;
	line-height: 130%;
	text-transform: uppercase;
	margin-right: auto;
}
.home-link:hover,
.home-link:focus-visible {
	color: #fff;
}
.home-link::after {
	width: 16px;
	height: 16px;
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M9.6 1.59998L8.48 2.71998L12.96 7.19998H0V8.79998H12.96L8.48 13.28L9.6 14.4L16 7.99998L9.6 1.59998Z' fill='%23C9AE6A'/%3e%3c/svg%3e ");
}
.home-link:hover::after,
.home-link:focus-visible::after {
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M9.6 1.59998L8.48 2.71998L12.96 7.19998H0V8.79998H12.96L8.48 13.28L9.6 14.4L16 7.99998L9.6 1.59998Z' fill='%23FFFFFF'/%3e%3c/svg%3e ");
}

.about-body {
	display: grid;
	grid-template-columns: minmax(0, 580px) minmax(0, 800px);
	grid-gap: 20px 40px;
}
.about-body__img {
	width: 100%;
	height: 100%;
	border-radius: 20px;
	overflow: hidden;
}
.about-body__img img {
	transition: transform 0.75s;
	transform: scale(1.15);
}
.about-body__img img:hover {
	transform: scale(1);
}
.about-body__left {
	display: grid;
	align-items: end;
	align-content: end;
}
.about-title {
	color: #656b6c;
	font-weight: 600;
	font-size: 17px;
	line-height: 130%;
	margin-bottom: 25px;
	text-transform: uppercase;
}
.about-subtitle {
	color: #fff;
	font-weight: 700;
	font-size: 30px;
	line-height: 130%;
	margin-bottom: 50px;
}
.about-body__right-block {
	position: relative;
	margin-bottom: 40px;
}
.about-body__right-text {
	line-height: 130%;
	position: absolute;
	left: 0;
	bottom: 0;
	padding: 60px 120px 60px 100px;
	pointer-events: none;
}
.about-body__right-partners {
	display: grid;
	grid-auto-flow: dense;
	grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
	grid-gap: 20px;
	justify-content: space-between;
}
.about-body__right-partners__img {
	width: 100%;
	height: 100%;
	border-radius: 15px;
	overflow: hidden;
}
.about-body__right-partners__img img {
	transition: transform 0.4s;
	transform: scale(1);
}
.about-body__right-partners__img img:hover {
	transform: scale(1.15);
}

.services {
	padding: 0;
}
.services-wrapper {
	padding: 0 70px;
}
.services-body {
	display: grid;
	grid-auto-flow: column;
	justify-content: space-between;
	align-items: end;
	margin-bottom: 50px;
}
.services-title {
	color: #fff;
	font-weight: 700;
	font-size: 40px;
	line-height: 130%;
	margin-bottom: 25px;
}
.services-subtitle {
	max-width: 460px;
	line-height: 130%;
}
.services-btns {
	display: grid;
	grid-auto-flow: column;
	grid-gap: 20px;
	margin-bottom: 5px;
}
.swiper-btn__prev,
.swiper-btn__next {
	display: grid;
	align-items: center;
	align-content: center;
	justify-content: center;
	justify-items: center;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	background-color: #1d2122;
	overflow: hidden;
	position: relative;
}
.swiper-btn__prev:not(.btn-disabled),
.swiper-btn__next:not(.btn-disabled) {
	cursor: pointer;
}
.swiper-btn__prev::after,
.swiper-btn__next::after {
	display: block;
	content: "";
	width: 100%;
	height: 100%;
	background-color: #c9ae6a;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 1;
	transform: translate(-50%, -50%) scale(0);
	transition: transform 0.5s;
}
.swiper-btn__prev:not(.btn-disabled):hover::after,
.swiper-btn__prev:not(.btn-disabled):focus-visible::after,
.swiper-btn__next:not(.btn-disabled):hover::after,
.swiper-btn__next:not(.btn-disabled):focus-visible::after {
	transform: translate(-50%, -50%) scale(1);
}
.swiper-btn__prev::before,
.swiper-btn__next::before {
	display: block;
	content: "";
	width: 16px;
	height: 16px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin: auto;
	position: relative;
	z-index: 2;
	transition: background-image 0.3s;
}
.swiper-btn__prev::before {
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M9.6 1.60001L8.48 2.72001L12.96 7.20001H0V8.80001H12.96L8.48 13.28L9.6 14.4L16 8.00001L9.6 1.60001Z' fill='%23C9AE6A'/%3e%3c/svg%3e ");
	transform: rotate(180deg);
}
.swiper-btn__prev.btn-disabled::before {
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M9.6 1.60001L8.48 2.72001L12.96 7.20001H0V8.80001H12.96L8.48 13.28L9.6 14.4L16 8.00001L9.6 1.60001Z' fill='%23656B6C'/%3e%3c/svg%3e ");
}
.swiper-btn__prev:not(.btn-disabled):hover:before,
.swiper-btn__prev:not(.btn-disabled):focus-visible:before {
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M9.6 1.60001L8.48 2.72001L12.96 7.20001H0V8.80001H12.96L8.48 13.28L9.6 14.4L16 8.00001L9.6 1.60001Z' fill='%231D2122'/%3e%3c/svg%3e ");
}
.swiper-btn__next::before {
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M9.6 1.60001L8.48 2.72001L12.96 7.20001H0V8.80001H12.96L8.48 13.28L9.6 14.4L16 8.00001L9.6 1.60001Z' fill='%23C9AE6A'/%3e%3c/svg%3e ");
}
.swiper-btn__next.btn-disabled::before {
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M9.6 1.60001L8.48 2.72001L12.96 7.20001H0V8.80001H12.96L8.48 13.28L9.6 14.4L16 8.00001L9.6 1.60001Z' fill='%23656B6C'/%3e%3c/svg%3e ");
}
.swiper-btn__next:not(.btn-disabled):hover:before,
.swiper-btn__next:not(.btn-disabled):focus-visible:before {
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M9.6 1.60001L8.48 2.72001L12.96 7.20001H0V8.80001H12.96L8.48 13.28L9.6 14.4L16 8.00001L9.6 1.60001Z' fill='%231D2122'/%3e%3c/svg%3e ");
}
.services-swiper {
	width: 100%;
	padding: 0 calc(((100% - 1420px) / 2));
}
.services-card {
	display: grid;
	width: 580px;
	border-radius: 20px;
	overflow: hidden;
	position: relative;
	cursor: pointer;
}
.services-card__info {
	display: grid;
	grid-auto-flow: column;
	grid-gap: 20px;
	align-items: end;
	justify-content: space-between;
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
	padding: 35px 40px;
}
.services-card__info::after {
	display: block;
	content: "";
	width: 16px;
	height: 16px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M9.6 1.6001L8.48 2.7201L12.96 7.2001H0V8.8001H12.96L8.48 13.2801L9.6 14.4001L16 8.0001L9.6 1.6001Z' fill='white'/%3e%3c/svg%3e ");
	margin-bottom: 3px;
}
.services-card__name {
	max-width: 400px;
	color: #fff;
	font-weight: 600;
	font-size: 17px;
	line-height: 130%;
	text-transform: uppercase;
}
.services-card__img {
	transform: scale(1.15);
	transition: transform 0.65s;
}
.services-card:hover .services-card__img,
.services-card:focus-visible .services-card__img {
	transform: scale(1);
}
.services-pagination {
	display: none;
}

footer {
	padding: 0 70px 70px 70px;
}
.contact-body {
	display: grid;
	grid-template-columns: 1fr minmax(0, 580px);
	justify-content: space-between;
	align-items: start;
	margin-bottom: 50px;
}
.contact-title {
	color: #656b6c;
	font-weight: 600;
	font-size: 17px;
	line-height: 130%;
	text-transform: uppercase;
	margin-bottom: 25px;
}
.contact-body__left {
	display: grid;
	justify-items: start;
}
.contact-phone {
	color: #fff;
	font-weight: 700;
	font-size: 40px;
	line-height: 130%;
	margin-bottom: 10px;
}
.contact-email {
	font-weight: 600;
	line-height: 130%;
	margin-bottom: 30px;
}
.contact-download {
	display: grid;
	grid-auto-flow: column;
	grid-gap: 10px;
	align-items: center;
	justify-content: start;
	color: #c9ae6a;
	font-weight: 600;
	font-size: 17px;
	line-height: 130%;
	text-transform: uppercase;
}
.contact-download:hover,
.contact-download:focus-visible {
	color: #fff;
}
.contact-download::after {
	width: 16px;
	height: 16px;
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M13.7775 13.8674H2.22699C1.87423 13.8674 1.58743 14.1565 1.58743 14.507V15.3605C1.58743 15.7132 1.87649 16 2.22699 16H13.7729C14.1257 16 14.4125 15.7109 14.4125 15.3605V14.507C14.4193 14.1519 14.1303 13.8674 13.7775 13.8674ZM7.555 12.7226C7.68019 12.8478 7.84406 12.9115 8.00564 12.9115C8.08955 12.9116 8.17262 12.8949 8.25 12.8625C8.32738 12.8301 8.39751 12.7825 8.45628 12.7226L12.8307 8.34822C13.0788 8.10016 13.0788 7.69504 12.8307 7.44239L12.2253 6.83698C11.9772 6.58889 11.5721 6.58889 11.3194 6.83698L9.07079 9.08792V0.63956C9.07079 0.286771 8.78173 0 8.43126 0H7.57776C7.225 0 6.9382 0.28448 6.9382 0.63956V9.09018L4.68729 6.83925C4.4392 6.59118 4.03181 6.59118 3.78146 6.83925L3.17605 7.44465C2.92799 7.69272 2.92799 8.10013 3.17605 8.35048L7.555 12.7226Z' fill='%23C9AE6A'/%3e%3c/svg%3e ");
}
.contact-download:hover::after,
.contact-download:focus-visible::after {
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M13.7775 13.8674H2.22699C1.87423 13.8674 1.58743 14.1565 1.58743 14.507V15.3605C1.58743 15.7132 1.87649 16 2.22699 16H13.7729C14.1257 16 14.4125 15.7109 14.4125 15.3605V14.507C14.4193 14.1519 14.1303 13.8674 13.7775 13.8674ZM7.555 12.7226C7.68019 12.8478 7.84406 12.9115 8.00564 12.9115C8.08955 12.9116 8.17262 12.8949 8.25 12.8625C8.32738 12.8301 8.39751 12.7825 8.45628 12.7226L12.8307 8.34822C13.0788 8.10016 13.0788 7.69504 12.8307 7.44239L12.2253 6.83698C11.9772 6.58889 11.5721 6.58889 11.3194 6.83698L9.07079 9.08792V0.63956C9.07079 0.286771 8.78173 0 8.43126 0H7.57776C7.225 0 6.9382 0.28448 6.9382 0.63956V9.09018L4.68729 6.83925C4.4392 6.59118 4.03181 6.59118 3.78146 6.83925L3.17605 7.44465C2.92799 7.69272 2.92799 8.10013 3.17605 8.35048L7.555 12.7226Z' fill='%23FFFFFF'/%3e%3c/svg%3e ");
}
.contact-city {
	color: #fff;
	font-weight: 700;
	font-size: 40px;
	line-height: 130%;
	margin-bottom: 10px;
	text-transform: uppercase;
}
.contact-street {
	font-weight: 600;
	line-height: 130%;
}
.contact-map {
	width: 100%;
	height: 500px;
	border-radius: 20px;
	overflow: hidden;
}
.contact-map iframe {
	width: 100%;
	height: 100%;
	border: 0;
	outline: 0;
}
