body {
    height: 100%;
    color: #222;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background: #fff;
    cursor: default;
    padding-top: 70px;
}
*,
*:after,
*:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
}
li {
    list-style-type: none; /* Убираем маркеры */
}
ul {
    margin-left: 0; /* Отступ слева в браузере IE и Opera */
    padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
}
h1, h2, h3 {
    font-family: 'Open Sans', sans-serif;
}
button, input {
    font-family: 'Roboto', sans-serif;
}
/* Контайнер */
.container {
    max-width: 100%;
    width: 1170px;
    margin: 0 auto;
    z-index: 1;
}



/* Шапка */
.header_cap {
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
    background: #fff;
    z-index: 10;
    transition: all 0.2s linear;
}
.cap_active_none {
    transform: translateY(-100%);
    z-index: 10;
}
.cap_wrapper {
    display: flex;
    height: 70px;
    align-items: center;
    padding: 2px 0;
}
.logo {
    height: 50px;
    align-items: center;
    border-radius: 15px;
    box-shadow: 0 0 10px 1px #555;
    transform: scale(1.05);
    transition: all 0.2s linear;
}
.logo:hover {
    opacity: 0.95;
    transform: scale(1.04);
    box-shadow: 0px 0px 10px 0.5px #555;
    transition: all 0.2s linear;
}
.nav_menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    /*Убрать выделение*/
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;  
}



/* Общии настройки */
.ul_wrapper {
    display: flex;
}
.a_links {
    color: #222;
    text-decoration: none;
    margin-left: 40px;
    transition: 0.2s linear;
    font-weight: 500;
}
.a_links:hover {
    color: rgb(10, 186, 181);
    transition: 0.2s linear;
}
.none {
    margin: 0 6px;
}
/*Личный кабинет*/
.personal_wrapper {
    position: relative;
}
.personal_block {
    position: absolute;
    width: 150px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 0 15px 0.5px #555;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px;
    align-items: center;
    text-align: center;
    display: none;
}
.personal_block a {
    margin: 0;
}
.personal_block li {
    line-height: 3em;
}
.user_links {
    margin: 0;
    position: relative;
    cursor: pointer;
}
.user_links:before {
    content: "";
    width: 100%;
    height: 1.4px;
    z-index: 1;
    background: #222;
    position: absolute;
    bottom: -2px;
    left: 0;
    transition: all 0.2s linear;
}
.user_links:hover:before {
    background: rgb(10, 186, 181);
    transition: all 0.2s linear;
}
.heading {
    font-size: 38px;
    display: flex;
    justify-content: center;
    margin: 10px 0;
}
.links {
    text-decoration: none;
    color: #8a82ff;
    border: none;
    transition: 0.2s linear;
}
.links:hover {
    color: #5f54fc;
    border-bottom: 1px #5f54fc dashed;
    transition: 0.2s linear;
}



/* Главынй экран */
.header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: #fff;
}
.header_info {
    color: #fff;
    width: 100%;
    background: url('../img/header/desktop_info.svg') no-repeat top center;
}
.info_wrapper {
    width: 100%;
    height: 530px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.iw_heading {
    font-size: 22px;
}
.iw_text {
    font-size: 12px;
    margin-top: 7px;
    color: #ccc;
}
.link_changing {
    border-bottom: 1px #ccc dashed;
    transition: 0.2s linear;
    cursor: pointer;
    /*Убрать выделение*/
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;  
}
.link_changing:hover {
    color: #fff;
    border-bottom: 1px #fff dashed;
    transition: 0.2s linear;
}

    /*Размещение задания*/
.help_find {
    width: 650px;
    height: 53px;
    position: relative;
    align-items: center;
    margin-top: 15px;
    border-radius: 10px;
    transition: 0.15s linear;
}
.help_find:hover {
    box-shadow: 0 0 10px 1px rgb(10, 186, 181);
    border-radius: 10px;
    transition: 0.15s linear;
}
.hf_field {
    color: #444;
    width: 100%;
    font-size: 20px;
    padding: 15px;
    border-radius: 10px;
    position: relative;
}
.hff_active {
    box-shadow: 0 0 10px 5px rgb(10, 186, 181);
}
.hf_btn {
    color: #fff;
    width: 140px;
    font-size: 18px;
    padding: 15px;
    position: absolute;
    right: 1.9px;
    top: 1.9px;
    border-radius: 10px;
    background: #222;
    transition: 0.2s linear;
}
.hf_btn:hover {
    background: rgb(10, 186, 181);
}

    /* Слйдер услуг */
.img_task {
    width: 310px;
    cursor: pointer;
}
.img_task:hover {
    opacity: 0.8;
}
/* Слайдер */
.slick-slider{}
/* Слайдер запущен */
.slick-slider.slick-initialized{}
/* Слайдер с точками */
.slick-slider.slick-dotted{}
/* Ограничивающая оболочка */
.slick-list {
    overflow: hidden;
}
/* Лента слайдов */
.slick-track{
    display: flex;
    align-items: center;
}
/* Слайд */
.slick-slide{}
/* Слайд активный (показывается) */
.slick-slide.slick-active{
    opacity: 0.7;
}
/* Слайд основной */
.slick-slide.slick-current{
}
/* Слайд по центру */
.slick-slide.slick-center{
    opacity: 1;
}
/* Клонированный слайд */
.slick-slide.slick-cloned{}
/* Стрелка */
.slick-arrow{
    position: absolute;
    margin: -45px 0 0 0;
    top: 50%;
    z-index: 5;
    font-size: 0;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    cursor: pointer;
}
/* Стрелка влево */
.slick-arrow.slick-prev {
    left: 0;
    background: url('../img/header/btn/left.png') 0 0 / 100% no-repeat;
    transition: all 0.2s linear;
}
.slick-arrow.slick-prev:hover {
    transform: scale(1.05)
}
/* Стрелка вправо */
.slick-arrow.slick-next {
    right: 0;
    background: url('../img/header/btn/right.png') 0 0 / 100% no-repeat;
    transition: all 0.2s linear;
}
.slick-arrow.slick-next:hover {
    transform: scale(1.05)
}
/* Стрелка не активная */
.slick-arrow.slick-disabled{}
/* Точки (булиты) */
.slick-dots{
    display: flex;
    align-items: center;
    justify-content: center;
}
.slick-dots li{}
/* Активная точка */
.slick-dots li.slick-active{}
/* Элемент точки */
.slick-dots li button{
    font-size: 0;
    width: 15px;
    height: 15px;
    background: #000;
    border-radius: 50%;
    cursor: pointer;
    margin: 5px 5px;
}
/* Активная точка */
.slick-dots li.slick-active button{
    background: rgb(10, 186, 181);
    border: 1.5px solid #000;
    box-shadow: 0 0 10px 0.2px rgb(10, 186, 181);
    transition: all 0.2s linear;
}
/*Конкретный слайдер*/
.slider_wrapper {
    max-width: 100%;
    width: 1200px;
    margin: 0 auto;
    z-index: 1;
}
.slider {
    position: relative;
    padding: 0 65px;
}
.slider__item {
    text-align: center;
    align-items: center;
    opacity: 0.5;
    transition: all 0.2s linear;
}



/* Заявка */
.application {
    padding-top: 40px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.wrapper {
    display: flex;
}
.field_wrapper {
    max-width: 100%;
    width: 700px;
    background: #fafafa;
    box-shadow: 2px 1px 10px 1px #c1c1c1;
    margin: 0 70px 0 0;
    border-radius: 10px;
    padding: 45px 45px 20px 45px;
    color: #787878;
    font-size: 16px;
}
.request {
    color: #000;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 20px;
}
.field_heading {
    margin-bottom: 10px;
}
.field_all {
    font-size: 18px;
    outline: none;
    width: 100%;
    padding: 10px 20px;
    border: 1px solid #c9c9c9;
    border-radius: 7px;
    margin-bottom: 20px;
}
.field_describe {
    max-width: 100%;
    min-width: 100%;
    max-height: 400px;
    min-height: 70px;
}
.contacts {
    color: #000;
    margin-bottom: 20px;
}
.field_name {
    text-transform: capitalize;
}
.btn_form {
    width: 300px;
    color: #fff;
    border: none;
    border-radius: 7px;
    padding: 20px 50px;
    outline: none;
    background: #222;
    font-size: 18px;
    margin: 20px 0;
    transition: 0.2s linear;
}
.btn_form:hover {
    background: rgb(10, 186, 181);
    transition: 0.2s linear;
}
.confirmation {
    padding: 10px;
}
.confirmation_flex {
    display: flex;
    align-items: center;
}
.checkbox_confirmation {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    margin-right: 10px;
}
.trailer_owner {
    display: flex;
}
.OSAGO, .CASCO, .accident {
    display: none;
}

    /* Оформление FAQ */
.heading_faq {
    margin: 60px 0 10px 5px;
}
.questions {
    font-size: 16px;
    line-height: 1.5em;
    position: relative;
    transition: 0.2s linear;
}
.questions:hover {
    color: #494848;
    transition: 0.2s linear;
}

.questions:hover::after { 
    content: attr(data-title); /* Выводим текст */
    position: absolute; /* Абсолютное позиционирование */
    left: 15%; top: 20px; /* Положение подсказки */
    z-index: 1; /* Отображаем подсказку поверх других элементов */
    background: rgba(43,43,36,0.95); /* Полупрозрачный цвет фона */
    font-family: Arial, sans-serif; /* Гарнитура шрифта */
    padding: 5px 10px; /* Поля */
    font-size: 13.5px;
    line-height: 1.3em;
    color: #fff;
    border: 1px solid #333; /* Параметры рамки */
    border-radius: 7px;
}

.q_grey {
    color: #787878;
}



/* Пользователь */
.authentication {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.user_wrapper {
    width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.user_heading {
    margin-bottom: 5px;
}
.user_field {
    width: 100%;
    color: #222;
    background: #fff;
    border: 1px #222 solid;
    font-size: 18px;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
}
.user_btn {
    font-size: 18px;
    padding: 15px 20px;
    color: #fff;
    background: #222;
    border-radius: 10px;
    transition: 0.2s linear;
}
.user_btn:hover {
    background: rgb(10, 186, 181);
    transition: 0.2s linear;
}

    /* Личный кабинет */
.personal {
    padding-top: 40px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.personal_wrapper {
    display: flex;
    justify-content: space-between;
}
    /*Данные*/
.profile {
    width: 100%;
    margin-right: 10px;
}
.views {
    width: 250px;
    color: #787878;
    background-position: 2px;
    text-align: left;
    padding-left: 25px;
    margin-left: auto;
    font-weight: 700;
    align-items: center;
    position: relative;
}
.views:before {
    content: '';
    display: block;
    background: url('../img/eye.svg') no-repeat;
    background-size: 20px;
    width: 20px;
    height: 20px;
    left: 0;
    top: -2px;
    position: absolute;
}

.avatar_wrapper {
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
}
    /*Фото*/
.avatar {
    width: 200px;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}
.a_img {
    width: 100%;
    height: 200px;
    background: url('../img/people.svg') no-repeat center;
    background-size: 100%;
    border-radius: 10px;
    border: 1.4px #e4e4e4 solid;
}
.a_add {
    text-align: left;
    margin-top: 10px;
    color: #222;
    background: #FFFFFF;
    background: -webkit-linear-gradient(top, #FFFFFF, #bfbfbf);
    background: -moz-linear-gradient(top, #FFFFFF, #bfbfbf);
    background: linear-gradient(to bottom, #FFFFFF, #bfbfbf);
    padding: 10px 20px 10px 31px;
    border-radius: 5px;
    border: 1.4px #e4e4e4 solid;
    position: relative;
    z-index: 1;
    text-decoration: none;
    align-items: center;
    transition: all 0.2s linear;
}
.a_add:hover {
    background: #FFFFFF;
}
.a_add:before {
    content: "";
    display: block;
    width: 21px;
    height: 21px;
    position: absolute;
    left: 8px;
    top: 15px;
    margin-top: -7px;
    background: url('../img/camera.svg') no-repeat;
    background-size: 20px;
    z-index: 10;
}
    /*Подтвержденные данные*/
.confirmed {
    height: 700px;
    min-width: 300px;
    max-width: 280px;
    border: 1.4px #e4e4e4 solid;
    border-radius: 10px;
    align-items: center;
    padding: 20px;
}



/* Подвал */
.footer {
    margin-top: 50px;
    padding: 40px 0;
    background: #fff;
    box-shadow: 0 1px 10px 1px #c1c1c1;
    width: 100%;
    flex: 0 0 auto;
}

.f_column {
    width: 85%;
    display: flex;
    justify-content: space-between;
}
.c_deparment {
    display: flex;
    flex-direction: column;
}
.cd_margin {
    margin-bottom: 30px;
}
.f_links {
    color: #222;
    margin-bottom: 35px;
    text-decoration: none;
    transition: 0.2s linear;
}
.f_links:hover {
    color: rgb(10, 186, 181);
    transition: 0.2s linear;
}
.c_contacts {
    margin-top: 10px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.c_regulations {
    font-size: 20px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    color: #000;
}
.link_social {
    margin-left: 15px;
}
.img_social {
    height: 32px;
    filter: grayscale(100%);
    transition: 0.2s linear;
}
.img_social:hover {
    filter: grayscale(0%);
    transition: 0.2s linear;
}